[2017-11-27 09:15] AnotherLife commented on #435
I think that's how Doom is in general. Sometimes the stair thing makes extreme noise!

[2017-11-27 21:46] ice44 commented on #435
Thanks for the reply! I had a chance to play the map again using both versions and I do think it is the distortion. Especially when the Mancubus' are being hit.

[2017-11-28 01:53] ice44 opened #436 "Flickering flaming Barrel sprites"
https://www.youtube.com/watch?v=S4s6-xR3cf8&feature=youtu.be

Found a little bug. Flaming barrel sprites seem to be offset a bit.

[2017-11-28 04:24] bradharding commented on #436
Thanks for this. What WAD(s) are you using? In the standard IWADs this should be fine. But if sprite is replaced in a PWAD, then this could be the reason. You can turn the `r_fixspriteoffsets` CVAR off.

[2017-12-06 22:26] bradharding commented on #435
There have been other reports of sound problems. Could you please test the following build and let me know how you go? https://www.dropbox.com/s/fmv0da5g02r6wd4/doomretro-2.6test1-win32.zip?dl=1

[2017-12-08 04:26] ice44 commented on #435
Sure, I'll right on it as soon as I can

[2017-12-08 05:25] bradharding commented on #435
Start with MAP07 in DOOM II, the map you first mentioned, please. I'm hoping you'll notice the improvement in sound right away.

[2017-12-17 09:26] bradharding opened #437 "Making widescreen and mouselook on by default"
Hi everyone. Over the past four years DOOM Retro has evolved from a clunky source port relatively close to Vanilla, to a [hopefully] less clunky source port with quite a unique collection of features. It is less "vanilla" but certainly still "retro". In developing this port, as I've implemented features I've grown more accustomed to them. Mouselook is one of these. I'm pleased with how DR's mousel

[2017-12-17 09:52] JNechaevsky commented on #437
Hello, Brad! Here's my thoughts about these cases:

**Widescreen**
This one is neat. Nowadays we have a big 25"++ FullHD monitors, and don't having a black blocks in the right and left sides of the screen is a certainly good idea. But needles to say that middle-resoultion pixels size should be preserved, it have some kind of... charm. Overall it's like a: the more "Doom" we have on the screen, the

[2017-12-17 14:12] AnotherLife commented on #437
There is no way to have a key like Q as "hold to mouselook" button? And then when you let it go, it snaps back to centered? I liked that in ZDoom.

Anyway, if it was my port I would keep Messages to On by default, and replace that option with a Mouselook On/Off toggle in the Options.

Anyway, if you make Mouselook the default people will find it weird that the view is skewed because they will thin

[2017-12-18 07:56] bradharding commented on #437
Thanks for your feedback guys. You both make some good points. I'll ponder on it some more, but it seems it would be best not to have mouselook on as default.

This actually is possible. Use `bind q +mouselook`. :grin:

[2017-12-18 16:58] AnotherLife commented on #437
Ah, OK, I now put mouse2 as +mouselook, even better.

But aren't you going to disable autoaim when mouselook is enabled? I think I had mentioned this at some point but don't remember the response.

[2017-12-18 17:40] bradharding commented on #437
I may look at having a separate autoaim cvar.

[2017-12-19 13:34] AnotherLife commented on #437
But when I let go of the right mouse button and it reverts to normal, I do want autoaim then! I only want autoaim disabled when I am manually aiming :D

[2017-12-19 17:17] bradharding commented on #437
Yes, that's what I've done. The new autoaim cvar is only effective while mouselook is in use: either because the mouselook cvar is on, or the control the +mouselook action is bound to is held down.

[2017-12-22 11:14] JNechaevsky commented on #437
Ah yes, about the messages. I've also would like to recommend to turn them on by default. Let me please explain why...

Yep, they can be not very informative nowadays, we know already that Box of Shells gives 20 shells and so on. But the value of these messages is in the other aspect - they are an "integral part" of the original game content. Just like in-iwad demos.

Keeping _at least_ in-iwad de

[2017-12-22 14:21] AnotherLife commented on #437
Hm? Having messages on or off by default doesn't have anything to do with vanilla demo compatibility.

[2017-12-22 14:23] JNechaevsky commented on #437
Yes. I was talking about demos as an example.

[2017-12-23 17:25] Kroc opened #438 "Support `-shotdir` for selecting directory to save screenshots."
This is supported by Z-based engines & PrBoom+, and I hope eventually all other engines.

edit: I have filed this same bug on Chocolate-doom: https://github.com/chocolate-doom/chocolate-doom/issues/944

[2017-12-23 23:52] bradharding commented on #438
Done! Thanks @Kroc. See commit 5cfdcbbe9d073ce863db9394b34dd8456e4b2949.

[2017-12-23 23:52] #438 closed

[2017-12-24 15:56] Kroc commented on #438
Any chance you could create a PR for chocolate-doom? They've agreed to add the feature but nobody's done it yet, and if it's added to Chocolate Doom, then that will cover Crispy Doom as well, leaving Doom64 EX as the only engine without `-shotdir` (they too have agreed to it, but that project's dead ATM)

[2018-01-02 10:05] JNechaevsky opened #439 "Small problem with "vanilla" mode"
Hello, Brad!

There is a small problem with window title in the windowed mode after disabling "vanilla" mode. It goes slightly out of desktop's vertical bounds. Steps to reproduce:

1. Start Doom Retro normally.
2. Switch to windowed mode.
3. Slightly move around or slightly resize game window.
4. Enter "vanilla" mode and leave "vanilla" mode.
5. Window title will be slightly out of bound in the t

[2018-01-03 05:06] bradharding commented on #439
Thanks for this. I don't think it's `vid_widescreen` related, though, since it occurs if you switch to vanilla mode before starting a game.

[2018-01-03 06:45] bradharding commented on #439
Thanks again! Fixed in commit 5d4ab5c0a9c884f9250b04e7b76a35c3d8124534.

[2018-01-03 06:45] #439 closed

[2018-01-16 18:34] jasoncarlough opened #440 "Mac build is not compiling"
I tried compiling the latest code today and Xcode is giving me some errors possibly related to commit a8d4c433bfb599580e527a0df207ac8a5607a678 . Oddly i'm only have problems with m_misc and not any of the other files that were changed.

/Users/jasoncarlough/GitHub/doomretro/src/m_misc.c:134:6: Conflicting types for 'M_FileExists'
/Users/jasoncarlough/GitHub/doomretro/src/m_misc.h:52:6: Previous de

[2018-01-16 19:46] bradharding commented on #440
Thanks for letting me know, Jason. Could you please test again with the change I just commited (4f1cd946440c721f0563aa89cb7d976f381212af). Failing this I may need to revert change back to `dboolean` altogether.

[2018-01-16 21:08] jasoncarlough commented on #440
Unfortunately, that didn’t change anything for me.

[2018-01-16 21:16] bradharding commented on #440
Thanks. Could you please try the following then? In `doomtype.h`, change this line:

[code]

to this:

[code]

[2018-01-16 21:18] jasoncarlough commented on #440
Nothing changed, still getting the same errors.

[2018-01-16 21:21] bradharding commented on #440
Thanks again. Looks like I'll be working on reverting the changes I made in a8d4c433bfb599580e527a0df207ac8a5607a678 then...

[2018-01-16 21:24] jasoncarlough commented on #440
I’ll try to see if i can figure anything out in the meantime, I’ll be going to bed pretty soon though.

[2018-01-16 21:29] jasoncarlough commented on #440
So… I just tried commenting out all 8 of the “conflicting” definitions in m_misc.h and it seems to be compiling and working now.

[2018-01-16 21:51] bradharding commented on #440
Oh, that's interesting. But we can't leave those commented out. It won't compile at my end. When you're able, can you please try this? In `m_misc.c`, move the following block of code:

[code]

to *below* this block of code:

[code]

Also, another thing to try is to add this: `#include "doomtype.h"`.

[2018-01-16 21:58] jasoncarlough commented on #440
Hmmm, well that had an effect at least but now I am getting a whole pile of undeclared identifier errors instead.

[2018-01-16 22:01] jasoncarlough commented on #440
If I move everything but i_system.h it compiles and runs.

[2018-01-16 22:03] jasoncarlough commented on #440
without commenting out the headers

[2018-01-16 22:11] bradharding commented on #440
Thanks again for your help Jason! I'll commit these changes shortly.

[2018-01-17 17:02] jasoncarlough commented on #440
It turns out that even though I was able to compile and run the build in Xcode. The standalone app bundle does not work. This appears to have been the issue when I thought it working after simply commenting out the troublesome header definitions.

When I try to run Doom Retro, the wad picker comes up but after choosing a wad the program crashes.

"id_fullscreen o not available".

I went back and d

[2018-01-17 19:51] bradharding commented on #440
I'll work on reverting those changes in commit a8d4c433bfb599580e527a0df207ac8a5607a678 then.

[2018-01-17 22:25] jasoncarlough commented on #440
Great, I just tested the latest build (outside of the Xcode this time) with a few different pwads and everything seems to be working fine. Thanks.

[2018-01-17 23:29] bradharding commented on #440
Thanks so much for your help! :grin:

[2018-01-17 23:29] #440 closed

[2018-01-18 06:53] jasoncarlough commented on #437
I'm glad we have the option for widescreen and mouse look but I like the defaults as they are. I usually play Doom on my laptop with just my keyboard and even though I use widescreen once in a while I usually find myself going back to 5:4. I kind of feel like the traditional hub (with all it's pwad variations) is part of the character of Doom Retro.

Maybe you could make the Vanilla mode variable

[2018-01-22 23:21] Steampunkery opened #441 "DOOM retro can't find flats section"
I was trying to use the [Ancient Aliens ](https://www.doomworld.com/idgames/levels/doom2/Ports/megawads/aaliens) wad, but when I launch the game with `doomretro -iwad aaliens.wad` I get "Flats section not found in IWAD". My operating system is Ubuntu 17.10. After getting this message, I re-cloned the latest source and it built without errors, but I still got the errors. I also get this error with

[2018-01-23 04:40] bradharding commented on #441
The correct way to load a PWAD like Ancient Aliens with DOOM Retro is to use the following: `doomretro -iwad doom2.wad -file aaliens.wad`. To load an IWAD (doom.wad, doom2.wad, tnt.wad, plutonia.wad) use just: `doomretro -iwad doom.wad`. These command-line options are common to all DOOM source ports.

[2018-01-23 04:40] #441 closed

[2018-01-25 21:23] JNechaevsky opened #442 "Wall textures are oddly moving vertical"
Just noticed an odd bug with wall textures behind moving ceilings in released version 2.6.5. Pay attention to the `DOORTRAK` texture and wall textures behind the door:

- https://youtu.be/-OzppY-vQrM

It feels like vertical offsets are changing in dependence of the height of the sector that is placed in front of player. Sorry, not sure how to say this more correct.

[2018-01-25 23:31] bradharding commented on #442
I was waiting for someone to pick up on this! This slight shifting of textures beyond a moving platform is due to a small hack I've had in place for quite a while that eliminates many "sparkles" (extraneous randomly-colored pixels) at the bottom of many wall textures, especially doors. For example, here's what you would often see without the hack applied (first door in E1M1):

![image](https://use

[2018-01-26 07:45] JNechaevsky commented on #442
Ah, that's it, thank you for explanation! Yep, I think I saw these sparkles before, but was absolutely sure that they are also related to the cases, that we have discussed in email few weeks ago. AFAIR, another notable place that having sparkles is right on Entryway map:

![](http://screenshot.ru/upload/images/2018/01/26/anotherd59cc.png)

_Screenshot is from vanilla engine, but it is fixed in Doo

[2018-01-26 08:20] bradharding commented on #442
Unfortunately this will bring back a majority of those stray pixels, mostly (and most noticeably) under doors. :/

[2018-01-27 20:14] JNechaevsky commented on #442
Oooh, I see now. Even one-sided linedefs are also affected ([screenshot](http://screenshot.ru/upload/images/2018/01/27/sparksd9a8a.png) of E2M2). Must admit that once these sparkles have seen, they can't be UNseen. :confused:

I'm still thinking about upscaling all wall and floor textures to exactly one texel, it probably will fix this issue entirely without any consequences, but something tells m

[2018-01-27 21:56] bradharding commented on #442
I'm working on a different solution right now. It still is a bit of a hack, but has no noticeable side-effects.

[2018-01-28 00:09] bradharding commented on #442
All fixed! I've moved the hack into r_segs.c, so now 1-sided midtextures aren't adjusted at all.

[2018-01-28 00:09] #442 closed

[2018-02-03 12:13] emileb commented on #356
It should be using SDL TextInput for console text input: https://wiki.libsdl.org/Tutorials/TextInput

[2018-02-03 19:50] bradharding commented on #356
Yes, I've been meaning to get onto this. I'll start working on it soon. 😀

[2018-02-04 05:38] bradharding commented on #356
Julia, could you please test with the latest changes and let me know how you go?

[2018-02-04 14:42] JNechaevsky commented on #356
Sure, gladly! The only problem at the moment - I'm out of Visual Studio. Downloading and installing will take some time, so I will check this case just in few hours.

[2018-02-04 16:44] bradharding commented on #356
Oh, no need to go to that much trouble. It will be several hours (I'm about to go to work) but I can upload a binary for you.

[2018-02-04 18:11] JNechaevsky commented on #356
It's okay, I've got it already and compiled 2.6.6 :) Just need some more time - I've almost finished counter of Lifes for Beta, can't break now. Will start with proper testing very very soon.

[2018-02-04 20:08] JNechaevsky commented on #356
Aha, finally tested this case, in both console and save game fields.

Now it's seems to be working more strict: while I have Russian layout, no keys with alphabetic chars are accepted (non-alphabetic keys are still accepting fine). English layout is working fine, with and without `SHIFT` button.

[2018-02-06 07:22] JNechaevsky commented on #356
I have to agreed. Also, I forgot about one thing: upon starting saving game, DR automatically places level's name as a save's name, which is eliminates necessity of changing layout in most common cases.

[2018-02-06 07:44] #356 closed

[2018-02-06 18:31] emileb commented on #356
Wow that was quick! It's fixed the issue, thank you!

[2018-02-16 22:08] ice44 opened #443 "Keys not showing up on statusbar"
When playing in normal 4:3 mode, keys and/or skulls will not show up on the statusbar.

tested using Doom 1 and Plutonia.

p.s. sorry for being unable to get back to you earlier, had some irl problems but things have started to get better. Thanks for the great source-port.

[2018-02-16 22:48] bradharding commented on #443
Thanks for the report @ice44. Double checking myself, though, keys _do_ appear in the status bar when you pick them up. What I think may be confusing you is the changes that DOOM Retro has made to the `IDKFA` cheat: it will only give you the keys that are present on the current level, rather than all of them. So in a level such as E1M1, where there are no keys, the `IDKFA` cheat will give you no k

[2018-02-17 01:59] AnotherLife commented on #443
A Dehacked mod can make monsters drop keys. So maybe if a player is stuck and can't get the key because it didn't have room to spawn or something, then he can't use the cheat to get the key?

[2018-02-17 04:30] bradharding commented on #443
I suppose in this rare instance, the player can use `give redkeycard`, etc.

[2018-02-17 06:18] bradharding commented on #443
But.... on further consideration.... I think I'll change the behavior of the `IDKFA` cheat after all. 😬

[2018-02-17 19:04] ice44 commented on #443
That is not the issue I am having. The keys refuse to display on the 4:3 statusbar, they remain blank even after picking them up. But they _do_ display correctly on the widescreen hud.

[2018-02-17 19:59] bradharding commented on #443
Unfortunately I can't replicate this: keys picked up display in the 4:3 statusbar fine for me. The red keycard in E1M2 for instance. What version of DR are you using? Are you using a savegame? Could you please provide a step-by-step example of this happening?

[2018-02-17 20:53] bradharding commented on #443
Update: Ok, I think I've figured out what you're talking about. It seems it only affects skull keys in the 4:3 status bar, and I'll have a fix shortly. Thanks again, @ice44!

[2018-02-23 07:34] JNechaevsky opened #444 "Small idea for new Retro HUD"
It's about ammo. There is no backpack indication now, so maybe it is worth to add it? The idea is - if player have backpack, show different ammo sprites like:

Clip > Box
4 Shells > Box of Shells
Rocket > _still_ rocket
Cell charge > Cell charge pack

Just like logics like: "Aha, now I have backpack, so I can carry more heavy ammo boxes and crates!".

As about rocket - I think box sprite is too bi

[2018-02-23 17:34] AnotherLife opened #445 "Problem when setting ammmo to Infinite with Dehacked"
[code]

With these changes the pistol starts with 50 and after each shot it gets decreased till it reaches 0, then keeps firing. OK but if I switch to the Fists then I can't switch to the pistol again!

Maybe you should check to see if a weapon has Infinite ammo where you check whether its ammo is > 0?

[2018-02-23 19:47] bradharding commented on #444
Thanks for the suggestion @JNechaevsky. I tried this out, but unfortunately I'm not too keen on it. An alternative would be to include the backpack itself in the hud when the player has it (along with any power-ups), which is something I may look into.

[2018-02-23 20:09] bradharding commented on #445
Easily fixed, thank you! But would a better fix be to not decrease ammo when ammo type is 5?

[2018-02-23 20:32] AnotherLife commented on #445
I just checked Eternity and it doesn't reduce the ammo count, so that must be solid.

[2018-02-23 21:19] #445 closed

[2018-02-23 22:00] #444 closed

[2018-02-23 22:01] #443 closed

[2018-02-24 17:04] ice44 commented on #435
It's much better! Albeit a little muddy, it's a welcome improvement.

[2018-02-24 17:10] ice44 opened #446 "Melee feels jerky and unresponsive"
This is an issue I've had with Doom Retro for quite a while now, but gave up on.

I'd like to ask you if you could take a look at the melee behavior and contemplate revamping it so it plays like vanilla Doom.

[2018-02-25 03:33] bradharding commented on #446
This has been reported before, and for the life of me I can't figure out what's causing the problem. If anyone has any idea, please let me know, as I continue to investigate... :persevere:

[2018-02-25 07:47] JNechaevsky commented on #446
I'm not exactly sure am I right or not, but for me, it feels like there are two possible cases:

1. Horizontal auto-targeting is working much more strict. You need to aim close to the "center of the monster" to punch it.
2. Thus, looking direction is changing much less often while attacking.

Melee attack range seems to be fine, though.

[2018-02-26 08:43] bradharding commented on #446
Thanks for the info Julia. I've poured through the code, starting with `A_Punch()`, but no luck yet...

[2018-02-26 09:30] JNechaevsky commented on #446
No problem! Another things that comes to mind:

- Monster's radius (i.e. it's "principle" of working)
- Calculating of monster's bounding box

[2018-02-26 11:30] AnotherLife commented on #446
Can't you test on old Doom Retro versions Brad? To see where it started?

I do remember having trouble hitting monsters a long time ago in DR but I thought it was like that in vanilla.

[2018-02-27 06:54] bradharding commented on #446
No, I haven't tried this yet. It looks like I'll have to. To be honest, I'm having trouble noticing the problem.

[2018-02-28 18:38] AnotherLife commented on #446
Is there really a problem? I can punch to death the 3 imps in MAP01 without taking damage.

[2018-02-28 21:07] JNechaevsky opened #447 "Fix monsters being freezed near some key-locked doors"
Got an interesting catch, but it's a little bit late and I can't check it deep enough. :(

Here's the situation: we already have a fix for the cases when monsters was
being stuck near doortracks. But there is another possible situation - near key-locked doors/objects. Again, I can't provide full and proper list of affected linedef specials, but it seems to be something like this in my code, in Doo

[2018-03-01 08:47] jasoncarlough opened #448 "Hud not updating correctly on OS X"
It looks like the static background of the hud is not refreshing properly. For example when the game is paused and the whole screen turns grey, the hud background now stays gray until reloaded, also the numbers for ammo, health, etc. stay underneath the current number.

My initial guess is that this has to do with the SDL libraries needing to be updated on the Mac side, unfortunately I cannot test

[2018-03-01 09:03] bradharding commented on #447
Good find! I'll look at implementing a solution soon. (Or maybe later: it's getting late for me too...)

This solution should be okay, afaik. It's `P_UseSpecialLine()` we're playing with. `P_CrossSpecialLine()` handles when they cross those lines.

[2018-03-01 09:09] bradharding commented on #448
Thanks for this. It's not an SDL issue at all. It occurs for Windows too. I noticed it a few hours ago, and haven't got around to fixing it yet. It's due to some "optimizations" I made yesterday.

[2018-03-01 09:27] bradharding commented on #448
Fixed in commit 3ec4cb00a3a2b8622119b0b7e5cce20bf9cd8e7b. Thanks again. Please let me know if you have any further problems.

[2018-03-01 09:27] #448 closed

[2018-03-01 17:04] JNechaevsky commented on #447
Phew, thanks! I haven't even noticed that it was in `P_UseSpecialLine()`, just though about possible trouble right before fall asleep.

Allright, I think we need to take care these key-only linedef specs. I'll post them as Doom Builder names, numerical numbers (I use them) and Boom-style names (you use them). Here we go:

**Blue**

| Doom Builder name                         | Number | Doom Retro

[2018-03-01 18:02] JNechaevsky commented on #447
Got it fixed! Please take a look: https://github.com/JNechaevsky/russian-doom/commit/6a62db48b888ec6273dcc5882883159f0e6c4684

If I got everything correct, this freezing was happening because of missing `return false;`. Because of this logic, monsters simply "wasn't know what to do". Now everything is fine, I still can operate and pass through that specials, while wonsters can pass through, but do

[2018-03-01 19:36] #447 closed

[2018-03-04 20:24] bradharding commented on #446
Exactly. One thing that may cause people to think there is a problem is the way blood is generated on contact. Blood is spawned at different positions when compared to Vanilla DOOM.

[2018-03-06 05:17] ice44 commented on #446
I must disagree here, there is definitely an issue with hit registry and accuracy.

[2018-03-06 14:07] AnotherLife commented on #446
For larger enemies or for smaller, too?

[2018-03-06 17:15] ice44 commented on #446
Both. Doomretro's melee all together is wildly inconsistent.

[2018-03-08 15:56] JNechaevsky opened #449 "Doom map names in Freedoom"
Doom Retro knows how to parse map names (and put it into window title), however, for Freedoom it shows Doom map names. Examples:

**Phase 1**
![](http://screenshot.ru/upload/images/2018/03/08/bandicam2018-03-0818-55-06-292d6c70.png)

**Phase 2**
![](http://screenshot.ru/upload/images/2018/03/08/bandicam2018-03-0818-55-24-8737bd43.png)

[2018-03-08 20:51] bradharding commented on #449
Thanks for this. It seems there's something wrong with the `DEHACKED` lump parser, and it's skipping a majority of the strings in the `[STRINGS]` bit.

[2018-03-08 21:17] bradharding commented on #449
Thanks again Julia!

[2018-03-08 21:17] #449 closed

[2018-03-08 21:21] JNechaevsky commented on #449
It's my pleasure! :)

[2018-03-08 22:15] JNechaevsky commented on #446
Hm, noticed another thing: in DR, killed enemy immediately becomes non-solid, while in vanilla there is a very short moment before removing `MF_SOLID` flag.

In other words: in DR it is possible to walk through falling on the ground dead monster, while in vanilla monster becomes non-solid only after hitting the ground.

It does not seems to be related to this case, but... Could it make a sense whe

[2018-03-08 23:14] bradharding commented on #446
I was waiting for someone to notice this! :grin: Very early on in DR's development I made this change, liked it, and it has stayed. It allows for more fluid movement imho, and in DR I don't need to worry about demo compatibility.

I believe it doesn't affect this issue in any way though.

[2018-03-09 06:56] JNechaevsky commented on #446
Ah, heh, yeah, it definitely brings some blaze, especially in thin map ares with chainsaw. :)
It slightly feels non-vanilla, but for God's sake, it is necessary to understand that not every game aspect should be preserved strictly as vanilla!

@ice44 could you please explain as wider as possible what exactly feels wrong and how it should feels?

I start to get a feeling that I may be wrong in my [

[2018-03-20 23:30] ice44 commented on #446
@JNechaevsky Your first suggestion is pretty much spot on, Horizontal auto-targeting sounds like the problem, The hit area is extremely narrow relative to say, Chocolate Doom.

[2018-03-29 21:33] garoto opened #450 "Hitting the PAUSE key to unpause the game causes equipped weapon to fire"
As the issue title says. Not sure if bug or something odd is going on with my config, but reporting anyway. Renaming the existing config file to something else don't solve the issue.

Using `This 32-bit Windows binary of DOOM Retro v2.6.8 was built at 1:31pm on Thursday, March 29, 2018.`  Not reproduced on v2.5.4 which I have currently setup on my disk.

My `doomretro.cfg` config: https://0x0.st/s

[2018-03-30 15:19] garoto opened #451 "In v2.6.8, loading certain SAVES will aggro all the remaining monsters in a level"
Link to the DOOM2 MAP09 savefile where this happens: https://0x0.st/sMXJ.zip

Using `32-bit Windows binary of DOOM Retro v2.6.8 was built at 1:31pm on Thursday, March 29, 2018.`

Can't reproduce in v2.6.7 using the same savefile.

[2018-03-30 19:36] bradharding commented on #450
Thank you for this. Just a quick test myself, and it's happening for me too so it's nothing in your config. I'll investigate further.

[2018-03-30 20:25] bradharding commented on #450
All fixed in commit https://github.com/bradharding/doomretro/commit/8b8836709256c359bbadbdaffb1c8eb1d5e663bd. Thanks again!

[2018-03-30 20:25] #450 closed

[2018-03-30 20:31] garoto commented on #450
Glad I could be of help and thank **you** for your continued work on this top notch port.

[2018-03-30 21:03] bradharding commented on #451
Thanks again! :grin: (It looks like I'll need to release another build, v2.6.8.1. I'll wait a bit to see if any more comes of [this report](https://www.doomworld.com/forum/topic/66518-doom-retro-v268-updated-march-29-2018/?do=findComment&comment=1862585) though.)

[2018-03-30 21:03] #451 closed

[2018-03-30 21:15] garoto commented on #451
Curious if you could reproduce it with the save file I provided?

[2018-03-30 21:20] bradharding commented on #451
Yes, I could. Loaded it up, entered `iddt`, all monsters in other areas were active.

[2018-03-30 21:43] garoto commented on #451
That's good to know :D. Was worried it could be a RAM problem or similar hardware issue.

[2018-03-31 12:28] JNechaevsky opened #452 "Small glitch on HUD after closing HELP screen and exiting the level"
Steps to reproduce:

- Set screen size to DR wide HUD.
- Open `HELP` screen and close it.
- Exit the level. While wiping, leftovers of `HELP` screen will be notified on vanilla HUD.

Video demonstration:

- https://youtu.be/-UJybMMkY5A

Possible solution: probably, vanilla HUD should be redrawn completely right before setting screen size to vanilla 4:3 size (or before wiping, if it is using other

[2018-03-31 19:59] bradharding commented on #452
Thanks again Julia! All fixed!

[2018-03-31 19:59] #452 closed

[2018-03-31 20:10] JNechaevsky commented on #452
Hooray! 😊

[2018-04-08 18:12] DeathEgg commented on #429
Perhaps have an option in Retro Bits to make it so you can add the effect to certain weapons?

[2018-04-08 20:07] JNechaevsky commented on #363
About p_fix: since we have discovered all possible _(I hope!)_ underwater mines, I believe now it's pretty obvious:

1. It's not the thing that modders will seek.
2. There is no way easy way to make a simple implementation of it as a PWAD lump.
3. It's not the thing to mess around!

And mostly same about brightmaps. Is it okay if we close this issue?

[2018-04-08 21:30] DeathEgg opened #453 "'A Secret is Revealed' message"
I imagine I'm not the first one to ask this, but could you implement something like ZDoom's 'A Secret is Revealed!' that pops up when you find a secret? It makes it a lot more satisfying finding them as well as helps with keeping track of how many you've found in the level, since other than 'playerstats' there's no way of knowing until completing the map.

[2018-04-08 21:34] DeathEgg opened #454 "Automap player statistics"
I think this has been brought up in the past, but multiple source ports have the ability to check how the player is progressing to 100%ing the map, with monsters killed, items collected and secrets found all being listed. Could be off by default.

[2018-04-09 04:10] bradharding commented on #454
I've been considering this. But there is also the `playerstats` CCMD that has all that info (and more). What I may do instead is change the `playerstats` CCMD so it comes up as an overlay on the screen rather than output to the console, and then it can be bound to a key.

[2018-04-09 04:12] bradharding commented on #453
If a `DSSECRET` sfx lump is present in a PWAD then "a secret is revealed" will be displayed.

[2018-04-09 04:25] bradharding commented on #363
Yes, it should be fine to close this. You're right, and if modders want to disable brightmaps, they can do so using `NOBRIGHTMAP` in a `MAPINFO` lump.

[2018-04-09 04:25] #363 closed

[2018-04-09 04:27] bradharding commented on #429
I'm not sure about this. Do you know of a ZDoom mod that implements a weapon with different bobbing?

[2018-04-09 18:16] DeathEgg commented on #429
https://youtu.be/Kr6-HCLHkPI Here's one I found after a quick search.

[2018-04-11 21:40] DeathEgg opened #455 "New sector types"
There's a few different ideas for sector types that might be of use to add to Doom Retro eventually...

There are sector types 6 and 15 which were intended for the original .exe but never implemented. They were listed in a design document as follows. I assume sector type 6 would just be the same crushing ceiling effect that's activated by a linedef, but it starts at the beginning of the map rather

[2018-04-12 07:39] DeathEgg commented on #455
I forgot to mention but those ZDoom sector specials are in Eternity as well.

[2018-04-12 18:20] jeffdoggett commented on #455
I implemented the 21 - 24 sector types a while ago. I just routed them through the standard light flashers - don't look at my code though 'cos it's almost certainly wrong. It was difficult from the docs to work out exactly what the flash sequence was.
I used Herian2.wad maps 6, 10, 23 & 29 for testing.

[2018-04-12 19:30] bradharding commented on #455
Thanks for the suggestion! What I'm also looking at doing is implementing all the Heretic and Hexen sector types as well.

[2018-04-12 20:57] bradharding commented on #455
For sector special 15, how about add 1 ammo for the equipped weapon every 1 second when the player is in the sector?

[2018-04-12 21:06] jeffdoggett commented on #455
In Caverns of Darkness map 11 there is a sector type 19. Judging by the surroundings it looks like a healing sector.

[2018-04-14 04:03] DeathEgg commented on #455
Interesting. It would be cool to see everything Caverns of Darkness added and see what could be reproduced, and if possible even support it in its entirety.

Also perhaps the ammo sector could drop one random small ammo for the player has from the ceiling every five/ten seconds? Would be really useful for conveyor belts.

[2018-04-15 21:53] jasoncarlough opened #456 "Xcode build broken"
The relocation of info.c and info.h to /src/doom has broken the Xcode build. It seems like it should just be a matter of project configuration but I haven't been able to figure it out yet.

[2018-04-16 03:56] bradharding commented on #456
Thanks. The Travis CI builds are broken as well, and after trying to fix `CMakeLists.txt`, I have no idea as of yet. @duganchen and @devnexen, can I please ask for your input? Any ideas?

[2018-04-16 05:14] devnexen commented on #456
I did a PR hopes it helps.

[2018-04-16 05:36] bradharding commented on #456
Fixed in PR #457.

[2018-04-16 05:37] bradharding commented on #456
Whoops! Probably shouldn't have closed that. I assume Xcode is still an issue.

[2018-04-16 06:26] devnexen commented on #456
I admit I only tested on Mac but by command line without Xcode (needs to reinstall all), if the solution is not find meanwhile I ll try in one hours.

[2018-04-16 08:31] devnexen commented on #456
If @jasoncarlough is quicker than me, I think

https://github.com/bradharding/doomretro/blob/master/xcode/doomretroapp.xcodeproj/project.pbxproj#L115

area ought to be updated since the move of some files to doom subfolder.

[2018-04-16 09:13] bradharding commented on #456
@jasoncarlough, could you please confirm commit 46e58856495127e4ab8192cfd038dd3cc207d45a fixes this issue for you?

[2018-04-16 16:04] jasoncarlough commented on #456
Unfortunately, that didn't work. The files are in the project now and Xcode appears to understand that they are in a subdirectory but it still throws an error when I try to build it. Basically nothing changed. I will try to see if I can get anywhere with it tonight.

Lexical or Preprocessor Issue Group
/Users/jason/GitHub/doomretro/src/doom/info.c:40:10: 'doom/info.h' file not found

[2018-04-16 16:11] devnexen commented on #456
That s include paths issue it seems. If no solution is found will try to reinstall Xcode and look at it in the next hours.

[2018-04-16 18:17] devnexen commented on #456
Reproduced the issue ... would not be simpler to change the to info.h at that line ? (looking also at @bradharding if it can possibly affects his windows project).

[2018-04-16 19:11] jasoncarlough commented on #456
Maybe? I tried adding the files to Xcode in various ways and can’t get it to work. I really don’t have anymore ideas, I’m groping around in the dark here.

[2018-04-16 19:34] jasoncarlough commented on #456
So I was able to compile it by changing info.c from

#include "doom/info.h”

to

#include “info.h"

this works even though info.h and info.c are still in the doom subfolder.

[2018-04-16 19:44] devnexen commented on #456
Let s see what @bradharding thinks and any of you can commit a fix accordingly ... hope it s good :-)

[2018-04-16 21:01] jeffdoggett commented on #456
That makes sense. As far as I am aware the C preprocessor looks for include files relative to the file being compiled. So Doom/info.h would've been looked for at Doom/Doom/info.h
Sadly, though, some compilers are better than others at sorting this stuff out and seem to try harder to find the .h files.

[2018-04-17 05:35] bradharding commented on #456
Seems to be the way to fix it. See @jasoncarlough's pull request #458.

[2018-04-17 05:35] #456 closed

[2018-04-27 21:58] DeathEgg opened #459 "MBF line specials 271 & 272"
Maybe I just haven't tried it yet, but in case it hasn't been implemented I could use these two linedef actions. For reference, they change the sky of tagged sectors to the linedefs texture.

[2018-04-28 00:29] bradharding commented on #459
Already implemented! :grin:

[2018-04-28 00:29] #459 closed

[2018-05-25 00:10] DeathEgg opened #463 "MAPINFO feature requests"
There are a few features that MAPINFO currently doesn't support that would be very useful for my project. Here I've listed them in order of importance:

1: The ability to send the player to one of the text screens at the end of the map, or to any of the different possible finales.

2: The ability to choose the map that the episode/game starts on. (In conjugation with the last request together thes

[2018-05-25 01:29] bradharding commented on #463
Thanks for the suggestions!

1 and 2. I'll look into these.
3. This is something I'm kind of working now, since the addition of Romero's E1M4B and E1M8B calls for it.
4. There are NOJUMP, NOBRIGHTMAP and NOLIQUID keywords implemented already.

[2018-06-21 12:40] jasoncarlough opened #464 "Commit b6d0ccf broke the Mac build"
This commit:
https://github.com/bradharding/doomretro/commit/b6d0ccffa90f6018f137bc13877fcb75430bc539 "Rearrange code a bit"
broke the Mac build.

After adding the new files to the build I'm still getting a clang error in Xcode:

clang: error: linker command failed with exit code 1 (use -v to see invocation)

Full error log:
https://pastebin.com/wEsgncUe

[2018-06-21 21:04] bradharding commented on #464
I've commited c46a3eda0cfbfe9bac26d40536cc5c1692d39432. Can you please try again?

[2018-06-22 00:15] bradharding commented on #251
Yes, pressing F5 for low detail mode is purely cosmetic, since it makes a pass after the screen is rendered at 640x400. Unfortunately, to render at 320x200 would require the 30-40 column drawing functions in r_draw.c to be rewritten and that's not a priority right now.

[2018-06-22 05:10] bradharding commented on #464
Not entirely sure what's happening Jason. Can you please try again with the changes I just made in commit aab6038903765d29d7b80250d3657a8ea966b132?

[2018-06-22 07:05] jasoncarlough commented on #464
https://github.com/bradharding/doomretro/commit/aab6038903765d29d7b80250d3657a8ea966b132 had no effect. I'll try and see if I can get the make build to compile later today because I don't know if this is an Xcode problem or a Mac problem.

[2018-06-22 13:57] devnexen commented on #464
I ve tried myself and seems due to function pointers symbols which when referenced more than once are indeed duplicated per compilation unit. One example is blitfunc. Another different case is althudtextfunc both in hu_stuff.c and hu_lib.c Maybe declaring them as static would solve the issue ?

[2018-06-22 15:49] ryan-sg commented on #251
holy smokes @vanfanel lol I forgot all about this.

I do realize that F5 is purely cosmetic for low detail, but isnt that how original doom worked as well?  320x200, and F5 drops to 'low detail' (terrible quality) mode.  When I had a 486sx33 (33mhz, no fpu), going to low detail mode with F5 actually did make it run smoother, even though the actual resolution doesn't change from 320x200. (it may ha

[2018-06-22 21:21] bradharding commented on #464
Ah, I see. I'll work on this. Thanks David. This doesn't seem to be related to the error log that Jason posted though, is it?

[2018-06-22 21:33] devnexen commented on #464
Right I got lengthy linkage issues but differently than Jason though. Added manually missing files to the project as he did.

[2018-06-22 22:09] JNechaevsky commented on #251
@vanfanel, could you please try to do exactly one thing in the DR's console?

* Set `vid_vsync` to `1`.

Will it make a difference in performance?

I must admit, that vertical synchronization is making a significant difference in CPU usage of Doom Retro. While it's `off`, CPU usage is about **25%** on my Intel Core i3-4160. But while it's `on`, CPU usage is just about **3-6%** (!!!), and needles t

[2018-06-24 23:05] vanfanel commented on #251
@JNechaevsky : Thanks for your suggestion. I tried but there's no changes on CPU usage since on my system video refresh always waits for vsync (the VC4 driver does: in turn, SDL2 uses the VC4 KMSDRM driver and GLES2 on top of it).

@bradharding : Since I am building my own DoomRetro binaries, there must be something I can do to force it to render the original 320x200 mode without you doing anythin

[2018-06-25 06:42] bradharding commented on #251
Also, something that hasn't been suggested: I'm not sure if vsync would would work on a Raspberry Pi or not, but try `r_capfps 60`.

[2018-06-25 12:05] kohijin opened #465 "s_randompitch + sounds on bullet puffs / blood splats in deh/bex"
Hi, first of all: thanks you for this port! Just went back into Doom modding after 25+ years and I feel very much at home with your approach.

Here's the first of a few issues I came across so far:

1. BEX/DEH: Sounds played by bullet puffs / blood splats will always play at the same, very low pitch if the s_randompitch cvar is enabled and the sound isn't set to always play at the loudest volume (

[2018-06-25 18:32] vanfanel commented on #251
@bradharding : I have -nosplash a go, and now the game runs at the original 320x200 resolution, letting the GPU scale to the monitor native resolution using GLES under SDL2, as expected on low-end hardware as the Pi. The result is i**mpressive as expected: CPU usage is ~25% (vsync is ON, only measuring a core) and I get rock-solid framerate synced with monitor refresh. It's just perfect.**

So, ye

[2018-06-25 18:53] vanfanel opened #466 "Music in DoomRetro on GNU/Linux (SDL2)?"
Hi,

Since DoomRetro is becoming my choice for Doom-ing on the Raspberry Pi (GNU/Linux + SDL2), I would like to have music working with it.
Thing is, docs only seem to mention that it supports MUS, MP3, MOD... but I don't see any MIDI synthesizer software included (OPL, GUS emulation...) so I don't see how the original music lumps on the WADs are supposed to work. Does it depend on anything more I

[2018-06-25 22:02] devnexen commented on #464
<img width="1406" alt="image" src="https://user-images.githubusercontent.com/4922778/41878149-d49d7e5e-78cb-11e8-8ea9-05ec4af10d89.png">

Do not know if it helps.

[2018-06-25 22:09] devnexen commented on #464
<img width="865" alt="image" src="https://user-images.githubusercontent.com/4922778/41878410-dc587986-78cc-11e8-9ff7-cfbca2b6c2b6.png">
After adding missing files again.

[2018-06-26 05:53] bradharding commented on #464
Thanks @devnexen. I'm not sure what's going on here exactly, but can you try again with the changes I just committed. I've done some googling and this may seem like a stupid question, but could it be an Xcode cache problem? Is it perhaps still trying to use the h_info.o object file?

[2018-06-26 05:58] bradharding commented on #466
DOOM Retro only supports General MIDI. No OPL, or GUS emulation like in Chocolate DOOM. Everything is handled using SDL_mixer.

[2018-06-26 06:01] devnexen commented on #464
<img width="865" alt="image" src="https://user-images.githubusercontent.com/4922778/41892006-8990e9ee-790e-11e8-91dd-964adb5b4014.png">

Might be. Do not know also if Xcode version influences the outcome.

[2018-06-26 06:03] bradharding commented on #465
Glad you're enjoying it! 😁 The random pitch feature is different in DR in that instead of it playing every sound at a random pitch, a random pitch is chosen for every monster, and all sounds made by that monster are played at that pitch. So I'm guessing that value isn't initialized correctly if a mobj is DeHackEd. Thanks for the report! I'll look into it.

[2018-06-26 06:29] bradharding commented on #465
All fixed! `P_SpawnPuff()` and `P_SpawnBlood()` weren't setting the mobj's pitch to 127 (normal pitch). Commit 22730905b06069b149a204d8c005cb4138e4c26f will now correctly check a map object's `pitch` variable before playing any sound. Thanks again!

[2018-06-26 06:29] #465 closed

[2018-06-26 12:41] jasoncarlough commented on #464
Looks like @devnexen is getting the same errors as me now. I just tried deleting my entire Xcode cash ../DerivedData and recompiling and it didn't make any difference.

[2018-06-27 05:40] bradharding commented on #464
Then I've run out ideas, sorry. I'll continue to investigate however.

[2018-06-28 11:40] vanfanel opened #467 "Doomretro now segfaults on GNU/Linux (ARM)"
@bradharding : DoomRetro is now crashing on GNU/Linux. This is not related to SCREENSCALE set to 1. Here's a backtrace to help debugging the issue:

[code]

After rebuilding with latest sources, I am not getting the glibc-related segfault anymore.

[2018-06-28 14:04] vanfanel commented on #466
@bradharding : I see.
I have rebuilt SDL2_mixer with fluidsynth support, so I am trying to simply do:
`SDL_SOUNDFONTS=merlin_gold.sf2 ./doomretro -iwad doom2.wad`
...but no music is played.

[2018-06-28 21:49] bradharding commented on #467
I'm hoping commit 3d2298d3ba9e797c768081e62a944fa7d1c50b36 will fix this. Can you please try again?

[2018-06-28 21:57] bradharding commented on #467
Whoops! Forget about that. That commit breaks the Travis CI builds.

[2018-06-28 22:12] bradharding commented on #466
Are there any music related errors at startup, or when you start MAP01, in the console? Since I only develop DR on Windows, issues such as this are very difficult for me to resolve on my own.

[2018-06-29 00:53] vanfanel commented on #466
@bradharding : When starting on E1M1 (first Doom 1 level) I don't get any errors. However, if I start E2M1 ("The shores of hell"), I get these on the console endlessly:
`fluidsynth: error: Invalid length for KeySignature meta event`

[2018-06-29 07:16] bradharding commented on #467
I may be way off track here, but is this even a fault of Doom Retro? Looking at the trace, it seems to be crashing in glibc's strncase.c code for , and not DR's. If it can't find a file, then looking at the source (https://github.com/bminor/glibc/blob/master/string/strncase.c), it could be `locale/localeinfo.h` on your system that it's not finding.

[2018-06-29 16:30] ryan-sg commented on #467
I can't seem to reproduce this issue on OpenBSD, with checkout from a few minutes ago (commitid 9b41922ca173664a478920da76df9935aff4aebb).

@vanfanel is this specific to some sort of action once in-game or does it happen as soon as you try to launch?  I just built, then ran it and played around doom2/map01 a bit.

[2018-06-29 21:04] vanfanel commented on #467
@bradharding , @ryan-sg : What GDB is saying is that I am missing strncase.c from my system, not a header. This strncase.c is part of the glibc sources, and GDB is just trying to show me the code inside glibc where DR segfaulting.

I have built DR on my X86_64 laptop (Lubuntu GNU/Linux) and it's not crashing there, so it's a Raspberry Pi only problem...
I guess glibc version on the Pi (Raspbian GN

[2018-06-29 23:56] vanfanel commented on #467
@bradharding : After rebuilding from latest sources, I am not getting the glibc segfault anymore, so I have updated the first post.
I am still getting the  segfault in line 447 of p_spec.c

[2018-06-30 03:34] bradharding commented on #467
I'm guessing the only way line 447 can cause a segfault is if animdefs[i] is null, but then that means it'd segfault on line 435 first. Maybe it's how the animdef_t struct is packed on your config? Can you test again with the change I made in 9d727d41cff114caf35108a484d87fe868c299bd please?

[2018-06-30 07:35] #464 closed

[2018-06-30 13:29] kohijin opened #469 "A_Detonate: Highly diminished damage radius along the vertical axis"
I've made a demo where plasma bullets will drop to the floor and endlessly loop back to a state that has the A_Detonate code pointer that is supposed to deal damage based on the things damage field. The Trooper's height is set to 100 to illustrate the issue.

The effect of any damage seems dependant on the height of the thing in Doom Retro, as anything with the common height won't be hurt by anyth

[2018-06-30 18:43] vanfanel commented on #467
@bradharding : I have just rebuilt latest sources and I get segfaults on both:
Sometimes I get the segfault here:

[code]

And sometimes I get the segfault there:

`P_SetLiquids () at p_spec.c:447`

This is crazy, I know. Is anybody else trying to build this on ARM? May be a memory algnment issue of some kind?

[2018-06-30 19:35] vanfanel commented on #467
@bradharding : I have been investigating, and it seems that ARM does not support alignment for all data types, while X86 does. To get alignment warnings on compile time, I added `-Wcast-align` to the Makefile CFLAGS, and I got plenty of alignment warnings wich could be the cause of this little mess. You won't see them when building on X86, only on ARM, so I am posting them here in case you could f

[2018-06-30 21:47] bradharding commented on #469
All done! See commit 15e164e42b416db50f9cc6a66244f35f3f0f6900. Your .bex file seems to work as intended. Let me know if you have any other issues.

[2018-06-30 21:47] #469 closed

[2018-06-30 23:43] bradharding commented on #467
I'm not sure where to start with this, and after googling "cast increases required alignment of target type" I'm none the wiser. I'm guessing it would require a major bit of refactoring. With the original issue of line 447 in p_spec.c, does explicitly making `istexture` in the `animdef_t` struct a `signed char` at least fix that crash?

[2018-07-01 18:48] vanfanel commented on #467
@bradharding : Yes, making `istexture` a `signed char` works, in fact I am seeing no more segfaults for now.
I believe we are on the track of the problems on ARM! Great!
I found this article about unaligned data, in case it can help you: https://www.alfonsobeato.net/arm/how-to-access-safely-unaligned-data

I believe it's necessary to fix the other alignment warnings, since there are still ARM-only

[2018-07-04 18:55] vanfanel commented on #467
@bradharding : Sadly I am still getting the DOWN ARROW problem. When I press the DOWN ARROW key, the doomguy still runs forward instead of backwards, as fast as possible. That's not right and only happens on ARM.

[2018-07-05 06:13] bradharding commented on #467
Damnit! Maybe it's due to some bit-twiddling done in the BETWEEN() function. Can you please try replacing the following in g_game:

[code]

with this:

[code]

[2018-07-05 06:32] bradharding commented on #467
Update: Actually, never mind. I think I've figured it out... Commit pending...

[2018-07-05 19:47] vanfanel commented on #467
@bradharding : Yeah!! Now it works!! ARM control problems fixed!! :dancer:

I have noted another ARM-only hang: when I enter E2M1 of Ultimate Doom (Deimos Anomaly), the game hangs in a variable number of seconds. On the console, this message appears, endlessly repeating:
"fluidsynth: error: Invalid length for KeySignature meta event"

Maybe another alignment problem regarding MIDI conversion and c

[2018-07-05 21:30] bradharding commented on #467
Awesome! Well, I think I can close this off then. I'm about to commit a change that may fix the music problem you mention, but we'll continue the discussion on that under issue #466.

[2018-07-05 21:30] #467 closed

[2018-07-05 21:32] bradharding commented on #466
@vanfanel, can you please test with the latest commit?

[2018-07-06 00:05] vanfanel commented on #466
@bradharding : all of sudden, music works and Doom doesn't crash anymore on GNU/Linux ARM on E1M2 or E2M1!! Consider it fixed! It seems you understood the ARM problems perfectly well (without an ARM computer I presume!)

[2018-07-06 00:32] vanfanel opened #470 "OGG/MP3 music playback files location question"
Since MIDI music is at last playing on ARM, I have found fluidsynth realtime MIDI synthesis is too CPU-demanding for the small Raspberry Pi, so I am trying alternatives.
One of them is OGG/MP3 music. I have found some OGG music packs for Doom here:
http://sc55.duke4.net/games.php#doom

However, they come in the form of individual .ogg files instead of being inside a WAD. Should I try to put them i

[2018-07-06 00:58] #466 closed

[2018-07-06 01:00] bradharding commented on #470
You would need to put them in a wad. I'll look into allowing them in a music folder or something, however.

[2018-07-06 07:49] bradharding commented on #251
Looks like we can close this off as well. 😀

[2018-07-06 07:49] #251 closed

[2018-07-06 14:41] vanfanel opened #471 "Ammo stats not legible with SCREENSCALE 1"
Hi, Brad!

Since the corrections to make SCREENSCALE 1 working perfectly went so well, I though it would be good to mention this small remaining detail: the normal HUD with SCREENSCALE 1 has some problems rendering the numbers of the weapons, and the available ammo for each one.

[2018-07-06 14:42] vanfanel commented on #470
@bradharding : In the meanwhile, I successfully created a WAD containing the OGGs in the SC55 music packs, and they work great like that for now :)
I used SLADE for it... and in turn I had to use WINE lo load SLADE on GNU/Linux. Had some fun on the process.

[2018-07-06 14:45] vanfanel opened #472 "[Feature request] Texture bi-linear filtering"
I know DoomRetro goes for a simple codebase and not too far from the original DOOM looks, but since it already uses OpenGL(ES) to some extent, maybe adding bilinear-filtered textures (walls, monsters, etc) wouldn't take much code... and of course it would be optional! What do you think?

[2018-07-06 20:46] vanfanel opened #473 "[Feature request] Classic gamepad control"
Hi, Brad

Another thing I believe would be welcome is classic gamepad control: PSX-like style movement using the digital joystick axis. That could be activated via a gp_classicmovement CVAR, for example.
That would allow us with PSX pads attached to our computers to play DoomRetro in a PSX/SNES style, as we used to do. What do you think?

[2018-07-06 20:53] bradharding commented on #472
DR only uses OpenGL to scale the 640x400 (or in your case, 320x200) display up onto the screen and nothing more. Everything else is in software. To have bilinear-filtered walls would mean I'd have to completely rewrite the entire renderer to use OpenGL which would be a massive undertaking. Moreover, bilinear filtering looks absolutely terrible and is going in the opposite direction to how I want D

[2018-07-06 20:53] #472 closed

[2018-07-06 20:55] bradharding commented on #471
Yeah, I've noticed this and will certainly work on it. In my case, the digits are drawn off screen which causes an overflow and corrupts the palette.

[2018-07-06 20:57] bradharding commented on #473
Sorry, I'm not sure I understand. Do you mean having an option that causes movement with a gamepad to be digital rather than analog?

[2018-07-06 21:06] vanfanel commented on #473
Yes, but that option would also allow to move forward/backward and turn left/right with the same digital joystick. As in the PSX version of Doom, for example, or in the SNES version Doom.

[2018-07-09 14:08] jasoncarlough opened #474 "Weird behavior with corpses in water"
I have only tested this with Heretic E1M1 but I just noticed that when Gargoyle corpses land in the water they spurt blood and splash infinitely. As far as I can tell this has been happening with all the builds with Heretic support (older ones don't have splashes but the blood still spurts infinitely).

Edit: I don't know if this is unique to OS X or not as I am not setup to compile windows builds

[2018-07-10 04:54] bradharding commented on #474
Thanks. I've noticed this but am yet to come up with a solution. It's caused by the bobbing effect of liquid sectors (the problem's fixed if you turn off the `r_liquid_bob` CVAR).

[2018-07-10 19:14] vanfanel commented on #473
@bradharding : I have hacked my way so I could get a normal, original PSX digital joystick (NO analog controls for me when playing classic Doom, thanks!) working as expected on DoomRetro.
-In i_gamepad.c, I changed

[code]
into

[code]

-In g_game.c, starting on line 400, I changed:

[code]

into

[code]

Now, if you could add an option for this, this feature request would be complete :D

[2018-07-10 22:10] bradharding commented on #473
Hi. Sorry, I forgot to respond to this one. I have an idea regarding this but give me a few hours... :)

[2018-07-11 05:43] bradharding commented on #473
I'm reluctant to add another option for this feature so I'm wondering how else this can be done automagically. The original PSX controller (before the release of the Dual Shock) had no thumbsticks right? What I can do is detect at startup if the gamepad has thumbsticks (axes), and if it doesn't, make all movement digital rather than analog. How does that sound?

[2018-07-11 09:34] vanfanel commented on #473
@bradharding : That sounds great! I really like your vision, not having hundreds of options really makes this port simple and elegant to use.
Also, could you move rightshoulder and leftshoulder to L1-R1 instead of L2-R2 in this case, please?

[2018-07-12 09:07] bradharding commented on #473
Hi @vanfanel. Ok, so I've implemented your suggestion in commit 9372d52945bc6f82d688ea9f1bd2df0fb6ab35d0. Can you please test to see if it works for you?

[2018-07-12 19:09] vanfanel commented on #473
@bradharding : Your implementation is good, but SDL_JoystickNumAxes(gamepad) seems to be detecting 4 axes on my PSX pad. Possibly because the converter is reporting it as a dual-shock type of pad even if it's the original PSX pad (NO analog control, no rumble effect...).
Anyway, I believe a digital only pad has 2 axes at least: X and Y, but you are comparing against 1 axis in g_game.c when you do:

[2018-07-12 19:43] bradharding commented on #473
Oh. Looks like I misinterpreted what `SDL_JoystickNumAxes()` would return then. On my Xbox One controller it returns 6: 2 for each thumbstick, and then the two shoulders are considered axes as well. Checking for `numgamepadaxes == 2` should be good then. I suspect checking for `4`, which would be ideal for you, would affect some/all DirectInput gamepads with 2 thumbsticks. Can you configure your c

[2018-07-12 20:20] vanfanel commented on #473
@bradharding : `SDL_JoystickName(gamepad)` is returning `GreenAsia Inc.    USB Joystick` for the PSX-USB joystick I have.

Regarding my question about shoulders. what I mean is: where do you assign a physical button to a shoulder?

[2018-07-12 20:58] bradharding commented on #473
I'm not sure what you mean. In DR, you don't assign other buttons to a shoulder. They can be assigned in the same way as the other buttons, by binding an action. By default, they're bound as:

[code]

[2018-07-12 21:58] vanfanel commented on #473
@bradharding : Ok, imagine my PSX pad for example. It has four physical shoulder buttons: L1, R1 and L2, R2.
Why is rightshoulder mapped to R2 instead of R1, for example? Is it something SDL2 does, or your code?

[2018-07-12 22:16] bradharding commented on #473
Ah, ok. I understand! :grinning: It's due to the following code in `I_PollDirectInputGamepad()`:

[code]

The buttons are mapped in that way so they exactly match how XInput controllers are mapped.

[2018-07-13 09:42] vanfanel commented on #473
@bradharding : Cool! Now turning is working with X axis as expected after your latest tweaks! :dancer:

Now, for straffing on L1-R1 instead of L2-R2, I had to convert a cuple of lines in `I_PollDirectInputGamepad()`, from:

[code]

into

[code]

Could that be done like that in digital-only joysticks? L2-R2 isn't comfortable for straffing, because it's too far back in the pad.

[2018-07-13 18:55] vanfanel commented on #473
@bradharding : please forget my last message. I didn't know L1 and R1 are called "triggers" while L2 and R2 are called "shoulders", at least on my original PSX pad. Now I can simply edit doomretro.cfg and leave the controls to my liking.
This issue can be closed :dancer:

[2018-07-13 20:03] bradharding commented on #473
That's it in! Thanks for this suggestion, @vanfanel. If you have any more ideas/bugs, please don't hesitate to let me know.

[2018-07-13 20:52] DeathEgg opened #475 "TX_START/TX_END support"
[Doom Wiki entry](https://doomwiki.org/wiki/TX_START)

Basically skips the arduous process of adding a texture to the WAD, adding to PNAMES and then adding to TEXTURE1/TEXTURE2 by just placing it between TX_START/TX_END. Downside of this method is you can't put patches on top of each other this way but that's what TEXTURE1/TEXTURE2 is for. (Also you could probably skip on the PNG support it mentio

[2018-07-15 09:01] bradharding commented on #474
Well, we don't need this anymore...

[2018-07-15 09:01] #474 closed

[2018-07-16 15:50] vanfanel opened #476 "Occasional desynchronized frame"
Hi again, Brad!

I have DoomRetro running at a fuild 60FPS in both X86_64 GNU/Linux and ARM GNU/Linux (with a small CPU usage on both cases, running in 320x200 internal mode using SCREENSCALE 1) no services using up CPU or anything). I have `vid_vsync on`, and `vid_caps off` on the doomretro.cfg file.

However, once in a while, I can see there's a desynchronized frame: as if a previous frame was r

[2018-07-17 06:04] bradharding commented on #476
Yes, I have noticed this for a while now. To be honest, I initially thought it was my underpowered laptop, but I have since purchased an Alienware 17 R4, which runs everything buttery smooth, and it still happens. I'll make this a priority. I don't really know what it could be, as it is not consistent. First step is to go back to the very first version of DR that included uncapped framerates and s

[2018-07-17 06:56] bradharding commented on #476
I doubt I've fixed it this easily, but does commit cec9549eaf394578c9c3e7bc92743454a7452742 help at all for you?

[2018-07-17 18:33] vanfanel commented on #476
@bradharding : I was avid to get back from work and trying it! :D

With the latest git sources, I can't see it happening so often (hard to say, because as you said, it's not consistent) but still I can see it sometimes when I am opening a door! Door opening seems to cause it often, just get near a door, open it repeatedly and eventually the desynchronized frame appears.

I hope this tip can help y

[2018-07-18 07:19] bradharding commented on #476
It does seem that it could be sound-related. I'll continue to investigate what it could be. Thanks.

[2018-07-25 12:31] pudarida opened #478 "codeblocks project is empty"
Opening the codeblocks project is empty

[2018-07-26 06:08] bradharding commented on #478
Thanks for the report. Commit 172ef38e2315f1a2a4d4f817340c2340aaf70fcc should fix this. But as for configuring and using codeblocks further, it's not something I'm familiar with.

[2018-07-26 06:08] #478 closed

[2018-07-29 22:11] vanfanel commented on #476
@bradharding : I have just built latest git version (I was some days out so I couldn't test before, sorry) and now I am seeing that triggering certain sound effects causes hiccups.
To replicate, just turn around continuosly (keep the left or right arrow key pressed) and fire the gun, you will see you start seeing a hiccup before playing the gun sound effect.

[2018-07-30 05:03] bradharding commented on #476
Almost there then! :grin: Okay, I'll do away with `SDL_BuildAudioCVT()` altogether. I didn't have it before, and didn't seem to affect performance for me one way or the other, (nor does it sound any different), so I'm happy to take it out. I'll then look at pre-converting each sound.

[2018-07-30 20:48] vanfanel commented on #476
@bradharding : So it was network code causing the lost frames? I don't get it. You found the cause? I am very interested in reading what was happening.

[2018-07-30 21:48] bradharding commented on #476
No, network code isn't the cause AFAIK. The above code snippet is just a way of detecting it when it happens.

[2018-07-30 23:05] vanfanel commented on #476
@bradharding : So you are still detecting it using that technique?

[2018-07-31 05:34] bradharding commented on #476
Yeah. Seems to be a lot better. Before I added precaching of the sound effects, I would get 9 dropped frames occasionally when a sound played. That no longer happens. There still might be some rare dropped frames, but I believe this to be due to some other process on my PC. If the current build plays well at your end, I'd be happy to close this issue.

[2018-07-31 22:50] bradharding commented on #476
Update: and with the commits I've made today, DR is now running _flawlessly_ for me!

[2018-08-01 00:07] vanfanel commented on #476
@bradharding : Yes! Framerate on the Raspberry Pi 3 (SDL2 on KMSDRM, no X involved) is also PERFECT now! You can close this. I played all the entire first episode of Doom to celebrate, no strange desynced frames that I could see! What a pleasure of a play I had! :dancer:

[2018-08-01 00:18] vanfanel opened #479 "Background texture on episode 1 ending looks wrong with SCREENSCALE 1"
Well, it's pretty much that: I ended first episode of Doom today, and when the ending text is displayed, the background texture is blurred and lines present an interlace-like effect. It IS related to SCREENSCALE 1, since the problem does'n appear on default SCREENSCALE 2.

[2018-08-01 00:29] vanfanel opened #480 "Loading Doom2 save from Doom1/UltimateDoom causes crash"
I guess save version should be detected and not be presented on the LOAD menu if it's from a different game (ie: if Doom is playing, player should not be able to see Doom2 saves and try to load them).
What do you think?

[2018-08-01 01:17] bradharding commented on #480
With the Windows build at least, the savegames from each IWAD or PWAD is put into a separate subfolder. What happens with the Linux build? Do they all get lumped into one place?

[2018-08-01 01:17] #476 closed

[2018-08-01 01:54] vanfanel commented on #480
@bradharding : It's the same on GNU/Linux, he savegames from each IWAD or PWAD is put into a separate subfolder here, too. BUT I have discovered that, for example, if I use the blackops PWAD with both doomu.wad and doom2.wad, the saved games from both doomu.wad and doom2.wad go to the same place: ./savegames/blackops. That's why they are seen from both Doom and Doom2 here: using the same pwad make

[2018-08-01 07:33] bradharding commented on #480
Ah, I understand. In the Windows build, if you use the launcher to load a PWAD + IWAD, if there are no maps present in the PWAD, then the savegames will go in the IWAD's subfolder. I haven't brought this feature to the command-line, which I'll need to do...

[2018-08-01 08:26] bradharding commented on #480
Hi @vanfanel. Can you please confirm savegames for BlackOps go to the IWAD's subfolder in your case?

[2018-08-01 09:15] vanfanel commented on #480
@bradharding : With latest git, yes, savegames for BlackOps go to the IWAD's subfolder, so this is fixed now. Can close this one! :dancer:

[2018-08-04 18:35] vanfanel opened #482 "Segfault on ARM with current git code"
@bradharding : I think it's a good idea to report these ASAP since it could take more work later if I let it pass without reporting:
[code]

[2018-08-04 20:31] bradharding commented on #482
Thanks @vanfanel. Straight away I can see what the problem is. I'll have a fix commited in a moment.

[2018-08-04 20:51] bradharding commented on #482
Commit 803c7bf87916ad6adaf501424e6ccca1fb2eff24 should fix this. Can you please confirm?

[2018-08-04 22:35] vanfanel commented on #482
@bradharding : Yes, it works well now, no more segfaults :+1:

[2018-08-05 03:53] #482 closed

[2018-08-06 08:43] bradharding commented on #473
Well, let's reopen this then. I'm thinking of implementing 2 CVARs: `gp_analog` (`on` or `off`, `on` by default), and `gp_thumbsticks` (`1` or `2`, `2` by default).

[2018-08-06 20:51] vanfanel commented on #473
@bradharding : I am totally OK with the CVARs solution :+1:

[2018-08-17 05:08] bradharding commented on #473
`gp_analog` CVAR now implemented in commit e8b64e64c361466ac76a69a3ccf58acacee4d07d.

[2018-08-17 09:09] vanfanel commented on #473
@bradharding : I would also need the gp_thumbsticks CVAR too, wouldn't I?

[2018-08-17 09:15] bradharding commented on #473
Yep. Workin' on it.

[2018-08-19 02:49] bradharding commented on #473
Hi @vanfanel. Just implemented the `gp_thumbsticks` CVAR in commit 645f476b8ed2ef0401b6d011a50550b66018f292. Can you please set it to `1` and test?

The description in the release notes for this CVAR is pretty long-winded, so I'm considering a different approach. What I'm thinking is doing away with the new CVAR, and instead if you set either of the gamepad deadzones to `100%`, it will be the same

[2018-08-19 20:32] vanfanel commented on #473
@bradharding : I have just built and tested latest GIT version, with these new cfg variables SNES/PSX-like digital joysticks work great!
Whatever other aproximation you use (different CVARs, etc) will be good for me. I believe you are doing the best possible work with this port, that's why it's my chosen way to play Doom, so just keep me informed and I will test whatever other implementations you

[2018-08-20 05:44] bradharding commented on #473
Awesome! Well, I think we can close this off for good now. :grin: I'll probably leave it as it now.

[2018-08-20 05:44] #473 closed

[2018-08-20 16:50] Dragonsbrethren opened #483 "Stuck Cacodemon in Scythe X MAP07"
There is a Cacodemon (Thing 9) stuck in some crates near the start of Scythe X MAP07. It won't react until it has been shot, after which it will float upwards until it's free from the crates and begin attacking like normal.

This is different behavior than is seen in PrBoom-plus with its default compatibility, -complevel 9, or ZDoom, all of which start the Cacodemon at the top of the crates, unstu

[2018-08-21 03:21] DeathEgg opened #484 "Menu error when using firing key to select game"
Hi, so I just by chance used the mouse to navigate the menu into a new game and found a bug. Whenever you use what I assume to be the firing key to start a new game, it starts as normal, but when you begin to walk forward the player will begin firing the pistol non-stop until the firing key is pressed again.

[2018-08-21 05:35] bradharding commented on #483
Thanks @Dragonsbrethren. I'll check this out.

[2018-08-21 05:36] bradharding commented on #484
Thanks @DeathEgg. I've encountered this before and thought I fixed it. I'll look into it.

[2018-08-21 05:51] bradharding commented on #483
As it turns out, this is fixed with commit c5b059f03969cf7c3d38ea79e95fd5ff31103da8, which was applied to fix another similar issue of monsters at the wrong height.

[2018-08-21 05:51] #483 closed

[2018-08-21 16:26] mfrancis95 commented on #453
What about taking the Crispy approach of still showing the message even if DSSECRET isn't present, using `sfx_itmbk` as a fallback?

[2018-08-22 05:41] bradharding commented on #453
I've actually been thinking about this recently. If I do implement it, I wouldn't use `sfx_itmbk` but use Heretic's `DSSECRET` sound or something similar, and put it in `doomretro.wad`. Does anyone know the licensing of ZDoom's secret sound effect?

[2018-08-22 19:02] DeathEgg commented on #453
I asked on ZDoom and got this response:
https://forum.zdoom.org/viewtopic.php?f=4&t=61767

[2018-08-23 05:44] bradharding commented on #453
Thanks. I might create my own sound, source a royalty free one from somewhere, or... if anyone reading this wants to provide one??? 😜

[2018-08-23 17:37] Dragonsbrethren opened #485 "Counterattack (mek-catk.wad) closes Doom Retro"
Attempting to launch [Counterattack](https://www.doomworld.com/idgames/levels/doom2/Ports/m-o/mek-catk) in Doom Retro v2.7.1 causes the program to immediately close.

[2018-08-23 17:45] Dragonsbrethren opened #486 "Cannot load games saved in Scythe X MAP10"
Attempting the load a game saved in [Scythe X](https://www.doomworld.com/idgames/levels/doom2/Ports/s-u/scythex) MAP10 will cause Doom Retro v 2.7.1 to close.

[2018-08-23 23:26] bradharding commented on #486
Thanks again! This is significant enough to warrant a new release.

[2018-08-23 23:26] #486 closed

[2018-08-24 17:32] Dragonsbrethren commented on #485
I normally launch with ZDL, but the behavior was the same when using the wad launcher dialog. However, Doom Retro 2.7.2 has cleared this up, Counterattack is loading fine for me now.

[2018-08-24 17:32] #485 closed

[2018-08-24 23:14] DeathEgg opened #487 "'psx' mode"
So Doom Retro already has 'vanilla' mode which can be enabled to make it feel like the original PC release, but what about 'psx' mode that tries to emulate any PSX Doom features as accurately as it can? I'm not saying go all out with how it's approached, but just as features and such are implemented that happen to be able to make it closer to that version, add them to that mode. (For example, if t

[2018-08-24 23:50] bradharding commented on #487
I don't think I'd want to implement a PSX mode (tbh, I wasn't sure on the vanilla mode), but I'd be happy to implement features present in the PSX version, if they're any good (like the reverb).

[2018-09-01 07:53] jasoncarlough opened #488 "Broken OS X build"
Commit https://github.com/bradharding/doomretro/commit/8542cfdbb2e2fb315ed5140bd234790664321342 broke the OS X build. I'm getting the error "Control reaches end of non-void function" at Line 385. I was able to build and run use the fix below (at Line 386) but I think this breaks the intended functionality. For example regardless of the state of caps lock, the console is in lower case and autocompl

[2018-09-01 08:02] bradharding commented on #488
Does changing line 384 from `#elif defined(X11)` to `#else` and leaving line 385 as-is fix it for you?

[2018-09-01 12:49] jasoncarlough commented on #488
After the above merge, it's working fine, thanks.

[2018-09-01 19:53] #488 closed

[2018-09-08 20:50] devnexen opened #490 "min/max optimisations leads to UB with clang"
Concrete example with the number of displays I get 9. Dunno if you wish to go back to the branching versions or another alternative.

[2018-09-08 21:00] bradharding commented on #490
Thanks David! The changes I made to MIN() and MAX() in da5503cb5bec84ede5bd67fbf6e268f07d62ff74 were pointless. Restored in commit c774c3084d6919ef5d0272062908f6f5ab4aa4e1.

[2018-09-08 21:00] #490 closed

[2018-09-16 14:48] emileb opened #491 "MIN and MAX functions do not work when compiled with Clang (Android)"
Looks like commit da5503cb5bec84ede5bd67fbf6e268f07d62ff74 broke MIN and MAX with devastating consequences :)
When compiled with Clang for ARM they do not return the correct result. I suspect the new code is undefined behaviour with that assignment in the middle of the calculation?
Suggest revert to old code.

[2018-09-17 16:46] emileb commented on #491
Ah yes sorry I missed that it was already fixed, keep up the great work!

[2018-09-26 05:17] JNechaevsky opened #493 "More correct fix for MAP10"
Brad, I was slightly incorrect with one fix on MAP10:
[code]

I have changed texture offsets to hide a vertical lamp, which was appeared in vanilla ([screenshot](https://user-images.githubusercontent.com/21193394/46058431-c2449e00-c163-11e8-8d2b-c8505614f474.png)). But this wasn't right because of light is blinking in the sector, meaning that the lamp should be on place.

Here's more correct offse

[2018-09-26 05:44] bradharding commented on #493
Thanks Julia. Fixed in 906aae61a0835026388f791d1bc32e6ca4d79d57.

[2018-09-26 05:44] #493 closed

[2018-09-26 08:55] Kroc opened #494 "True widescreen?"
I like the low-resolution and graphic design choices of DOOM Retro, but even with widescreen, the aspect ratio still doesn't fit my screen, leaving black bars down the side.

Could DOOM Retro support low-resolution, internal widescreen resolutions? For my 1366x768 screen, that would equate to an internal resolution of 683 x 384 -- not far off the current resolution, but would fit my screen pixel-p

[2018-09-26 10:18] Kroc opened #495 "Cannot bind F12 to screenshot?"
I try to unify controls across DOOM engines for my launcher  https://github.com/Kroc/PortaDOOM and whilst PrtScrn is a good control, I use F12 because: 1. Not all laptop keyboards have a PrtScrn button or it requires a Fn press, and 2. Not all DOOM engines support specifying the PrntScrn key as a bindable key.

Ideally in DOOM Retro I'd use both, but I can't successfully bind F12 to +printscreen.

[2018-09-26 10:41] Kroc opened #496 "Caco fireballs do not interact with dying enemies"
I just noticed something that would be up DOOM Retro's street; I shot an Imp and at the moment he was falling down, a Caco fireball went right through him. Of course he was already dead, but the corpse had not yet hit the floor. It would have been good if the fireball had gibbed or burnt up the Imp as he fell. This, I assume, could also apply to other combinations of projectile / enemy.

[2018-09-26 23:29] Kroc opened #497 "Include the "Minor Sprite Fixing Project""
This is a mod that makes very small corrections to graphical glitches in the original sprite work.
https://www.doomworld.com/forum/topic/62403-doom-2-minor-sprite-fixing-project-v19-release-updated-12718/

[2018-09-26 23:49] Kroc commented on #487
Dupe of #29!

[2018-09-27 05:46] bradharding commented on #495
Unlike Chocolate Doom, DR doesn't allow the menu actions of the function keys to be rebound, but since F12 isn't bound to anything, I can make an exception for it. Thanks.

[2018-09-27 06:09] bradharding commented on #495
Done in commit 22640eb50380a9dcec7a4f217881a73ba819e0f8. Thanks again!

[2018-09-27 06:09] #495 closed

[2018-09-27 06:11] bradharding commented on #496
An interesting idea. Thanks. Gibbed would be the way to go, as a burnt effect would require lumps for each type of corpse and I'd want to keep things generic.

[2018-09-27 06:17] bradharding commented on #497
DR already includes (most of) the offset corrections that this project provides (toggled using the `r_fixspriteoffsets` CVAR). As for the additional sprites and per-pixel fixes, this is not something I would want to include as it would involve distributing copyrighted assets (albeit slightly altered ones).

[2018-09-27 06:17] #497 closed

[2018-09-27 07:34] Kroc commented on #495
That's great, thank you so much!

[2018-09-27 08:13] #487 closed

[2018-09-27 11:17] Kroc commented on #497
Not that you have to, but you could hash the sprite and when you find one that can be fixed, simply paint / erase the specific pixels you need; you wouldn't have to ship any images then.

[2018-09-29 23:09] AnotherLife commented on #496
The Fall code pointer makes the thing collisionless, won't Dehacked mods get screwed if this changes?

[2018-10-02 22:16] AnotherLife commented on #496
What if a player's rocket hits the falling dead Caco?

[2018-10-03 05:48] bradharding commented on #496
Then the rocket will pass through that corpse, exactly what would happen if the corpse was on the ground.

[2018-10-05 16:24] mfrancis95 opened #498 "[Suggestion] Add option to play with multiplayer-only monsters and/or items enabled"
This means things with the flag `0x0010` (Thing is not in single player) would show up.

[https://github.com/bradharding/doomretro/blob/207441c6cdfdddffb662645b5d89b0cf4c02f6e1/src/p_mobj.c#L1011](https://github.com/bradharding/doomretro/blob/207441c6cdfdddffb662645b5d89b0cf4c02f6e1/src/p_mobj.c#L1011) would have to be modified slightly.

[2018-10-06 23:43] Kroc opened #499 "`-bex` command line parameter?"
Just noticed the edit to the wiki that the `-deh` parameter also takes ".bex" files. There aren't a lot of WADs that use bex files out there, but the process I'm using with other engines is if both a deh file and a bex file is available, to use both `-deh` & `-bex` parameters and let the engine choose accordingly. I can easily adapt my logic to use only one over the other, but it would make DOOM R

[2018-10-07 00:10] bradharding commented on #499
Already supported! 😁 See [here](https://github.com/bradharding/doomretro/blob/master/src/d_main.c#L1524). Both `-bex` and `-deh` can be used interchangeably, with .bex and .deh files. DR figures out which it is. I'll update the wiki properly to indicate this.

[2018-10-07 00:10] #499 closed

[2018-10-07 07:58] Kroc commented on #499
That's wonderful, thanks!

[2018-10-12 15:41] Kroc opened #500 "Crash `W_GetNumForName: E2M12 not found!`"
Playing REKKR.wad v1.15: http://manbitesshark.com/
When I exit E2M1 I get the error `W_GetNumForName: E2M12 not found!`. Assumedly it's trying to load E2M12, even though it's supposed to be loading E2M2.

Included is a save game to demonstrate the problem; just walk forward to trigger the next level.

[doomretro0.zip](https://github.com/bradharding/doomretro/files/2473700/doomretro0.zip)

[2018-10-12 19:00] bradharding commented on #500
Thanks @Kroc. I'm able to replicate this just by using `exitmap` in the console. It'd have to be an issue in reading the `MAPINFO` lump.

[2018-10-12 19:53] bradharding commented on #500
Fixed in commit 61f1ef9354cb890750140b1c8c88a83347ba576e. Thanks again!

[2018-10-12 19:53] #500 closed

[2018-10-12 19:59] Kroc commented on #500
Wow, quick! Thanks. I look forward to the next release.

[2018-10-14 05:20] bradharding opened #501 "Jittery interpolation of dropped items on rising platforms"
The z-position of dropped items isn't interpolated correctly when on a rising platform. The weird thing is, this problem only occurs once for those items. For example, a zombieman drops a clip on a lift while the lift is down. As the lift goes up, the clip jitters. Lower the lift. As it goes up a second time, the clip no longer jitters. This can easily be tested using the following map:

[interpol

[2018-10-14 07:44] JNechaevsky commented on #501
I see, thanks for notifying! It feels like the thing, that's wasn't initially spawned on (interpolated) sector doesn't have z-interpolation until sector's vertical movement is started. No idea how it should be fixed...

Perhaps, some additions should be done in `R_AddSprites`, which calls `R_ProjectSprite` with interpolation info?

[2018-10-14 07:57] bradharding commented on #501
I'm not sure. This issue has really stumped me. It also occurs in PrBoom+, and that handles interpolation a bit differently to how our ports do.

[2018-10-15 08:57] fabiangreffrath commented on #501
Well, I'd say this is because dropped items are spawned at the sector's `floorheight` whereas the sector's floor itself is rendered at its interpolated `interpfloorheight`. The first chance these two values become equal again is when the sector stops moving,

https://github.com/bradharding/doomretro/blob/master/src/p_mobj.c#L738

This is just as untested assumption, but should it prove true, I am

[2018-10-16 06:46] fabiangreffrath commented on #501
How bout this (in Crispy's code, please adapt to your code changes)?
[code]

[2018-10-17 06:05] bradharding commented on #501
Thanks for the suggestion Fabian. Unfortunately it doesn't help. AFAIK, interpfloorheight will equal floorheight every real tic, rather than just when a lift reaches its destination height.

[2018-10-17 08:08] fabiangreffrath commented on #501
Then it's probably in `P_CheckPosition()` in `p_map.c`, else I have no further idea, sorry.

[2018-10-17 17:01] JNechaevsky commented on #501
Me neither have any luck with various experiments in `P_SpawnMobj(Safe)`. You know what's even more confusing? Even if zombieman is killed while platform is moving up, dropped clip will still be jittered.

[2018-10-17 18:33] JNechaevsky commented on #501
Hell yes, I've figured out something. Look into `boolean P_ThingHeightClip` and do this:

[code]
This will fix clip's jittering. But obviously, this is not right condition, it should be something like... "If (mobj doesn't have flag MF_DROPPED)", but excuse me, I can't remember necessary symbols/combination (`|=`, `&`, etc). : (

[2018-10-18 05:12] bradharding commented on #501
Thanks for attempting to look into this. I've scoured the relevant code (P_ThingHeightClip, P_CheckPosition, etc.) and I'm at a complete loss. It's not because an item has a dropped flag, because in DR if I spawn anything through the console while a lift is down, the same thing happens. Something somewhere in the item's mobj_t struct changes once the lift its on reaches the top. It doesn't occur w

[2018-10-18 05:34] JNechaevsky commented on #501
Yeah, capped framerate working fine, and it feels like z coordinate is fighting in standard/interpolated positioning. This give a little thought - perhaps, in `P_ThingHeightClip` should be added something like this: `thing->z = thing->old = thing->floorz;`. AFAIR, `oldz` is used somewhere in interpolation code.

[2018-10-24 13:04] fabiangreffrath commented on #501
Is it just me or is the entire sector moving jittery?

[2018-10-25 16:33] JNechaevsky commented on #501
Yep, sector interpolation seems to be fine with `safe` condition and without (when player standing on the edge of the platform and have a delay on view height update).

[2018-10-26 10:48] fabiangreffrath commented on #501
The clip simply doesn't get interpolated, though it has not been teleported nor is it connected to the player's map thing. Strange!

[2018-10-26 11:10] fabiangreffrath commented on #501
No, wait, that's not it. If I comment out `thing->z = thing->floorz;` in `P_ThingHeightClip()` it gets rendered properly, but other stuff breaks, of course.

[2018-10-26 13:43] vanfanel opened #502 "gamepad0 is not accepted as a valid button"
Hi again, Brad

I have tried DoomRetro with my 8bitdo SN30, and it's rejecting button 0 assigns in doomretro.cfg.
This pad DOES have a button 0, which should be named 'gamepad0' on the cfg, but it's being deleted (rejected).
Is it fixable? Thanks!

[2018-10-26 16:15] vanfanel opened #503 "Always turning with 8bitdo SN30"
Hello again, Brad

The main problem I am seeing with the SN30 (which mimics the SNES gamepad) is that, as soon as I enter the game, I am always turning left. It's unstoppable, and the game is unplayable.
I have tried setting gp_thumbsticks to 1 in doomretro.cfg, setting gp_analog to off... but it's all the same: perpetual turning.
No other SDL2 game (scummvm, SDLPoP, cannonball...) seems to have p

[2018-10-26 19:43] bradharding commented on #503
Thanks @vanfanel. I'll look into this.

[2018-10-26 19:53] bradharding commented on #503
Is this using DirectInput or XInput? (It'll say so in the console.)

[2018-10-26 22:10] vanfanel commented on #503
The SN30 is using DInput mode (start + B to power on the pad, it's the default mode anyway.)

[2018-10-26 23:34] bradharding commented on #503
Could you please try two things?

1) Provide me with a copy of your `doomretro.cfg`.
2) Try setting `gp_deadzone_left` and `gp_deadzone_right` to `0%`. (Part of a process of elimination.)

[2018-10-28 13:12] vanfanel commented on #503
@bradharding : I have tried setting gp_deadzone_left and gp_deadzone_left to 100%, and the crazy self-rotation stopped. But also, X-axis on the D-pad also stopped working totally.

Here's my doomretro.cfg:

[code]

[2018-10-29 03:56] bradharding commented on #503
Thanks for following this up.
Can you please try with the changes I made in commit ac1380849c56b6ce752fce62a38aa0ff7994fed4? I don't have a DirectInput gamepad handy myself, so I can't test if it breaks things altogether.

[2018-10-30 04:33] bradharding commented on #503
Oh well, I'll need to reverse that commit then...

[2018-10-30 13:49] fabiangreffrath commented on #501
It depends on the order in which thinkers are executed!

When the sector's floor is lowered, the `T_PlatRaise()` thinker is still active and counts the tics until it is time to raise the floor back again. When you kill the zombieman during this time, the clip that he drops spawns its own `P_MobjThinker()`, which is then executed _after_ the sector's `T_PlatRaise()` thinker.

This is why the dead z

[2018-10-30 17:36] bradharding commented on #501
Thanks for taking the time to look into this Fabian! The thought that it might be a thinker order issue did actually occur to me too, and I tried running all mobjthinkers first, but must've done something wrong. Just arrived at work, so won't be able to try your patch for a while. I'll let you know how I go. Thanks again!

[2018-10-31 05:35] bradharding commented on #501
Works beautifully @fabiangreffrath. See commit d0bc80dd7562818ec5adff83592130affece4a53 if you're interested. Thanks again!

[2018-10-31 05:35] #501 closed

[2018-11-02 23:10] vanfanel commented on #503
@bradharding : The problem seems to be that my pad was somehow faking a "Sony Computer Entertainment wireless controller".
I have been able to reset it and, in "8Bitdo Receiver" mode, this is not happening anymore. Sorry to waste your time, I believe it's not DoomRetro's fault and this issue can be closed.
Thanks for the time you invested trying to fix it, really sorry.

[2018-11-02 23:13] vanfanel commented on #502
@bradharding : I am still unable to use the "Y" button on the SN30 using the "8Bitdo Receiver" on GNU/Linux.
Here's the SDL2 mapping that controllermap generates for this pad:

`
"03000000c82d00000031000011010000,8Bitdo Receiver,a:b1,b:b0,back:b10,leftshoulder:b6,leftx:a0,lefty:a1,rightshoulder:b7,start:b11,x:b4,y:b3,",
`
As you can see, it DOES have an Y button and it's b3. However, in DoomRetro,

[2018-11-02 23:15] bradharding commented on #503
Oh, that's okay. I do appreciate any issues you raise @vanfanel. Glad I can close this one off though. 😁

[2018-11-02 23:15] #503 closed

[2018-11-03 05:17] bradharding commented on #502
Also, can you try this: add the following line 248 in `i_gamepad.c`:

[code]

It will output a value for each button press. Please let me know if and value is output when you press the Y button on that controller.

[2018-11-03 11:28] vanfanel commented on #502
@bradharding : Yes, value for the Y button is 256.

[2018-11-03 18:36] bradharding commented on #502
Yes, I will need to look into mapping, but in the meantime...

So 256 equates to the left shoulder button. Entering the following doesn't work for you?

[code]

[2018-11-04 07:32] bradharding commented on #502
I've just tried testing a PS4 controller with DOOM Retro. Next thing I'm going to work on is a complete rewrite of the gamepad code.

[2018-11-04 11:33] vanfanel commented on #502
Yes, this works. So well, it's about the values you assign in i_gamepad.h, mistery solved :)
As I said, I believe it's a better idea to use what SDL2 says: leftx, lefty, etc... Look at the mapping line I gave earlier.

[2018-11-07 06:38] bradharding commented on #502
Hi @vanfanel, can you please test the latest code with your 8bitdo SN30 (and DR's default settings). It at least maps correctly with my PS4 controller under DirectInput. Also, any other controllers you have in your possession to test with?

[2018-11-07 10:12] vanfanel commented on #502
@bradharding : Yes, it works now more or less.
Think of a SNES gamepad. This is how 8Bitdo's SN30 buttons on the pad are currently mapped to DoomRetro's buttons:

B is mapped to gamepad1
A is mapped to gamepad2
Y is mapped to gamepad3
X is mapped to gamepad4
Start is mapped to start
Select is mapped to back (should be select instead, I guess, but it's a minor detail)
L is mapped to leftshoulder
R

[2018-11-08 04:45] bradharding commented on #502
Now that I'm using SDL2's GameController API instead of the old Joystick API, the code now uses SDL's mapping system and I'm no longer overriding it. That's why I ask. If your 8Bitdo SN30 has all the buttons mapped as above, without changing the default bindings in doomretro.cfg, then it is now working as intended.

[2018-11-08 12:44] vanfanel commented on #502
@bradharding : Yes, I see you are using the GameController API now, but what I mean is this:
In i_gamepad.h, you do things like:
`#define GAMEPAD_A                   0x1000`

If you do that, you are ignoring the mapping that SDL2 offers for each different controller, and that can be generated by the user with the controllermap utility that SDL2 includes in test/.
So, instead of doing that, I guess

[2018-11-08 18:04] bradharding commented on #502
You don't sound rude at all. :smile: I hope I'm able to explain things clearly though.

Here's my understanding of what I'm trying to do. In `I_PollDirectInputGamepad()` in i_gamepad.c is this:

[code]

Each call to `SDL_GameControllerGetButton()` checks if the specified button on the gamepad is pressed or not. SDL2 has already mapped it correctly at this point. This one line then left-shifts the

[2018-11-09 05:20] Idav0ll opened #505 "[Suggestion] - Brightmaps"
Is there any chance that you could add default brightmaps for the port itself? (Like Gzdoom)
That could be an cool feature. If not then how I can load **,pk3** brightmaps in Doomretro?

[2018-11-09 19:20] bradharding commented on #505
Brightmaps of several wall textures are already are a feature of DOOM Retro, and are enabled by default. If you're talking about brightmaps for sprites, that's something I've looked into but have decided against implementing. And .pk3 files won't be supported.

[2018-11-09 19:20] #505 closed

[2018-11-11 16:31] vanfanel commented on #502
@bradharding : Ah, now I think I understand... Well, things work as intended now, so I'd say this can be closed.
Thanks a lot for the detailed explanation!

[2018-11-12 04:13] #502 closed

[2018-11-16 03:56] Idav0ll opened #506 "Caco, Hellknight & Baron crushed sprites [Bug]"
There's a small detail issue that I noticed during my gameplay in Ultimate Doom.

When a door crushes a Caco, Hellknight or Baron the crushed sprite just shows a **red** one instead of the correct blue and green ones.

Any chance to fix this?

[2018-11-24 22:56] simc2 opened #507 "Boom Change Texture And Effect linetypes"
Doom Retro appears to hang (and require ctrl+alt+del to recover) if player crosses Boom WR "Change floor texture and type" line triggers 154 (trigger model) or 240 (numeric model) while entering to the tagged sector at the same time. The result is the same regardless of the sector type or if the player has visited the tagged sectors earlier.

Nothing unusual happens with the W1 type line triggers

[2018-11-24 23:14] bradharding commented on #507
Thanks @simc2. And thanks for going to the effort of creating a test wad. I'll investigate the bug straight away.

[2018-11-24 23:46] bradharding commented on #507
Thanks again! Fixed in f71fc092f3f96f9003b1db58467bc1ee257fb4d1.

[2018-11-24 23:46] #507 closed

[2018-12-25 16:21] mfrancis95 commented on #453
Any update on this?

[2018-12-29 20:09] ryan-sg opened #510 "bogus pointer (double free?) after memory leak fixes merge"
After the 1eef7fe35520c5e200c2777d4334067661791d70 merge went in, I keep hitting possible double free issues when trying to launch doomretro on OpenBSD.

I fiddled around with commenting out the frees that I could see line-referenced with gdb but ultimately led me to a segfault with no clear idea of how to proceed.  Here are some outputs:

Built from current master:
[code]
[code]

Commenting out `

[2018-12-29 20:43] ryan-sg commented on #510
I could have been more specific when I referenced the pull request thread :-)
https://github.com/bradharding/doomretro/pull/509#issuecomment-450162279

[2018-12-29 20:48] bradharding commented on #510
Oh, I see. 😁 In any case, we'll wait for @mfrancis95 to respond...

[2018-12-30 00:45] mfrancis95 commented on #510
Yep, this is what I knew was going to happen. Try this:

[code]

[2018-12-30 01:18] bradharding commented on #510
@ryan-sg, can you please test with commit 4a2e9bc84f3a09be81736dd20d7f4d1067bc5b00?

[2018-12-30 01:21] mfrancis95 commented on #510
@bradharding do it again please I edited the diff.

[2018-12-30 01:59] ryan-sg commented on #510
Quick response :grin: I hit another crash similar to the last one in my original report.  This is with the two recent fixes that were comitted.  Looks like it solves the double free issues, but not real sure whats going on with the sigsegv.

[code]

[2018-12-30 02:10] mfrancis95 commented on #510
I don't think that segfault is related to the memory leak fixes? Looks like it's related to SDL.

[2018-12-30 03:45] bradharding commented on #510
How 'bout now? 😄

[2018-12-30 04:43] bradharding commented on #510
Sorry about that. I was trying to make things neater in commit ee4ac5aeec7c49130657f4812bb93c3d7a538975, but obviously I don't know what I'm doing. I get a bit confused over pointers at times...
@ryan-sg, if you could please confirm it's aok on your end, I'll close this off...

[2018-12-30 05:06] mfrancis95 commented on #510
Should probably put this in for Mac, although I can't test it myself:

[code]

[2018-12-30 05:12] bradharding commented on #510
Thanks. Done in d8850c9cbecc02597669afae9d5f620f7c39fa34.

[2018-12-30 07:00] ryan-sg commented on #510
Drat, it almost opens (window starts to draw) but before anything happens it closes with another SIGSEGV

[code]

As this is moving away from being a double free issue, I am more than happen to open a new issue if it is easier

[2018-12-30 07:12] bradharding commented on #510
We can leave the issue for now, that's fine. Could you please check if you're `doomretro.cfg` file hasn't been corrupted? I experienced this previously when trying to fix this mess.

[2018-12-30 07:18] bradharding commented on #510
Never mind. Can you please try again with commit 7bff3d06b19fd7fbc73e1d0f71b35cdfe1437c47? 😛

[2018-12-30 07:59] mfrancis95 commented on #510
Huh? Was that always using `vid_capfps` over `vid_capfps_str`?

[2018-12-30 08:21] bradharding commented on #510
No. It was `commify(vid_capfps)`. In commit 5c11f32755efad21e73a68997093d11aed04322a it was changed to `vid_capfps` when it should've been `vid_capfps_str`.

[2018-12-30 22:46] ryan-sg commented on #510
That does it :grin: Thanks!  Happy New Year! :fireworks:

[2018-12-30 23:11] #510 closed

[2018-12-31 16:23] mfrancis95 opened #512 "Many memory errors have sprung up again"
I managed to reduce the amount of memory errors to about 18 or so (34ae3e5179e4c75240e01f75d220c8993e373614), but now they're up to 54 as of b7a5653efc7f99699664a75be032a01c51971a63.

[2019-01-01 03:10] bradharding commented on #512
54?? Can I ask what parameters you use for Valgrind? Or are you doing something different? I run the following (now that I can) and get 12:

[code]

[2019-01-01 08:08] mfrancis95 commented on #512
I've been using `--track-origins=yes` in place of `--show-leak-kinds=all`. Mind you, a lot of my own extra errors are coming from SDL and my GPU. Still, several memory errors of the `Conditional jump or move depends on uninitialised value(s)` type were introduced.

[2019-01-02 04:34] bradharding commented on #512
I'm only getting one `Conditional jump or move depends on uninitialised value(s)`, and plenty of the SDL and GPU errors. Could you dump the entire output from Valgrind here please? I'll try to make my way through it.

[2019-01-02 04:52] mfrancis95 commented on #512
[code]

[2019-01-02 08:17] bradharding commented on #512
@mfrancis95, can you please run Valgrind again. I believe commit c4e2b975ad0a6cab59eee83d87f6b4979dd6ad46 should fix things.

[2019-01-03 14:58] mfrancis95 commented on #512
Fixed. :+1:

[2019-01-03 15:41] mfrancis95 commented on #512
`lumps_str` gets `malloc()`'d but then those bytes are lost by the later call to `commify()`.

[code]

[2019-01-15 10:28] vanfanel opened #513 "Libretro port possible?"
Hi there, Brad!

I've been enjoying DoomRetro fo the past months and I couldn't ask for more: latest stable release is just PERFECT as it is.
However, there are many CRT shaders that make games like Doom running on their original 320x200 resolutions look like oldchool arcade heaven. Porting to Libretro would make DoomRetro look awesome with curvature, scanlines, etc...
Would it be possible?

Also,

[2019-01-16 04:52] bradharding commented on #513
Don't know anything about libretro at all, but perhaps I should check it out. I think there's a libretro port of prboom+ somewhere that might be a good reference.

[2019-01-16 10:13] vanfanel commented on #513
Yes, there's a PrBoom+ port to libretro as you've found out, but it doesn't compare to DoomRetro... So among the wide library of cores that are ported to libretro, there's no good Doom port.
Libretro is used to run it's ports on a wide variety of hardware: port to libretro, and you will be automatically running on MAC, Linux, Windows, Wii, PSVita, PSP, PS3, NESClassic, Snes Classic, Switch, etc...

[2019-01-27 08:50] AnotherLife commented on #513
Haha, would be awesome, then it would be playable on all devices that Retroarch has been ported to. I'd run it on my modded PlayStation Classic with my Dualshock4!

[2019-02-20 10:16] vanfanel opened #514 "Heretic... Would it be possible?"
Hi there, Brad!

I know you dropped Heretic support at some point, but after the FANTASTIC 2.8 release, are there any plans to re-add Heretic support? It's a great game, and would be awesome to have it running at solid 60FPS on the Pi3 with this awesome engine! So just interested on what you think about the idea of bringing back Heretic :)

[2019-02-20 13:57] AnotherLife commented on #514
Hm? Has DR been ported to the raspberry pi?

[2019-02-20 14:30] vanfanel commented on #514
@AnotherLife It's easy peasy to build on the Raspberry Pi if you have latest stable SDL2 running on it ;)
That's how I use DoomRetro there, and it's just perfect, rock-solid 60FPS with no slowdowns EVER, thanks to @bradharding 's optimizations.

[2019-02-21 06:38] bradharding commented on #514
One day. Maybe. But I'm in no hurry to revisit it at this stage.

[2019-03-13 01:29] rnasshat opened #515 "Segmentation Fault when attempting to load sunder.wad"
Using Doom retro 2.8.1, attempting to load sunder.wad causes the program to immediately exit with no message or indication. Running it via command line gives a single message, "Segmentation fault", and nothing more, absolutely no additional info.

The issue occurs with both the 32-bit and 64-bit versions. My operating system is Windows 10 Home Version 10.0.17134 Build 17134. My CPU is the AMD A10-

[2019-03-13 05:05] bradharding commented on #515
Thanks for the report. I've actually encountered this myself. DR precaches all patches in the WADs at startup and it encounters a patch in sunder.wad that it doesn't like and crashes. It appears that sunder.wad has no PNG-format patches, so that's not it. I'll look into it further.

[2019-03-14 18:49] bradharding commented on #515
I've just implemented a compatibility fix for sunder.wad in commit f86f838dfd8cbab8cbcf16f049290745cbd3f09a. I'll leave this open, because I'm still looking for a more general solution to this problem.

[2019-03-21 04:20] HeyItsLollie opened #516 "Map name appearing on main screen when "am_external" and "r_althud" are enabled"
Tiny visual bug: When "am_external" and "r_althud" are both set to "on", the alt-hud map name appears on the main screen instead of the map screen. I've attached a screenshot below.
![Hangar](https://user-images.githubusercontent.com/30498581/54733137-aafede80-4be3-11e9-8e29-0b46d208dd84.png)

[2019-03-21 04:39] HeyItsLollie opened #517 "[Feature Request] CVAR to enable saving screenshots at DR's internal resolution"
DR currently captures screenshot at its upscaled window/monitor resolution. I'd love to have a config CVAR that lets me save screenshots at DR's internal resolution instead.

[2019-03-21 05:14] bradharding commented on #516
Oh! Thanks for this! I haven't had access to a second screen in a while due to moving house, so I haven't had the opportunity to notice this. I'll fix it ready for the next build (which will be released directly after Sigil in April).

[2019-03-21 06:12] bradharding commented on #516
Fixed! See commit c05ea44eee35f6b10fa854a013aa3fc2d6a29ce0.

[2019-03-21 06:12] #516 closed

[2019-03-21 10:35] Kroc commented on #517
Perhaps using ALT or SHIFT and the defined screenshot key?

[2019-03-21 16:56] HeyItsLollie commented on #517
I was thinking something I can enable/disable as default behavior in the config file, I know how I like my screenshots. But if internal-res and upscaled-res screenshots were separate functions, I could always just swap the two bindings for my liking too. Either option would be nice!

[2019-03-21 19:54] bradharding commented on #517
I appreciate the suggestion, but I must decline this one. One of DOOM Retro's features that is non-negotiable is it retaining the 4:3 aspect ratio. I feel that this this should also extend to the screenshots taken. To allow screenshots at the internal resolution of 640x400, even by use of a CVAR that would be off by default, goes against this philosophy I'm trying to uphold, and would result in im

[2019-03-23 07:48] #517 closed

[2019-03-28 04:14] ice44 opened #518 "Althud Berserk Bug"
![Screenshot (102)](https://user-images.githubusercontent.com/22358562/55129381-4533ba80-50ed-11e9-9ca4-8c3ac387496b.png)

The berserk fist icon is a long underscore instead of being altogether blank like the normal fist. I switched to the regular widescreen hud after noticing it a while back and forgot about it. Re-enabling althud has made it pop up on my radar once more. Should be an easy fix, I

[2019-03-28 05:14] bradharding commented on #518
Thanks @ice44. This isn't actually a bug. What you're seeing is the powerup bar. It doesn't drain like it does with the other powerups, because as you know berserk doesn't run out based on time.

[2019-03-28 05:14] #518 closed

[2019-03-30 07:18] #158 closed

[2019-04-29 20:40] garoto opened #519 "'midiproc.exe' keeps running after exiting DR cleanly, but only if a .WAD with MP3 music was loaded"
Running latest release version:
[code]
Issue happens with both 32bits and 64bits versions.

My specifc test scenario is a .WAD I made with the rendered music from the `sc55.duke4.net` dude, which I then converted the .FLACs to .MP3 with `ffmpeg` and put it all in a .WAD with the help of SLADE3.

I haven't tested with audio formats other than MP3.

And in case it's relevant, I was launching DR like

[2019-04-30 01:56] bradharding commented on #519
Thanks for the report! I'll fix this ASAP. (Just did a quick test myself: opened [DOTB_RC3.WAD](https://www.moddb.com/mods/dimension-of-the-boomed/downloads/dimension-of-the-boomed-vanilla-boom), it plays an ogg lump on the title screen, quit, and sure enough - midiproc.exe remains open.)

[2019-04-30 02:56] #519 closed

[2019-04-30 09:27] bradharding commented on #515
A better solution was found. See 263cffa5f03ef2d82feab77b2d358996daa2cf82.

[2019-04-30 09:27] #515 closed

[2019-05-09 23:43] bradharding opened #520 "Windows XP support"
DOOM Retro has supported Windows XP since the beginning. I do recall one or more XP users in the past confirming DR works fine but recently an XP user on the Doomworld forums has advised that DR crashes at startup. Since the crash info he provided can't help me determine the cause of the issue, I'm raising an issue here: **Is anyone here using DOOM Retro on Windows XP?** If so, can you please conf

[2019-05-10 12:37] JNechaevsky commented on #520
I remember for sure, that for some time DR wasn't working on XP (in Virtual machine), but it was quite a long time ago, barely I can remember when exactly. Maybe when SDL was older than 2.0.9? Hmph.

For now it runs just fine, here's what I got with latest released x86 build: [screenshot](https://user-images.githubusercontent.com/21193394/57527878-6bc65180-7339-11e9-93ec-5b58aac67007.png)

[2019-05-10 23:35] bradharding commented on #520
Thanks Julia. I'll assume the reason it doesn't work for this other user I mention is due to them only having SP2 installed.

[2019-05-12 06:41] JNechaevsky commented on #520
I have found a Windows XP with SP2 .iso image, so now I can confirm that DR is not working on SP2. After system installation, I also installed:

* DirectX 9.0c: online installer, downloads everything up-to-date.
* MSVC 2005-2019 Redistributable Package.

It does not help, so here what is happening: https://youtu.be/fPHP447Uh8M

And here's error report contents, which was posted on DoomWorld
[code]

[2019-05-12 07:01] bradharding commented on #520
Thanks again Julia! Yes, this is the error that the other user reported. I guess we can safely say DR requires SP3 if ran on XP.

[2019-05-13 17:53] simc2 opened #521 "doomretro, Chrome alert"
Chrome webbrowser halts the download of the latest 2.9 version of Doomretro.

![image](https://user-images.githubusercontent.com/27227020/57641231-2e71f600-75bd-11e9-9d82-71acedc46c0c.png)

It does offer to keep the file though.

This happens with Chrome 74.0.3729.131 (64-bit) in Windows 8.1 (64-bit) and to both 32 and 64-bit Doomretro versions, and on both https://www.doomretro.com/ front page an

[2019-05-13 21:07] bradharding commented on #521
Thanks @simc2. I've noticed this too, not just on this release but other releases as well. AFAIK once it's been downloaded enough times, the warning goes away (try downloading the previous build for instance).

After doing a bit of research, apparently if I sign up for "Google Webmaster Tools" and add my site it can eliminate this warning altogether. I'll leave this issue open until I've done that

[2019-05-14 05:18] bradharding commented on #521
After about 64 downloads it would appear the warning is not happening anymore. My above idea for "Google Webmaster Tools" was a dead end, and would only be of use if the releases were hosted by me. They're not, instead they are at https://github-production-release-asset-2e65be.s3.amazonaws.com/ which I have no control over.

[2019-05-14 05:18] #521 closed

[2019-05-27 05:12] simc2 opened #522 "-warp problem"
If Doomretro version 2.9 or 2.9.1 is started with warping directly to a map, the main menu (esc), console (tilde) and the function keys (the only exception being f11 for gamma) aren't working.

doomretro.exe [-iwad ...] -skill 4 -warp 1
doomretro.exe [-iwad ... -skill 4] +map MAP01

Other keys, arrows, numbers, tab for automap, ctrl+f4, alt+tab, alt+enter, are working. This doesn't happen if I sta

[2019-05-27 05:27] simc2 opened #523 "upper texture, precision"
Upper wall textures appear slightly stretched if compared to the same wall texture placed on middle or lower walls.

It's barely noticeable. The stretching starts from the upper edge of my screen and it increases downwards. The magnitude isn't related to the height of the wall, but it's always below 1/2 map units of the texture itself at max.

The included test map is for Doom2, MAP01.
[uppertex.z

[2019-05-27 06:24] bradharding commented on #523
Thanks for reporting this. It's actually deliberate, a side effect of attempting to fix the "[sparkles](https://github.com/bradharding/doomretro/search?q=sparkle&type=Commits)" (brightly colored pixels) that appear at the bottom of doors and steps. The texture is stretched ever-so-slightly so those pixels don't appear. For an example of what I'm talking about, check the bottom of the first door yo

[2019-05-27 07:09] bradharding commented on #522
Thanks @simc2! Fixed in commit fe17e85f83bcad93fa28579e5c899211d5278f38.

[2019-05-27 07:09] #522 closed

[2019-05-28 15:36] stupacshakur commented on #470
+1 for supporting a music folder rather than having to repack into wads

[2019-05-28 15:38] stupacshakur commented on #494
I'm having the same issue with black bars on the side. I have a 1920x1080 monitor and have messed around with all the settings but can't get rid of those black bars.

[2019-07-26 17:16] mfrancis95 commented on #498
Thoughts? It could make the single player experience more challenging.

@bradharding

[2019-07-26 19:53] AnotherLife commented on #498
Weird. If you want more difficulty play with fast monsters, or in Nightmare difficulty.

[2019-07-26 20:58] bradharding commented on #498
Hmm... since DR is strictly single player only, to allow this (even behind a CVAR) would allow things to appear that just don't belong in single player, and won't feel right. A relatively small DeHackEd patch could be made to allow this to happen in the IWADs instead.

[2019-07-26 20:58] #498 closed

[2019-08-07 08:18] #435 closed

[2019-08-17 03:46] xvz0 opened #527 "Alt hud transparency problem?"
![20190817_114231](https://user-images.githubusercontent.com/54195402/63205955-25765080-c0e7-11e9-9f72-8e861d51907b.jpg)

Other colors on hud like green armor bar ,yellow and red key cards are fine but only blue ones are too transparent.

[2019-08-17 06:09] bradharding commented on #527
DOOM has a 256 color palette, and therefore translucency (the average of two colors) is very limited. This is even worse for the color blue, as there aren't very many blues in the palette. That said, however, I'll play around with having _less_ translucency for the blue elements only and see if that'll help. Thanks.

[2019-08-17 09:54] #527 closed

[2019-08-18 05:15] bradharding commented on #222
These issues are fixed.

[2019-08-18 05:15] #222 closed

[2019-08-18 05:15] bradharding commented on #175
This has now been implemented.

[2019-08-18 05:15] #175 closed

[2019-09-13 23:14] ice44 opened #528 "ZDL no longer works with DOOM Retro."
Doomretro fails to start when using ZDL with the most recent update. It's what I and many others use to manage our wad files and cant really play Doom without it. Hope you can fix whatever has caused the issue. I'll definitely continue using your sourceport when all is fixed.

[2019-09-13 23:18] bradharding commented on #528
I discovered a problem with command-line options a few days ago, and that's what would be causing an issue with ZDL. I think I have fixed it, hoping to upload a new point release in the next few hours. Could you please test the following build and let me know how you go?

[https://www.dropbox.com/s/ue27hrz0g1h9kxf/doomretro-3.0.2b1-win64.zip?dl=1](https://www.dropbox.com/s/ue27hrz0g1h9kxf/doomretr

[2019-09-13 23:35] bradharding commented on #528
I can clarify that ZDL works. Just tested it myself.

[2019-09-13 23:35] ice44 commented on #528
Everything looks good. It seems to be working again.

[2019-09-13 23:36] bradharding commented on #528
Thanks @ice44. I'll close this off and upload the new build for reals shortly.

[2019-09-13 23:36] #528 closed

[2019-09-13 23:37] ice44 commented on #528
No problemo! Glad I could help.

[2019-09-14 00:26] ice44 opened #529 "Gamepad does not work with Mouselook enabled"
Looking up and down is inverted when mouselook is on while using a gamepad. It seems to be inverted by default for some reason. When I try to remedy the issue by turning gp_invertyaxis on, looking up and down causes the screen to jitter.

[2019-09-14 00:42] bradharding commented on #529
Thanks. I just released v3.0.2 so this will have to wait until the next one.

[2019-09-15 03:17] bradharding commented on #529
Thanks again! Fixed in a2b1ef3040ea1cc2ce4f7732120c012e957e1035.

[2019-09-15 03:17] #529 closed

[2019-09-17 12:59] vanfanel commented on #479
I have finished some episodes today and this bug is still there :D

[2019-09-17 18:14] bradharding commented on #479
Sorry @vanfanel. Seems I overlooked this one. I’ll have a look once I can.

[2019-09-17 21:08] vanfanel commented on #479
@bradharding Great!! Little imperfection in my favorite sourceport ever... so I though I might remind you! :)

[2019-09-18 07:27] #479 closed

[2019-09-18 08:16] vanfanel commented on #479
Thanks @bradharding ! Time for some testing on my free day! :)

[2019-09-19 00:49] ice44 opened #530 "Few more bugs."
When you hold down jump while moving over a drop-off point, the player continues jumping in mid-air until the key is let go.

secondly, after saving, the game no longer autosaves at the beginning of a new level like in previous versions. I don't know if the change was intentional or not, just wanted to point it out.

Thanks for the steady progress, hope this helps.

[2019-09-19 05:54] bradharding commented on #530
Thanks @ice44. I'll check them out.

[2019-09-20 03:20] bradharding commented on #530
Thanks again @ice44. Jumping has been fixed. The autosave feature was there once, but was taken out over 2 years ago (eb8068a72bb30a94e022776268dcaad9d0140385).

[2019-09-20 03:20] #530 closed

[2019-09-20 16:42] ice44 commented on #530
I liked that feature, it was really useful in that I didn't have to keep pressing F6 every time I wanted to save. Please consider adding it back in the future @bradharding .

[2019-09-27 12:21] bradharding commented on #530
Hi @ice44. I've [re]implemented autosave in commit 4a8388ad268e3f60d2b041c5185a702d517981b2, ready for the next version.

[2019-09-28 10:44] ChampionHyena opened #531 "Crash when toggling am_path on"
DOOM Retro crashes when toggling am_path on. No other CVARs changed. Happens with both the 32-bit and 64-bit executables (though I'm on Win10 64-bit). Only happens in-game, not in menus. Starting a new game while it's toggled on instantly crashes. Persists until toggled off or the cfg is deleted.

[2019-09-28 21:16] bradharding commented on #531
Thanks @ChampionHyena. I did actually discover and promptly fix this a mere couple of hours before you raised this issue (see commit c5cd0aa504682c3cfe5ee9872bff2ec9adfd9eb0).

[2019-09-28 21:16] #531 closed

[2019-09-29 17:27] krazov opened #532 "Doom Retro hangs up at the end of E5M1 of Sigil"
## Summary

Game breaks at the end of the first level. When I walk into Baphomet’s face on the wall, the game freezes and after a while exits to Windows.

![obraz](https://user-images.githubusercontent.com/9447478/65836068-7e442600-e2ee-11e9-99d6-682fe0e05154.png)

I saved game and the same thing happens now when I try to load the savegame (I can share it, maybe through email). I tested it with SI

[2019-09-30 05:51] bradharding commented on #532
Hi. Thanks for the report. I just tried it myself, and am unable to replicate. Start episode 5, play through the map, walk to the exit, intermission screen comes up fine, next map comes up fine. So, yes, could you please [email me](mailto:brad@doomretro.com) your savegame? Also, could you please provide the crash information from the Windows Event Viewer, a copy of your doomretro.cfg? And can I cl

[2019-09-30 07:54] krazov commented on #532
I have used ZDL but that is UI for command line, if I understand correctly. However, I had no fifth episode in menu when I load Sigil WAD, as I understand should have happened, so I started Thy Flesh Consumed and then typed `MAP E5M1` in console.

I'll emails files later today.

[2019-09-30 07:55] bradharding commented on #532
Ah, ok. So it could be because you have the registered version of Doom (no 4th episode), and not The Ultimate Doom?

[2019-09-30 08:12] krazov commented on #532
I have WADs from here: [Doom Collector's Edition](https://www.amazon.com/Doom-Collectors-pc/dp/B0002IBEJQ?th=1). I have Thy Flesh Consumed episode which would indicate "The Ultimate Doom". I can check CRC but also later.

[2019-09-30 08:16] bradharding commented on #532
Sorry, you did mention "Thy Flesh Consumed". My bad. Yes, please email me your savegame.

[2019-09-30 08:24] krazov commented on #532
No harm in clarifying.

[2019-09-30 21:37] krazov commented on #532
Email sent.

[2019-10-01 04:10] ice44 commented on #532
@krazov Which version of Sigil are you using? There's Sigil_COMPAT which is for classic ports with limits e.g. Chocolate Doom, and Sigil for limit removed ports. The main Sigil wad has its own episode so there isn't a need to start it using the console.

[2019-10-01 09:52] krazov commented on #532
I am using version 1.21.

I tried running SIGIL_COMPAT but I couldn't run the episode at all. And in DR I can only get there through the console. I get the title screen but not episode when going through NEW GAME.

[2019-10-01 16:27] Zodomaniac opened #533 "Doom Retro crashes to desktop on loading BOOMEDIT.WAD"
Hello Brad, congrats on the recent releases, alas they don't fix a rather bad bug:
Doom Retro crashes on loading the PWAD made to demonstrate Boom features
[boomedit.zip](https://github.com/bradharding/doomretro/files/3677545/boomedit.zip)

[2019-10-01 16:53] ice44 commented on #532
You should run Sigil and not Sigil_compat with DOOM Retro, As I said earlier, Sigil_Compat is meant to be played with vanilla ports, hence the name Sigil_Compat (Compat being shorthand for compatible). Doom Retro is a limit removing sourceport.

When downloaded, Sigil comes with a readme file which I suggest you read. This seems to be an issue of using the wrong wad. Try the suggestions I've laid

[2019-10-01 17:28] ice44 commented on #532
I had posted a response earlier but I had not tested the new wad myself. I tried Sigil_v1_21 myself and the fifth episode did not show up. I then renamed the wad to "Sigil", and it loaded correctly and the fifth episode did show up.

The issue stems from how Doom Retro recognizes the wad, it uses the filename while, for example, Crispy Doom does not, and has no need to rename it.

[2019-10-01 18:09] bradharding commented on #532
Thanks @ice44. I finally figured out this was the cause and so promptly released a new version of DR that fixes it. As for detecting Sigil in a way better than by just file name, I’ll look in it.

[2019-10-01 18:11] bradharding commented on #533
Thanks Zodomaniac. This must be quite a new regression, because I often use boomedit.wad for testing. I’ll investigate.

[2019-10-01 19:34] Zodomaniac commented on #533
I have DOOM2.WAD in Doom Retro directory, but on launch the port keeps showing the 'Where's All the Data?' window.
I added `-iwad doom2.wad` to my BAT-files, this fixed the loading of BOOMEDIT, but weapon sprites don''t get replaced even with `-merge`:
[SMOOTHED_Z.zip](https://github.com/bradharding/doomretro/files/3678236/SMOOTHED_Z.zip)

[2019-10-02 05:51] bradharding commented on #532
@krazov Can you please download v3.0.4 of Doom Retro and confirm Sigil works for you before I close off this issue?

[2019-10-02 06:06] bradharding commented on #533
That's strange. BOOMEDIT.WAD opens fine for me. Are you trying to load anything else with it?

Doom Retro behaves differently to other source ports. Every time you open it, the WAD launcher will come up so you can select the wads you want to load (unless you use -iwad on the command-line). Best to put all IWADs and PWADs in one folder, but once you've opened an IWAD from the launcher, DR will reme

[2019-10-02 08:03] Zodomaniac commented on #533
Sorry for the false alarm. I discovered though that, despite of being forked from Choco, Retro doesn't understand `-merge` command line option, and `-file` acts like it. Another thing I'd suggest to change is to make some indication in the WAD launcher that the IWAD is remembered and there's no need to select it unless the player wants to select a different IWAD.

[2019-10-02 08:09] Zodomaniac opened #534 "Suggestion: a console option to force different aspect ratios"
Currently, Retro plays with 1.2 pixel aspect ratio only. Could you please implement an option for 1.0 pixel aspect ratio, so that the fireballs and powerups are actually spherical?

[2019-10-02 08:09] bradharding commented on #533
Yes, `-file` does the same as `-merge`. Allowing `-merge` as well is a good idea, I'll make that happen! Thanks! As for the indication in the WAD launcher, I'll need to think about that some more...

[2019-10-02 09:00] Zodomaniac commented on #533
The crash occurred for me when I used `start doomretro -file boomedit.wad` even with the remembered IWAD.

[2019-10-02 09:09] Zodomaniac commented on #533
IMO there should be different windows for IWAD and PWAD selection, to enable running an IWAD as a PWAD. (e.g.. to play with SSG in Doom 1, `doom2.wad` should be loaded as a PWAD for `doom.wad`).
The window for IWAD selection should have the following buttons: `Run remembered` (shadowed if IWAD wasn't ever chosen), `Run selected` and `Choose PWADs`, the latter leading to the PWAD selection window.

[2019-10-02 10:07] SoDOOManiac opened #535 "Fluidsynth soundfont support for midiproc"
Please introduce the fluidsynth soundfont support to the midiproc.
Even Chocolate Doom has that.

[2019-10-02 10:14] Zodomaniac opened #536 "Pull recent midiproc fixes from Chocolate Doom"
There have been some fixes to midiproc about 3 weeks ago.

[2019-10-02 10:37] krazov commented on #532
I will check later today.

[2019-10-02 10:38] krazov commented on #532
Is it possible to check the fifth episode and recognize it somehow?

[2019-10-02 19:38] krazov commented on #532
It works: episode is now visible in the menu and I entered second level. Ticket can be closed.

[2019-10-02 20:18] #532 closed

[2019-10-02 21:56] AnotherLife commented on #535
My recommendation: Use VirtualMIDISynth for soundfont support!

[2019-10-03 02:28] bradharding commented on #533
All fixed in commit e60d40a34d6911344a8b896d2d75a35642967d99!

At the moment, the WAD launcher is a standard Windows dialog, which restricts what I can do with it (without a complete, major rewrite). I will look at redesigning at some point in the future, but it's important to me to keep its simplicity.

[2019-10-03 02:30] bradharding commented on #534
Unfortunately, this is something I'm not willing to change. The 1.2 aspect ratio will stay.

[2019-10-03 02:30] #534 closed

[2019-10-03 02:32] bradharding commented on #535
It probably is best just to use what @AnotherLife suggested, but if I was to go for built-in Fluidsynth support, it'd require SDL_mixer to be recompiled with that option enabled?

[2019-10-03 03:27] simc2 opened #537 "-nomonsters doesn't work"
(Doom Retro 3.0.4) When -nomonsters is used the console logs the normal announcement:
A -nomonsters parameter was found on the command-line. No monsters will be spawned.

But the monsters are still spawned according to the skill level.
The only difference is that all the monsters are facing east, angle 0, instead.

[2019-10-03 06:33] bradharding commented on #537
Thanks @simc2! Fixed in commit 233086add07658fdd1672f3642d3f176e1cc86e4.

[2019-10-03 06:33] #537 closed

[2019-10-03 10:17] krazov commented on #181
I have seen cvar for that when I was going through the config documentation last weekend.

[2019-10-03 10:19] bradharding commented on #181
Yeah, this issue is over 4 years old and can be closed now.

[2019-10-03 10:19] #181 closed

[2019-10-03 14:43] AnotherLife commented on #533
ZDL is open source :D

[2019-10-03 18:58] Zodomaniac commented on #533
Thank you for the fix, Brad! Closing this issue, I'll open a separate one for the WAD launcher.

[2019-10-03 18:58] #533 closed

[2019-10-03 19:00] Zodomaniac commented on #535
@bradharding

Right, it should be recompiled as well as midiproc.

[2019-10-03 22:57] P41R47 opened #538 "Monster AI causing performance issues in large maps"
Hi, Brad! how you doing? I helped you spot some issues with the behaviour of the Nightmare Demons in Eviternity a while back. And now i'm here to try to test Doom Retro with almost any wad that stumble i my way.
As of now, i changed my port of choise from lzdoom to crispy, and now to Doom Retro. I really appreciate your constant dedication to the game i love.
But now let's talk about troubles... a

[2019-10-03 23:13] P41R47 opened #539 "BTSX Ep.1 Bad Sky Offset"
I recently changed to Doom Retro and i noticed this little issue.
This one is a Screenshot of crispy doom:
![Sky Offset](https://user-images.githubusercontent.com/54422591/66170263-f3c73380-e619-11e9-8002-d77987943464.png)

And this one from Doom Retro:
![BTSX Radio Report](https://user-images.githubusercontent.com/54422591/66170287-0e011180-e61a-11e9-8c8c-9380615ff811.png)

Is there a way to fix

[2019-10-03 23:49] AnotherLife commented on #538
I think Doom Retro only has a software renderer.

Can you test prboom versus glboom? Which is faster for that map?

[2019-10-03 23:58] bradharding commented on #538
@AnotherLife is correct. DOOM Retro only has a software renderer, like the original DOOM. The `vid_scaleapi` CVAR refers to how DR's 640x400 screen is scaled up onto your monitor each frame: using OpenGL or Direct3D on your video card (hardware), or using software (considerably slower).

I'll have another look at Comatose to see what I can do regarding performance. Yesterday, I implemented a few o

[2019-10-04 00:01] bradharding commented on #539
Thanks @P41R47. I'll look into fixing this for the next build.

[2019-10-04 00:07] bradharding commented on #538
And I've determined the issue. It's caused by v3.0's changes to the AI. If you kill all the monsters (`kill all`) then the performance improves substantially. If you run an earlier version of DR (v2.9.3), it runs fine. This will take a bit of work to fix...

[2019-10-04 00:35] P41R47 commented on #538
Sorry to spot something soo troublesome, Brad. But i think the hassle will be worth it and be good for more compatibility.

[2019-10-04 00:44] bradharding commented on #538
Don't apologize! Thanks very much for letting me know! Comatose is an extreme case, but this issue would be affecting all maps to some degree.

[2019-10-04 00:52] bradharding commented on #539
Thanks again. All fixed in commit d1342c4cbee3fe55a944156200b9a8e5e1118987.

[2019-10-04 00:52] #539 closed

[2019-10-04 05:56] bradharding commented on #536
DOOM Retro's midiproc is a different implementation to Chocolate DOOM's, and is instead taken from Eternity, therefore those fixes you're referring to don't apply.

[2019-10-04 21:27] bradharding commented on #538
Thanks again @P41R47. Issue is now fixed. The next release will be available within about a week.

[2019-10-04 21:27] #538 closed

[2019-10-05 01:35] bradharding commented on #538
@P41R47, here's a beta if you want to try it out before release:
[https://www.dropbox.com/s/auv8ap1ggvaglgy/doomretro-3.0.5b1-win64.zip?dl=1](https://www.dropbox.com/s/auv8ap1ggvaglgy/doomretro-3.0.5b1-win64.zip?dl=1)

[2019-10-05 02:02] P41R47 commented on #538
Wow, Brard! Thanks for this! I will try it as soon as my PC let me play haha. Don't know why, but sometimes, my PC refuses to let me unzip things and i had to re-initialize to be able.
Ohh f***, i forgot to tell you that i have a 32 bits Win7. AMD A-10 with an integrated 1gb graphic card, and no other graphic card. So yes, i got a pretty low end pc, thats why i don't like too modern ports and love

[2019-10-05 05:41] bradharding commented on #538
Oh, well then you'll want the 32-bit beta then 😁:
[https://www.dropbox.com/s/wcos0il44hy64ko/doomretro-3.0.5b1-win32.zip?dl=1](https://www.dropbox.com/s/wcos0il44hy64ko/doomretro-3.0.5b1-win32.zip?dl=1)

[2019-10-05 15:35] P41R47 commented on #538
Just tried it, Brad. Its perfect!
Now it can run ''Comatose'' almost flawlessly.
I experienced minor slowdowns when lookin to the north, but that also happened to me in any other port, so its not problem. I assume this little slowdown might be a hardware limitation of my PC trying to run this massive level.
A minor thing i found is that some monsters loose their specter flag after killing them. Ju

[2019-10-05 21:01] bradharding commented on #538
Thanks. I'll fix this.

Bloodsplats have to be disabled when there's custom sprites. I believe all the grass replace a sprite used for a corpse, so to enable bloodsplats in this case would cause bloodsplats to be wherever grass is.

[2019-10-09 10:31] Zodomaniac opened #540 "SHOWFPS/IDRATE cheat or console command"
It would be really useful to measure FPS in-game without any external applications, like in Crispy Doom.

[2019-10-10 04:52] bradharding commented on #540
I thought so too! That's why there's the `vid_showfps` CVAR. :wink:

[2019-10-10 04:52] #540 closed

[2019-10-11 23:08] P41R47 opened #541 "Monsters traverse sector limit"
Hi, Brad, how you doing?
I'm diggin the new 3.0.5 release. Its play marvelous with all i throw at it as for now.
I was out of Doom for a few days, doing other things, and when i come back to play my near favorite wad, Demonfear, i found something.
First time i played this wad i played it in ZDoom. Then i replayed it in Crispy with a little music pack i compiled for it, but i was displeased with wh

[2019-10-11 23:12] AnotherLife commented on #541
Are you on Windows? You should install VirtualMIDISynth and then you can use any soundfont you like. For example, this one:

https://github.com/Mindwerks/opl3-soundfont

[2019-10-11 23:14] P41R47 commented on #541
Ah, yes, windows, sorry, i forgot to add my PC specifics: Windows 7, AMD A10 4gb RAM, 1gb Graphic card integrated, no external graphic card.

[2019-10-12 05:58] bradharding commented on #541
Hi @P41R47.

Checking out Demon Fear's MAP01: I can confirm there is no monster-blocking flag that DR is ignoring, so that's not the problem. But yes, monster movement behavior has changed slightly, and unfortunately you've identified a couple of maps that are negatively affected by it. (Same issue was pointed out less than a month ago here: https://www.doomretro.com/2019/09/doom-retro-v302.html#c

[2019-10-12 14:17] P41R47 commented on #541
Thanks you, Brad, for answering!
Maybe some mosters now, with the changed movement behavior, doesn't have the ''deaf'' flag, or ''act on sight''. That will explain why monsters appeard in different places of the map without the monster-blocking flag.
I will continue on testing to see how different wads plays in DoomRetro.

[2019-10-12 15:25] P41R47 opened #542 "Batman Doom compatibility"
Batman Doom is a rich and marvelous modification, but almost all ports (even vanilla) have problems with it...
Aside from some monsters movement behavior, i found that some level props, like the subway red cones acts in a very strange way; some enemies that are supposed to drop keys don't drop it and some do; some red key switches are usable without red key; also some levels don't work as they nee

[2019-10-12 19:45] Zodomaniac opened #543 "Automap grid is not displayed"
I see the message 'Grid on.' but no grid.

[2019-10-12 20:26] bradharding commented on #543
Are you sure though? How dark is your screen? The default for `am_gridcolor` is a pretty dark gray. Try changing that CVAR to a different value.

[2019-10-12 20:42] Zodomaniac commented on #543
I saw the grid only at a significant angle from boresight. Comared to Crispy Doom its default color is almost invisible.
![Automap](https://user-images.githubusercontent.com/15119473/66707488-fb898500-ed49-11e9-900c-1541d8363758.png)
![DOOM0000](https://user-images.githubusercontent.com/15119473/66707493-00e6cf80-ed4a-11e9-8269-e6811fa32e59.png)

[2019-10-12 21:34] bradharding commented on #543
I'll consider changing the default.

[2019-10-12 21:40] Zodomaniac commented on #543
Thanks a lot!

[2019-10-12 23:22] #543 closed

[2019-10-17 00:43] P41R47 opened #544 "Endless Torture E2M5 Secret exit problem in Doom Retro"
Hi, Brad, how you doing?
I stumble upon this strange bug while playing this wad in Doom Retro 3.0.5:

https://www.doomworld.com/idgames/levels/doom/megawads/et

Endless Torture is a vanilla compatible megawad.
As any other vanilla compatible wad, it respect the secret exits on each episode.
The bug consist in the following, after activating the switch for the secret exit in e2m5, then intermission

[2019-10-17 01:08] P41R47 commented on #544
I tried redownloading the wad... and it fixes the problem.
Strange!
i will close this.
Sorry for all the trouble.

[2019-10-17 01:13] #544 closed

[2019-10-18 18:20] krazov opened #545 "Straferunning too slow on short distances"
I have been playing “Alien Vendetta” with gamepad. On level 31 there is a need to use [straferunning](https://doomwiki.org/wiki/Straferunning) in order to get the blue key (screenshot below).

![Alien Vendetta: MAP31 Killer Colours](https://user-images.githubusercontent.com/9447478/67117665-8ef80580-f1e3-11e9-99e1-45133c4a990b.png)

I suspected as much and after a few unsuccessful attempts I confi

[2019-10-18 20:33] kewalsky opened #546 "Support for Blzut3's Unofficial Master Levels Patch"
The "Unofficial Master Levels for Doom 2 Patch" from http://maniacsvault.net/projects pulls together the Master Levels in your desired order into a MASTER.WAD. While support for it like NERVE.WAD would be greatly appreciated I am also unable to play it by selecting it as a PWAD. It plays just the normal DOOM2 levels. I would consider this a feature request.

Thanks!

[2019-10-20 00:24] P41R47 commented on #546
If you know how to use SLADE3, you can open this MASTER.WAD and rename the maps from MAP01 to MAP20 and you will be able to play them continously as a PWAD. (Teeth and Baddreams goes together with the second as a secret level, so MAP15 and MAP31 respectively).

[2019-10-20 06:19] bradharding commented on #546
Yeah, to support this would require further extending support for `MAPINFO` lumps, which will happen eventually. I'm surprised that tool doesn't have an option to create a Vanilla-compatible PWAD.

[2019-10-21 13:32] P41R47 opened #547 "REKKER compatibility as IWAD?"
Hi, Brad how you doing?
I was cheking some mods an i found that REKKER was updated to be sorta like an IWAD, could it be possible to add iwad compatibility support to this awesome work?
As of now it can be played with the -iwad parameter, but for some strange reason, the menu appereance and some of the stats screen words looks like the ones from Ultimate Doom and not the proper REKKER graphics pat

[2019-10-23 05:56] bradharding commented on #547
Hi,
REKKR.WAD is still a PWAD, and should be treated as such. The problem here, though, is that you have the Registered version of DOOM, rather than the Ultimate DOOM. I will need to better handle this instance.

[2019-10-23 16:05] P41R47 commented on #547
Thanks for answering, Brad.
I don't undertand, why doom pre Ultimate build?
As far as i know, REKKERSA.wad had 4 episodes, being the fourth a collection of bonus maps, but they are 9 differents leves as every other episode.
As you said, i'm using rekkersa.wad as a pwad using doom.wad as -iwad and it play without problems.
I don't know much about the internal work of a wad, but what else is needed

[2019-10-23 17:17] bradharding commented on #547
Oh sorry. I didn’t realise there was an actual IWAD version called REKKRSA.WAD, I was going by what the regular REKKR.WAD was doing when loaded with registered Doom. Recognising the former as an IWAD should be easy enough. Thanks.

[2019-10-23 21:46] P41R47 commented on #547
No problem, Brad! ;)
Glad to help.

[2019-10-29 20:32] stupacshakur opened #548 "Soul Sphere disappears in secret in 1994tu.wad"
![Hyper-Vyper (2)](https://user-images.githubusercontent.com/11128682/67806321-dd14d080-fa4f-11e9-9d12-17cfa9ffa0ff.png)

![Hyper-Vyper (1)](https://user-images.githubusercontent.com/11128682/67806124-84ddce80-fa4f-11e9-8bce-c31256c0457e.png)
This secret in 1994 Tune Up (1994tu.wad) seems to be broken in 3.0.5. Tested without mods. The soul sphere is supposed to drop down and be available in the r

[2019-10-29 20:58] stupacshakur commented on #548
Did some further testing, same issue with 3.0.3 and 2.9.3. This must be some kind of "boom compatible" trigger (sorry not sure the technical term, I'm not a mapper), since it doesn't function with Chocolate/Crispy Doom at all. But, with Pr-Boom-Plus and GZDoom this map works fine. Also, forgot to note, this is Map03.

[2019-10-30 04:50] bradharding commented on #548
Thanks for this. The soul sphere doesn't actually disappear. If you flick the switch to lower it, before falling down the shaft to go collect it, open the automap. You'll see you're silently transported back to another part of the map. So what's happening is the soul sphere isn't transported to the place the player returns to like it should. I'll look into why this isn't happening.

[2019-10-31 14:52] stupacshakur commented on #548
Ahhh! That is some trickery there, I didn't even catch it! I always tend to forget the smoke in mirrors that mappers have to pull off in the 2D DOOM engine. Thanks for looking into it. And thanks for DOOM Retro!

[2019-10-31 19:50] bradharding commented on #548
And... fixed! Thanks again @stupacshakur. Next version with this fix will be out soon...

[2019-10-31 19:50] #548 closed

[2019-10-31 19:53] stupacshakur commented on #548
Thank you, Happy Halloween!

On Thu, Oct 31, 2019 at 12:50 PM Brad Harding <notifications@github.com>
wrote:

[2019-11-03 01:02] drnooooo opened #549 "Adjusting player height in water sectors leads to map incompatibility"
As the title says, the default behavior of lowering the player's height when they are in water can result in map incompatibilities. This happened to me on Eviternity MAP03, where the super shotgun switch is impossible to shoot with any weapon because the player is too low to reach it.

This is probably a rare issue, but I would suggest disabling this behavior on Eviternity MAP03 or disabling it al

[2019-11-03 01:38] bradharding commented on #549
Hi @drnooooo. Thanks for the report. This has actually been raised before, (same example, in fact), but I didn't get 'round to fixing it.

Rather than a compatibility fix for Eviternity, or disabling the feature altogether, what I've just done in commit bf99bea09cec5b6298c406f9c3a5635f23cb1b24 is still lowered the player view in liquid, but when they fire, their shots will be at the regular height

[2019-11-03 01:38] #549 closed

[2019-11-06 00:11] simc2 opened #550 "level restart if the last savegame is deleted"
Doom Retro 3.1/32-bit will crash if:

You start a game,
save the game,
delete that savegame from either from the save game or load game menu,
the player dies,
and press space to restart.

Noticed this when I tried to get a fresh start to an earlier saved level.
Otherways the level always restarts from the last saved game.

[2019-11-06 05:04] bradharding commented on #550
Thanks @simc2! Fixed in commit 1b969b0ff1fc02317c34dea2410a2f3a4559756c.

[2019-11-06 05:04] #550 closed

[2019-11-14 22:53] P41R47 opened #551 "Sound Volume Setting problems?"
Hi, Brad, how you doing?

I was playing, a few hours, TNT Revilution in Doom Retro and for some reason, the SFX in game sounded really low while in the sound setting it was at max. After looking in the .cfg and checking all was ok, i realiced that i was that, for some reason unknown to me, Doom Retro .exe volume was lowered in the Windows sound mixer control.

Anyway, what i found is that, you can

[2019-11-15 01:23] bradharding commented on #551
Now that's strange. It works for me just fine. Go to options -> sound volume, put music volume all the way to 0, and you get SFX but no music. Is midiproc.exe being used to play music? In the console, do you get any warnings about midiproc can't be initialized?

[2019-11-15 01:45] P41R47 commented on #551
No warning at all in the console, Brad.
And whats more important, i can't reproduce that bug at all.
It was some hardware problem i think, because i just reinitialized the PC and it work just fine now.
Sorry for wasting your time, my PC go NUTS some time... even if i don't play NUTS :/

[2019-11-15 01:45] #551 closed

[2019-11-15 04:19] bradharding commented on #551
No problems at all. Probably another app interfering with the volume. Maybe another one using SDL. (I recall having a similar problem several months ago.)

[2019-11-18 23:32] simc2 opened #552 "telefrag, line-to-line teleporters"
If the infiniteheight is off, telefragging a monster with line-to-line teleporters appears to fail when the monster is on a floor at real time map height 57 or higher.

When this happens the player is teleported inside any monster as it should but the monster remains unharmed. Smaller mosters such as demon or baron can (bruise?) attack the player further away instantly but larger monsters such as

[2019-11-19 05:09] bradharding commented on #552
Thank you for the report, @simc2, and thank you so much for taking the time to give such a detailed description! I'll look into this shortly.

[2019-11-19 06:45] #552 closed

[2019-11-19 06:46] bradharding commented on #552
Thanks again @simc2! All fixed!

[2019-11-25 19:08] P41R47 opened #553 "Infinite duration Radiation Suit"
Hi, Brad! How you doing?
I found something that might be a bug. Since i changed to Doom Retro as my port of choice, i tried different wads to test it. From vanilla wads to MBF-compatible. They all play without problems so far.
But i found that sometimes, Radiation suit duration last for all the level. At first i was unsure if i it was me that feel it that way, or that it really happened. But it ju

[2019-11-25 21:48] bradharding commented on #553
Thanks for the report @P41R47. Try as I might though, I can't seem to replicate this issue. Using the `spawn` CCMD, I'm spawning two rad suits. Pick them up at the same time, one after the other, the 2nd one just as the last one is running out - everything works as expected. With the `r_althud` CVAR `on` you can see the powerup timer at work.

This makes me think though that maybe you might be mis

[2019-11-25 22:05] P41R47 commented on #553
Ouch!, it might have happended as you say. I didn't know that Doom Retro changed the behaviour of the cheats and maybe i used it just to not go back and search for a rad suit and waste time...
Well, it surely might be it. So again, sorry Brad for wasting your time.

[2019-11-25 22:05] #553 closed

[2019-11-25 22:09] bradharding commented on #553
No need to apologize! I appreciate the time you've taken to report issues, even if this one happened to be a misunderstanding.

[2019-12-02 09:41] grawlinson opened #554 "bsdtar unable to extract source archive"
I maintain the Arch Linux package in the [AUR](https://aur.archlinux.org/packages/doomretro/) and I've noticed that the v3.2 and v3.2.1 source archives (zip AND tar.gz) can't be extracted with `bsdtar`, but v3.1 can be extracted without issue. I think it could be due to SDL2 framework being updated in [this](https://github.com/bradharding/doomretro/commit/12e8dab25ca5ffb26d4e99024b3a3fd75c9812c1)

[2019-12-02 11:24] jasoncarlough opened #555 "SIGIL runs poorly or crashes"
I have two different Windows 10 systems and on one system SIGIL runs poorly and then crashes a quarter to halfway through map 1 on the other it doesn't crash but it suffers with huge stutters. In both cases enabling or disabling vsync doesn't make a significant difference.

[2019-12-03 05:00] bradharding commented on #555
Just tried running through SIGIL's first map, in both 32- and 64-bit builds, and the map runs fine for me. Could you provide more information please? Does it happen after a specific action in the map? How are you loading SIGIL - through the launcher, or command-line? Any warnings in the console? Any other wads loaded? Could you also please include your doomretro.cfg file.

[2019-12-03 05:07] bradharding commented on #554
Thanks for the report. I'll look into reverting commit 12e8dab25ca5ffb26d4e99024b3a3fd75c9812c1 then.

[2019-12-03 05:48] bradharding commented on #554
Thanks again @grawlinson. Hopefully 822fea5a6e39c2edb86778bf947fe2c5cb0c8a22 will fix this.

[2019-12-03 19:28] jasoncarlough commented on #555
So upon testing today... everything is working fine... on both computers. The one that was crashing hasn't even been rebooted since yesterday. I have no idea what could have been the problem. Anyways, sorry for the false alarm and for wasting your time.

[2019-12-03 20:10] jasoncarlough commented on #555
Aaaactually, even though I can't reproduce the problem on map 1 at all, I was just playing through map 3 and had another crash a little ways into it. To answer your questions from yesterday:

Windows 10, up to date.
I'm using a fresh Ultimate Doom wad from Steam.
I'm using the launcher and no other wads.
Doesn't seem to linked to any specific action I'm taking.
There are no warnings in the console

[2019-12-04 04:48] bradharding commented on #555
Thanks Jason. You can use `condump` to dump the console's contents to a file.
I'll continue to look into this. BTW Could you also please provide the error information of the crash from the Windows Event Viewer, as that might help me trace the problem.

[2019-12-12 22:37] P41R47 opened #556 "Random Crash that i can't replicate"
Hi, brad, how you doing?
Recently, since i updated my Doom retro version to 3.2.1, 32bits, i encountered random crashes.
I can't replicate them, and they happened to me playing different wads, but happened two times in a row while playing Vile Flesh map21: Flesh Mill.
Also, i was experimenting a little stuttering recently, at first its wasn't obvious, but after some crashes i identified that it ha

[2019-12-12 23:52] bradharding commented on #556
Thanks for the report. Despite being able to trace to where the crash occurred using the info you've provided, I'm struggling to find the actual cause of this crash (along with other reports of others). A couple of questions: do the crashes occur only once you've loaded a savegame? Also, do you happen to have just killed a lost soul at the time?

[2019-12-13 01:07] P41R47 commented on #556
It happened a few times in the last days, so i can't say for sure, but the last times that happened while playing Vile Flesh i take note of the issue:
1)No, i loaded a saved game, played a lot of time, maybe around 8 or 10 min. and then comes the first crash when i was fighting a knight and an imp; the crash took place when i aligned them and shoot the ssg to take them in a row.
2) The second time

[2019-12-13 04:51] bradharding commented on #556
Hopefully commit e1e710f91ee362f67334d6cf01542490f836f8dc is the cause.
Could you please test using the following build? https://www.dropbox.com/s/9311y50axu1a2r8/doomretro-3.3beta1-win32.zip?dl=1

[2019-12-13 15:59] P41R47 commented on #556
Yes, i just come home, from work. Gonna test this asap.

[2019-12-14 21:13] P41R47 commented on #556
No problem soo far, Brad. I played 12 maps in a row without a crash.
But i couldn't say for sure if this bug is fully repaired as, soetimes they happened in row, and sometimes not at all after a long day of playing.

[2019-12-14 23:48] bradharding commented on #556
Thanks again @P41R47. I won't assume it's fixed just yet either. Please let me know if you encounter any further crashes.

[2019-12-15 01:00] P41R47 commented on #556
Copy down, Brad!
i'm gonna test the hell out of it ;)

[2019-12-16 02:05] P41R47 commented on #556
Brad, i had a crash in the beta build two times in a row in the same place:
Perdition's gate map07, after taking the elevator up, when i step on the acid pool.

Here is the windows log:
Nombre del evento de problema:	APPCRASH
  Nombre de la aplicación:	doomretro.exe
  Versión de la aplicación:	3.3.0.0
  Marca de tiempo de la aplicación:	5df31796
  Nombre del módulo con errores:	doomretro.exe
  Ver

[2019-12-16 05:34] bradharding commented on #556
Thanks for persisting with this! The above crash reports were useful, and I was able to get it to crash at the same place at my end. I *think* I may have made some progress in understanding the cause of these crashes, but could you please test for a while with the following build, before I commit anything?

https://www.dropbox.com/s/fooptzs765ikf1z/doomretro-3.3beta2-win32.zip?dl=1

[2019-12-16 16:14] P41R47 commented on #556
Glad to know that was useful!
Yes, i'm gonna test this new build asap.

[2019-12-16 22:09] P41R47 commented on #556
I feel bad to bring this again, Brad.
The crash persist in Perdition's gate map07, now in two different spots: first run it crashed in the elevator, and the second run in the acid pool.
Here's the log:

 Nombre del evento de problema:	APPCRASH
  Nombre de la aplicación:	doomretro.exe
  Versión de la aplicación:	3.3.0.0
  Marca de tiempo de la aplicación:	5df71642
  Nombre del módulo con errores:	d

[2019-12-17 04:57] bradharding commented on #556
😭 Alright then, I'll need to continue looking into this... What I think is happening is some things in the map aren't removed properly (exploded barrels or lost souls, blood, bullet puffs, projectiles, etc.) and when a sector moves (triggered by a linedef), the positions of those things are checked but a crash occurs because their data isn't fully there. There's something else I can try, so if you

[2019-12-17 06:41] bradharding commented on #556
Me again! :grin: Could you please try the following build? (If this doesn't fix this, then I am completely off track!)

https://www.dropbox.com/s/1hbt6fe6uvgbaa3/doomretro-3.3beta3-win32.zip?dl=1

[2019-12-17 07:03] bradharding commented on #556
(Please ignore the previous comment if you saw it before I deleted it.)
Could you please try the following build? (If this doesn't fix this, then I am completely off track!)

https://www.dropbox.com/s/41o1213mhiukop8/doomretro-3.3beta3-win32.zip?dl=1

[2019-12-17 16:43] P41R47 commented on #556
I tried the new beta3 build...
Sorry, it still crash in the same place: map07 of perdition's gate.

Nombre del evento de problema:	APPCRASH
  Nombre de la aplicación:	doomretro.exe
  Versión de la aplicación:	3.3.0.0
  Marca de tiempo de la aplicación:	5df87c97
  Nombre del módulo con errores:	doomretro.exe
  Versión del módulo con errores:	3.3.0.0
  Marca de tiempo del módulo con errores:	5df87c9

[2019-12-18 04:48] bradharding commented on #556
Oh well. I'll keep looking. You said previously that the crashes started occurring when you switched to v3.2.1. Can you clarify if you used the previous version (v3.2) and there were no crashes?

[2019-12-18 06:41] P41R47 commented on #556
I will not lie to you, Brad. I was playing a lot since i helped you with the Back to Saturn X sky's issue that i loose contact with the update you made, so the last one i was playing a lot were 3.05 and 3.1, i think that this last one was the most stable version...

And i got good news for you :D
I managed to save one copy of DoomRetro v3.1 and it doesn't crash at all in perdition's gate map07
So,

[2019-12-18 07:50] bradharding commented on #556
Thanks @P41R47. That does narrow it down. So the problem is down to a commit between November 2 and 25. And now I've added debug information to the release build, that'll help as well. I might get this sorted by 2020!

[2019-12-18 15:34] P41R47 commented on #556
If you want, i can test the different wads that reported crashes, and look if they work right in this built. Just tell me what wads where reported.

[2019-12-18 16:31] garoto commented on #556
FYI, all previous releases can still be found at https://github.com/bradharding/doomretro/releases.

[2019-12-18 22:47] simc2 opened #557 "-nosound/-nosfx"
There's a repeatable crash if DR is run with -nosound or -nosfx option and the player wakes up almost any monster.

In Doom2 map01 picking up the chainsaw has no troubles, even it has the idle sound effect, but using it or firing up the pistol or walking next to the troopers will result a crash. With -nomonsters the crash won't occure. The Lost souls won't cause a crash but they do not have a wake

[2019-12-19 04:45] #557 closed

[2019-12-19 04:45] bradharding commented on #557
Thanks @simc2! All fixed!

[2019-12-19 04:47] bradharding commented on #556
No, that should be okay. Leave it with me, and hopefully I'll have it sorted over this upcoming weekend.

[2019-12-19 13:55] ozy24 opened #558 "MP3 soundtrack does not loop"
Hi Brad,

I posted this on disqus already but thought i'd post it here to make it more official. :)

I'm using a custom WAD that replaces the midi soundtrack with MP3 files from PSX doom.  The music plays fine, but only once.  At the end of the track it goes silent and the music does not repeat.

I have uploaded the WAD file here, if this helps.

https://easyupload.io/zd944n

This happens on v3.2.

[2019-12-19 23:34] bradharding commented on #556
Hi Pablo. Could you please test the following build? I believe I may have actually determined the cause (for real this time!).

https://www.dropbox.com/s/8yyvhha38wt91c0/doomretro-3.3beta4-win32.zip?dl=1

[2019-12-20 00:37] P41R47 commented on #556
Sure, Brad!
I'm gonna test the hell out of it!

[2019-12-20 22:44] P41R47 commented on #556
No problem so far, Brad, but i noticed two minor things.
First: IDBEHOLD+L doesn't work at all, no matter how many times i tried it, other IBEHOLDS work right.
Second: Vile Flesh map25: There is a switch in the upper part of a two-ways stairs in the northwest part of the map, in front of where a caged spiderdemon sits, that makes the yellow key appeard in the ground, well, i tested in differents p

[2019-12-20 22:59] bradharding commented on #556
Thanks @P41R47. I'll look into the bugs you mention. With the crashes appearing to no longer happen, though, I'll look at releasing v3.3 within the next 24 hours.

[2019-12-20 23:06] P41R47 commented on #556
Ok, Brad ;) Glad you can find the problem and fix it.
i will continue on testing just in case.

[2019-12-21 00:08] bradharding commented on #556
The issue in MAP25 VILE.WAD will have to wait. I'm not sure what's going on there just yet. I've just released DOOM Retro v3.3! Thank you so much Pablo for taking the time to help me in fixing these crashes.

[2019-12-21 01:25] simc2 commented on #556
In beta4 teleports work no more if you save the game and then load the saved game.
This didn't happen in 3.2.1. Doom2 MAP21 is a quick test level.

^I'ven't tried 3.3 yet.

[2019-12-21 01:30] simc2 commented on #556
The teleport problem in saved games does occure in 3.3 too. Sorry for being late.

[2019-12-21 03:17] bradharding commented on #556
Thanks @simc2. I've fixed the problem and quickly and retroactively updated v3.3. Please redownload it.

[2019-12-21 15:30] P41R47 opened #559 "Teleports doesn't work, sometimes."
I stumble with this bug while playing Akeldama RC2, yesterday. At first i think it was a map bug that needed to be reported to the mapping team, but then, i started playing Alien Vendetta and when i reached map07, i found that i was not able to escape from the pit, or using the teleport at the center of the map. I searched around for this kind of bug or something mentioned in the wad wiki, but no,

[2019-12-21 16:53] P41R47 commented on #556
oh, i didn't see the new messages here and i also brought this in a new issue thread. i will close it.

[2019-12-21 21:27] bradharding commented on #559
See 8467f5be7e88cc87c09cf15047dc568cf0207a09.

[2019-12-21 21:27] #559 closed

[2019-12-21 23:24] bradharding commented on #558
Thanks for the report. Well, I loaded up DOOM2.WAD with the PWAD you provide, and after the 8 mins or so, yes, the D_RUNNIN MP3 lump doesn't repeat. However, I then loaded up DOOM.WAD with SIGIL.WAD and SIGIL_SHREDS.WAD and the D_E5M1 MP3 lump does loop. I'm not familiar with the format of MP3 files, but maybe it's an issue with the files themselves?

[2019-12-22 12:10] ozy24 commented on #558
Hi Brad,

I re-encoded D_RUNNIN.mp3 with a modern LAME encoder and imported it back into the WAD and it repeated fine.

So the issue is definitely the way the MP3 files were encoded to begin with (not done by me so no idea which tool was used).

Doom Retro is the only port i've used that has this issue but it's easy enough to re-encode all the files with LAME.

Thanks for looking into it. :)

[2020-01-12 15:50] vanfanel commented on #514
@bradharding Heretic support is the only feature I am missing from DoomRetro. Two years enjoying DoomRetro on my Pi at SOLID 60Fps with perfect video sync!

So... May I ask a year later for an Heretic comeback...? :dancer:

[2020-01-13 04:48] bradharding commented on #514
Revisiting Heretic support (then Hexen, then Strife) is still on the list, but at this stage it's still _way down_ on the list I'm afraid. Once I run out of the DOOM-related things I want to achieve with DR, only then will Heretic get some love.

[2020-01-14 00:05] vanfanel commented on #514
@bradharding Then I guess I will wait and ask in another year or so ;)

[2020-01-16 23:05] ajs91 opened #560 "NOVA 3 crashes during level transitions"
DR will crash after the level stat screen while loading the next level in this wad; otherwise it runs great. No issues with warping to maps using the command line. WAD in question can be found here: https://www.doomworld.com/forum/topic/98624-nova-iii-rc2c-available/

[2020-01-17 00:56] 10010101001 opened #561 "Can't write config or save on Linux"
Every time I launch doomretro, all configs are reset. As well as that, when I try to save the console says "save failed".

[2020-01-17 04:40] AnotherLife commented on #561
Does it have to do with privileges? Try to run as administrator to test.

[2020-01-17 05:36] #560 closed

[2020-01-17 05:37] bradharding commented on #560
Thanks @ajs91! This has now been fixed in commit 76b485b1862c74bcfe5fefa3a61e11c72de77b7a.

[2020-01-17 17:10] P41R47 opened #562 "Ghost monster bug"
Hi, Brad! how you doing?
I was playing Hell To Pay recently, one of those commercial pwads that wraith corporation made at the same time Final Doom was being developed.
Well in map14 and map22 of this mapset, the authors deliberately use the Ghost monsters bug of vanilla engine, but, as Doom Retro is now completly MBF, and Boom fixed the ghost monster bug, that map feels broken.
Is there a way to

[2020-01-17 21:27] bradharding commented on #562
Hmm. This is a tricky one. I'm reluctant to have a CVAR that toggles this bug. But, as described [here](https://doomwiki.org/wiki/Ghost_monster), I might do what ZDoom does, and allow it for the maps mentioned.

[2020-01-17 21:47] P41R47 commented on #562
Mmm, seeing that many maps accounted that use the bug, and a hell a lot more that also surely uses it, intentionally or not, i think that MBF approach was the most consistent, and is similar to implementing a CVAR to make it toggleable.
I know it CAN break certain things, but, making it a CVAR On by default, gives the option to inexperience players to play as it isn't there, and also let the other

[2020-01-17 23:34] P41R47 commented on #562
Now that i'm here, check this megawad for Doom 1.
I don't know why, but when i try to play E1M5, Doom Retro crashes! This is the only crash i experienced since you updated Doom Retro to v3.3 and then to v3.4
[megawad.zip](https://github.com/bradharding/doomretro/files/4079612/megawad.zip)
Its from a random and very old site with old Doom stuffs, so it might have some mapping problems, maybe?

[2020-01-17 23:39] bradharding commented on #562
I'll check it out now. Thanks!

(As for the topic of this issue, maybe I will implement comp_vile as a CVAR. It would be easier, and also allow me to toggle it in vanilla mode. And then I'd implement other compatibility flags from PrBoom+ if there are maps shown to benefit from them.)

[2020-01-18 14:20] P41R47 commented on #562
I found another one that crash, Brad! Here it is:

[GRENIAN.zip](https://github.com/bradharding/doomretro/files/4080777/GRENIAN.zip)

But this one crash at startup and shows the following screen.
![DRCrash](https://user-images.githubusercontent.com/54422591/72665150-4f100c80-39e4-11ea-8ab9-4412dc47477a.png)

[2020-01-18 20:57] ajs91 opened #563 "Valiant.WAD Map09 Crash"
When attempting to open the final (?) door in this map, DR will crash to desktop. Attached is a save file with the player facing said door.

[doomretro0.zip](https://github.com/bradharding/doomretro/files/4081747/doomretro0.zip)

[2020-01-18 22:01] bradharding commented on #562
Thanks @P41R47. The problem with this WAD is that it's header indicates it's an IWAD, when it should be a PWAD (I think the author did this so you can't edit it in Slade, etc.). I'll remove this check at startup. Note that opening this WAD through the launcher still won't be possible, as the launcher relies on distinguishing between IWADs and PWADs.

Minor housekeeping note: I immensely appreciate

[2020-01-18 22:07] P41R47 commented on #562
Oh, sorry, Brad. I thought i would be a little annoying to open different issues. Surely, i will do it the right way next time.

[2020-01-18 22:11] P41R47 commented on #563
Yup, i tested it on my pc; it crash without any message.

[2020-01-18 22:53] bradharding commented on #563
This crashes for me in v3.4 as well. But, testing it using the yet to be released version, and it doesn't! I'm not sure what exactly fixed it, but consider it fixed!

[2020-01-18 22:53] #563 closed

[2020-01-25 19:28] P41R47 opened #564 "HACX intermission screen map name bad offset"
Hi, Brad! How you doing?
I'm testing things out, and i found this one in HACX, take a look:
![Intermission](https://user-images.githubusercontent.com/54422591/73126230-dcc49c80-3f8e-11ea-850c-af662e30a1cc.png)

All map names appeard over the SURVIVE! text.
I tried it in different ports and it looks fine there.

PD:I give you an answer over at DW

[2020-01-25 21:19] 10010101001 commented on #561
Yes, that worked

[2020-01-25 21:19] #561 closed

[2020-01-26 02:53] #564 closed

[2020-01-26 02:53] bradharding commented on #564
Thanks @P41R47! Fixed in commit e5ae023ade323fd93adf1c84942c500a12cbd331.

[2020-01-26 05:15] bradharding commented on #555
This should now be resolved. Closing. @jasoncarlough, please let me know if you still experience issues in Sigil.

[2020-01-26 05:15] #555 closed

[2020-01-26 05:16] bradharding commented on #554
@grawlinson Can you please confirm that this issue no longer occurs with v3.4?

[2020-01-26 05:17] bradharding commented on #547
@P41R47 Is this issue fixed using the beta I provided?

[2020-01-26 05:21] grawlinson commented on #554
Hello Brad,

I can confirm that it does not occur with v3.4.

Thanks for fixing the issue. :)

[2020-01-26 05:25] #554 closed

[2020-01-26 21:13] P41R47 commented on #547
yes, it persist with some graphical bugs, check them out:
![Menu](https://user-images.githubusercontent.com/54422591/73141821-18cb3080-4067-11ea-8c2e-340541c5f12c.png)
![Menu (1)](https://user-images.githubusercontent.com/54422591/73141849-47e1a200-4067-11ea-9a09-a6170bcf7b66.png)
![Sinking](https://user-images.githubusercontent.com/54422591/73141848-47e1a200-4067-11ea-8a97-c64be3ba2a69.png)

this

[2020-01-27 20:55] P41R47 opened #565 "HR save game little issue"
Hi, Brad! How you doing?
I was checking Doom Retro with different wads and i found a little odd thing while saving in Hell Revealed.
Its not a big thing, but is the only one that i found that behaves this way.
When you save, the map name appeard, but i usually change the save game name to the wad name, and that is somewhat automated for the rest of the wads as the name i put stay until i change it

[2020-01-28 05:32] bradharding commented on #565
Ah, this is because HR.WAD doesn't have any DEHACKED nor MAPINFO lumps to specify the mapnames, which I guess I don't accommodate for when updating the savegame description. I'll look into it, thanks!

[2020-01-28 15:43] P41R47 commented on #565
sorry, i forget to mention that i made a little dehacked patch for map names and intermission screens. So actual names appeard at the corresponding maps, but if i save with a different name, at the next map, the save name is reseted to the current map name.
In other wads that doesn't happend at all.
Check this dehacked, if i remember right, is in extended dehacked format.
[hrDeh.zip](https://githu

[2020-01-28 22:38] ozy24 opened #566 "MIDI playback issue"
Hello,

I'm playing through Back to Saturn X and noticed some MIDI playback issues on E1M3 - The Room Taking Shape. Some of the higher notes in one part of the music track are cut off and do not play correctly.  It plays as expected in GZDoom.

[2020-01-29 01:53] P41R47 opened #567 "Fullscreen Black Borders suggestion"
Hi, Brad! How you doing?
I'm testing out the beta you give me, and soo far, i didn't found any bug, strange behaviour or crash.
But i'm here for something else.
Doom Retro plays in a black borders full screen usually, and i found neat that the console port like the new Doom Classic Unity, use somekind of graphic for this black borders that mantain the aspect ratio.
Well, why not make Doom Retro us

[2020-01-29 04:30] chetchaka opened #568 "[ Feature Request ] Add option to dither fog-lighting like in PrBoom/PrBoom+/"
![20200128_214512](https://user-images.githubusercontent.com/10410935/73327872-317d4700-421d-11ea-84e1-edaa378535c3.jpg)

![20200128_215342](https://user-images.githubusercontent.com/10410935/73327877-3b9f4580-421d-11ea-974b-d394db7f2e03.jpg)

(Camera photos of Devinacker's PrBoom-3DS port)

Sorry if this is a duplicate, I'm not very good with GitHub and couldn't find a similar issue in the filter

[2020-01-29 04:54] bradharding commented on #565
Oh, yes, that dehacked lump would make a difference. I'll reopen this and look into it further. (At least commit 76616f6fc7422bb54cdfdd0ec7d757ea69f4107b fixed another related problem.)

[2020-01-29 04:56] bradharding commented on #567
Sorry, Pablo, that looks terrible! 😬 I am not a fan of having anything in the pillarboxes (the new official ports look bad as well imho), preferring to keep things clean and simple.

[2020-01-29 04:56] #567 closed

[2020-01-29 05:03] bradharding commented on #568
Hi @chetchaka. I'm definitely a fan of dithering effects like this, and would love to implement something like this in DOOM Retro. I'll see what I can do! Thanks!

[2020-01-29 13:07] ozy24 commented on #566
Here are two audio recordings to show the difference.  I assume DF and GZDoom are using different MIDI playback engines so maybe it's just a quirk of this particular track..

[midi-test.zip](https://github.com/bradharding/doomretro/files/4128091/midi-test.zip)

[2020-01-29 15:31] P41R47 commented on #567
No offense, Brad. It was just an idea. I just thought that this could make new doom players feel a little more comfortable with Doom Retro as surely they are not acustomed to black borders in their new generation games.
Just a suggestion, don't worry.

[2020-01-29 22:38] ozy24 opened #569 "Crash when entering exit to secret level in SIGIL_v1_21.wad"
Hi Brad.  Doom Retro crashes on Unspeakable Persecution (E5M6) when entering the exit portal to the secret level Realm of Iblis (E5M9).

Here is the Windows error log.  I have also attached the save game so you can test.. hope this helps!
(https://github.com/bradharding/doomretro/files/4131135/doomretro5.zip)

Faulting application name: doomretro.exe, version: 3.4.0.0, time stamp: 0x5e11362b
Fault

[2020-01-29 23:00] P41R47 commented on #566
Now this is open, i noted some little crackling sound during the reproduction of the MIDI while playing the beta, Brad. This might be what @ozy24 is issuing, too.

[2020-01-29 23:06] P41R47 opened #570 "ticktock.wad CWILV bad offset"
I found this one while doing some wads research, Brad.
Here is the download link of the wad: https://www.doomworld.com/idgames/levels/doom2/megawads/ticktock

And here is the issue, take a look:
![Intermission](https://user-images.githubusercontent.com/54422591/73405411-93e44f00-42d2-11ea-9386-110c6dd8d145.png)

[2020-01-29 23:18] P41R47 opened #571 "Twilight Warrior weapon change problem"
Twilight Warrior is a Total Conversion for Doom2
Here is the wad: https://www.doomworld.com/idgames/levels/doom2/Ports/s-u/tw_11

The problem is that, just when you start to play, you found a weapon that is a BFG replacement, but if you change for other one, you can't change back to the BFG replacement.
If you imput the IDFA cheat, you can cycle the weapons normally from the fist replacement to th

[2020-01-29 23:42] AnotherLife commented on #566
Just install VirtualMIDISynth, guys. And use a nice soundfont like scc1t2.sf2 or 8mbgm_enhanced18.sf2

[2020-01-30 00:16] P41R47 commented on #566
Don't know if that have something to do, @AnotherLife, coz i have a few other programs that also use the microsoft native MIDI and they sound good. I reproduce the BTSX midis in that programs (Sibelius, Windows Media, Winamp, etc.) and they sound without problem there.
Also, installing VirtualMIDISynth doesn't fix the issue in Doom Retro, its just a workaround.

[2020-01-30 01:39] AnotherLife commented on #566
How does this sound to you? It is VirtualSynth + scc1t2.sf2

https://sndup.net/9bbb

This is how it sounds for me in Doom Retro.

[2020-01-30 02:30] P41R47 commented on #566
Yes, it sounds good. But i think thats not the matter here.

[2020-01-30 02:47] AnotherLife commented on #566
Alright. So basically you are saying that Doom Retro using native MS MIDI has problems but other programs using native MS MIDI sound fine.

[2020-01-30 03:04] P41R47 commented on #566
Thats exactly what i wrote 4 messages above. Using the Windows Media player that use the microsoft native MIDI sounds good and without problem. But while playing Doom Retro, i heard some cracklings, and i suppose that what Ozy24 might found too. Its like some notes in the high pitch end are not reproduced at its full extension, and cut off, but still sounding intermitently, thats the crackling i f

[2020-01-30 05:02] bradharding commented on #566
Hi guys. Sorry for the late reply (real life getting in the way!). @ozy24, the difference in how MIDI sounds in DR and GZDoom is due to different methods, so @AnotherLife's suggestion of using VirtualMIDISynth will resolve that if you don't like how General MIDI sounds. As for the issue @P41R47, I suspect it's how the audio is converted before playing. There's some work I can do on that which shou

[2020-01-30 05:03] bradharding commented on #567
All good! Sorry, Pablo, didn't mean the rejection of your idea to sound so harsh! I do appreciate the suggestion! 😁

[2020-01-30 05:06] bradharding commented on #570
Thanks Pablo. This is a duplicate (of sorts) of issue #564. Caused by the same issue, it's fixed in commit e5ae023ade323fd93adf1c84942c500a12cbd331.

[2020-01-30 05:06] #570 closed

[2020-01-30 05:49] #569 closed

[2020-01-30 05:49] bradharding commented on #569
All fixed in 5631646a043bc427b951cbd4e20f91bea6582ddd! Thanks @ozy24!

[2020-01-30 06:46] bradharding commented on #571
Thanks again Pablo! On initial inspection, this issue seems to be because DR won't switch to a weapon that doesn't have the minimum amount of ammo (2 shells for super shotty, 30 cells for BFG, 1 for everything else). Because that weapon replaces the BFG, and you only get 8 shells with it: 8 < 30 means no go. I'll need to look into further.

[2020-01-30 15:11] P41R47 commented on #566
i will look at it in chocolate, but in windows media player it sound good

[2020-01-30 15:47] P41R47 commented on #566
Yes, i confirm the crackling is also present in Chocolate with native MIDI. In crispy is there ,too but its less notorious, why? i don't know.
Of the three source ports, Choco, Crispy and Retro, chocolate is where it is most notorious.
But i don't think it is a problem of the engine per ce, i read in the forums that the midis in BTSX surpases the MIDI limit that the engine accept (i think it is ar

[2020-01-30 21:12] ozy24 commented on #566
@P41R47 yes that's exactly it.  The bell sound is the most obvious part of the recording that gets cut off.  I didn't think of it as clipping at the time, rather that just not sounding "right". I'm used to hearing pops and clicks when audio files clip, but have never heard this from MIDI files.  Now that I listen to it again, it sounds like there is some distortion going on.

[2020-02-02 17:40] P41R47 opened #572 "Memento Mori Map20 BFG impossible to get"
Hi, Brad! How you doing?
I'm replaying Memento Mori right now, and in map20 you get the first chace to get the BFG.
But i can't seem to obtain it as i do in the past when i first played it.
I obtained it like this speedrunner made in this video, back then, but its impossible to get it in Doom Retro as far as i tried, take a look:
https://www.youtube.com/watch?v=MZfH-0QFuLA?t=04m07s

[2020-02-02 18:49] AnotherLife commented on #572
I got there in prboom+ and I can't do the straferun grab either :D

[2020-02-02 20:20] P41R47 commented on #572
its pretty difficult to grab it, i remember playing it a long time ago, in vanilla doom, and i had to try to grab it for like 20 min. Its a tricky approach as you need to have full straferunning speed and grab it at the edge of the corner of the pedestal, that way, the player sprite gets a little into the pedestal while the BFG sprite is at the limit to grab it. More easy to say than done, but whe

[2020-02-03 04:52] bradharding commented on #572
I think I may have made a change at some point that affected straferunning. I'll look into it. Thanks! (BTW I'll probably release the new build soonish.)

[2020-02-03 14:48] P41R47 commented on #572
Oh, thats good. Brad. As for now, i don't find any kind of big problem. Just the little things that i pointed in the past days. So a new release will come in handy!
As for the REKKERSA.wad if it works as an IWAD, i answered you already and the other problems i found in the last days where already commited or looking into them.
So far, this looks good.
I would like to look into how the old MAPINFO

[2020-02-04 05:21] bradharding commented on #572
[Here's](https://zdoom.org/wiki/MAPINFO_(old_format)) the info in ZDoom's wiki. And [here](https://github.com/bradharding/doomretro/wiki/INFORMATION-FOR-MAPPERS#MAPINFO-LUMPS) is some incomplete info on what DR currently supports.

[2020-02-05 00:32] P41R47 commented on #572
Mmm so no cluster definition yet, right?
That would explain why [MarsWar](https://www.doomworld.com/files/file/15798-marswar-v301/) old mapinfo partially works and some others entries don't work at all.

[2020-02-05 02:49] P41R47 opened #573 "Memento Mori 2 map03 Second Lion Switch Don't Work"
Hi, Brad! how you doing?
I'm replaying the classics, and i found this gamebreaking bug.
In Memento Mori map03: ...And hell beneath, a quite linear map, at some point you get traped inside a room but you can open it again by shooting a lion face switch in the front wall. Then a few room later, you come to the same room a get traped again, well, as before, you have to shoot the lion switch to break

[2020-02-05 04:49] bradharding commented on #573
This sounds familiar! I'm sure this was reported a long time ago and I fixed it. Thanks Pablo, I'll investigate.

[2020-02-05 04:52] bradharding commented on #573
And here's the commit for reference: a31494f83c399a81ad80ac084f5548d6f093d850

[2020-02-05 06:07] #573 closed

[2020-02-06 15:55] P41R47 opened #574 "Memento Mori 2 map10 blue key bug"
Hi, Brad!
Again a bug in memento mori 2, but this one, somehow, i think its related to the same bug we found a time ago when i was playing Vile Flesh, remember?
Well, this bug is simple, after activating two switches, an elevator descends and let you take the blue key.
In Doom Retro all happends the same as in Chocolate, but the elevator descends more than the floor level, making imposible to take

[2020-02-06 19:36] bradharding commented on #574
Thanks Pablo. More déjà vu! This was reported and I fixed it almost 5 years ago (see dfe3867cf2c9aeb50e37121fe9d91f7c6db6cc93)! So, it's broken again...

[2020-02-06 21:23] #574 closed

[2020-02-06 21:27] bradharding commented on #574
All fixed! Thanks again! (Commit b7b3850fb60b476d749b6dc91082e222a45452ff also fixes the Vile Flesh problem you mentioned in issue #556.)

[2020-02-15 16:34] AnotherLife opened #575 "Opening the menu starts the turning around effect ..."
and when I close the menu I am facing the different way than when I opened the menu :D

[2020-02-15 21:16] bradharding commented on #575
Actually, this is by design. :grin:

[2020-02-15 21:58] AnotherLife commented on #575
Heh, I don't believe you!

[2020-02-15 22:00] bradharding commented on #575
I'm not joking! See commit 44cb98f9df46b9b11b6a3ba9d028e6ccf725248e.

Perhaps it is a bad idea, though...

[2020-02-16 00:34] bradharding commented on #575
Alright! You've convinced me! Changed in commit e984d11666cba57b77acaae42896fd32dfc8c6a4. 😛

[2020-02-16 00:34] #575 closed

[2020-02-16 10:41] AnotherLife opened #576 "Crash when (mistakenly) loading BTSX E1 with the U.Doom IWAD"
I forgot switching the IWAD to Doom 2 in ZDL and I launched Doom Retro with the two BTSX E1 wads as pwads and the Ultimate Doom as IWAD and it crashed. I mean, it should throw an error or something?

[2020-02-18 18:51] chetchaka commented on #568
Small addendum: After playing around a bit, the latest PC version of PrBoom+ actually kind of broke this feature, as it will only dither fog-lighting on the floors and ceilings, not on walls! The 3DS PrBoom port (which is notably not of the PrBoom-Plus variety) dithers both.

Also, GzDoom has this functionality now, which makes me very happy. The 6bpp dither option looks pretty retro with the righ

[2020-02-21 03:30] bradharding commented on #576
Thanks for this. Commit 2f40118bb59752a113a6018f7b073f58cf69363b will now catch the error in R_InitTextures(). This is how PrBoom+ does it.

[2020-02-21 03:30] #576 closed

[2020-03-04 00:31] AnotherLife commented on #119
Single tapping the WASD keys result in no movement about 1/3 of the time, I had noticed it a long time ago, too. Can you replicate it? Just load MAP01 and pretend you want to move 1mm forwards and then 1mm to another direction etc. Just quickly tap the WASD keys every half a second in random directions.

It's fine in other ports.

[2020-03-05 05:12] bradharding commented on #119
Thanks @AnotherLife. I'll look into this soon.

[2020-03-07 21:27] bradharding commented on #119
I have been able to replicate this issue, and after a similar problem being mentioned [here](https://www.doomworld.com/forum/post/2092036), I've determined the cause of the issue to be here:

https://github.com/bradharding/doomretro/blob/master/src/doomretro.c#L85

The `LowLevelKeyboardProc()` function blocks presses of the left and right Windows keys, and intercepts the Printscreen key so a png f

[2020-03-07 23:19] #119 closed

[2020-03-07 23:22] bradharding commented on #119
Hi @AnotherLife. And thanks again. Could you please confirm this no longer occurs for you in this build? https://www.dropbox.com/s/2zncczmg15n8awy/doomretro-3.5.2beta1-win64.zip?dl=1

[2020-03-08 14:27] AnotherLife commented on #119
With this new beta build I cannot reproduce the problem, nice job!

[2020-04-02 03:28] derekmd opened #578 "Intermission screen showing incorrect "Finished" map title"
Running Doom Retro 3.5.3.

There seems to be an off-by-one bug when displaying the map title in the intermission screen.

Finishing doom2.wad MAP01 shows "Underhalls" instead of "Entryway":

![intermission-incorrect-map-name](https://user-images.githubusercontent.com/823566/78207357-7157e900-746f-11ea-8c37-2881c4cd3cbf.png)

The sequence should be

[code]

Then the secondary wipe screen showing:

[2020-04-02 04:10] AnotherLife commented on #578
Looking at Brad's recent commits, this is already fixed.

[2020-04-02 04:36] bradharding commented on #578
Thanks @derekmd. As @VGA said, this has been fixed ([here](https://github.com/bradharding/doomretro/commit/21f2d1771292ace6e0bfea7893ff944e9d67824a)).

[2020-04-02 04:36] #578 closed

[2020-04-08 18:11] ShyRobbie commented on #494
I also would really appreciate this feature, too.  It would make retro my favorite classic source port!

[2020-04-13 16:33] vanfanel opened #579 "Digital music playback issue"
Hi there again, @bradharding

Along with DoomRetro, I use these digital music packs by Shane:
https://forum.zdoom.org/viewtopic.php?f=46&t=24423
(Seriously AWESOME Doom 1 & 2 music covers intended for playing the game, really).

Things is, with DOOM 1 and Ultimate DOOM, I can see these tracks dont loop well: when the tracks loop, the first seconds are re-played.
It does NOT happen in other sourcep

[2020-04-14 04:45] arromdee opened #580 "Lockup with unwriteable save game directory"
On Linux:
1) Build Doomretro in /usr/local/src/doomretro-3.5.4.src and put the executable and doomretro.wad in /usr/local/bin
2) Start a game.  The "Load" option is not available.
3) Try to save the game.  The directory is not writeable, so the save fails.
4) Although the save fails, the "Load" option has become enabled.
5) Try to use the load option and Doomretro locks up.

Also, it is really unc

[2020-04-15 06:38] bradharding commented on #580
I believe the only features Windows has that Linux doesn't at this stage is the WAD launcher, and use of the vid_capfps CVAR (which I will update that CVAR's description to reflect). Are there any other features you've encountered as missing or not working correctly?

[2020-04-15 06:56] bradharding commented on #579
Thanks @vanfanel. I'll look into this when I can.

[2020-04-15 11:45] vanfanel commented on #579
Thanks to you! I wonder why it only happens on Doom 1... I have looked at the playback code and I dont see anything different between Doom 1 and 2.

[2020-04-15 14:05] arromdee commented on #580
I can't figure out how to set OpenGL mode or (except for using the console) transparencies.

[2020-04-15 21:39] garoto commented on #579
`LOOP_START` & `LOOP_END` metadata related perhaps? I tested with @vanfanel provided music WAD and coudn't detect anything odd in E1M1 music loop in a fresh `doomretro-3.5.4-win64` install.

[2020-04-16 03:30] P41R47 opened #581 "opening console crash"
Hi, Brad! How you doing in this difficult days?
I get away from the Doom scene for a brief time to dedicate myself to other things, but i couldn't keep myself away for a long haha.
Anyway, this is what i found in the last build (3.5.4).
If you load or start a new game and before starting doing anything (if you push a button or move the mouse this don't happens) you open the console, DoomRetro cras

[2020-04-16 13:29] vanfanel commented on #579
Thats puzzling. I use my own 3.5.4 builds here and there IS that 3-seconds repeat on loop. Windows uses SDL_Mixer for music playback, too. Strange...

[2020-04-16 22:21] bradharding commented on #581
Hi! Thanks for this. I'm having trouble tracing this error, and am also unable to replicate it. Could you please provide two things?
1) Does this occur with any wad, or just freedoom? If it's just freedoom, can you please move your mouse so you _don't_ get the crash when you open the console, enter `condump` and provide the resulting file here?
2) Does this occur with a fresh install of DR? If not

[2020-04-16 22:31] bradharding commented on #580
DR uses OpenGL by default in Windows and Linux, as set by the `vid_scaleapi` CVAR. (To clarify though, DR still only has a software renderer. Use of OpenGL is only to scale each 640x400 frame up onto the screen.)

Also, there are various CVARs that control translucency: `r_translucency`, `r_bloodsplats_translucency`, `r_hud_translucency, `r_shadows_translucency. All are on by default in Windows an

[2020-04-16 23:56] P41R47 commented on #581
It happends with random wads. Some times it happends and sometimes no.
But it did happened to me while playing Revolution!(TVR!), H2H-Xmas +Doomxmas, TNT: Revilution and a few others.
I found that its more probable to get this crash when you load a game.
[condump-doomretro.cfg.zip](https://github.com/bradharding/doomretro/files/4490195/condump-doomretro.cfg.zip)

The condump is from TNT: Revilutio

[2020-04-17 00:02] bradharding commented on #581
Thanks. I see you have a controller connected. Can you please confirm if this crash still occurs when you run DR with it disconnected?

[2020-04-17 00:06] P41R47 commented on #581
Woah! That was fast, Brad! Disconnecting the gamepad fixd the problem, apparently.
I tried with all the wads i listed and they doesn't crash anymore when after sending the message i tried and crashed more than three times in a row.

[2020-04-17 00:12] bradharding commented on #581
Awesome! My hunch was right! So, that narrows it down considerably. I'll work on fix. Thanks again!

[2020-04-17 00:36] P41R47 commented on #581
No, Brad. Thanks you for your time!
Have a nice day!

[2020-04-17 00:56] bradharding commented on #581
Lastly, could you please test this with your controller connected? 😀

[test.zip](https://github.com/bradharding/doomretro/files/4490388/test.zip)

[2020-04-17 01:15] P41R47 commented on #581
Yeah, sure! What i need to check? Crashes like before with the pad connected?

[2020-04-17 01:17] bradharding commented on #581
Yes please.

[2020-04-17 01:19] P41R47 commented on #581
Yep, it still crash. I tried loading Valiant and it crashed. And strangely, it also crash without the pad connected when i don't move at all and open the console :S

[2020-04-17 01:22] bradharding commented on #581
Oh well, looks like that wasn't the cause then... Thanks. I'll continue looking into it...

[2020-04-18 02:31] P41R47 commented on #581
Brad, i know this must be really annoying, but after downloading the 3.5.5 release, this problem persist. But far worser than before, because i can't open the console at all now, not even after moving around a while.
I can disconnect my gamepad, maybe other guy also found this.

[2020-04-18 05:35] bradharding commented on #581
So if you disconnect your gamepad you can open the console again?

[2020-04-18 15:31] P41R47 commented on #581
No, its worse. I supposed that it crashed because of the pad. I diconnected it and it crash no matter what whenever i try to open the console during the session or after starting it.

Here the crash report:
Nombre del evento de problema:	APPCRASH
  Nombre de la aplicación:	doomretro.exe
  Versión de la aplicación:	3.5.5.0
  Marca de tiempo de la aplicación:	5e9a3bd4
  Nombre del módulo con errores

[2020-04-18 18:03] AnotherLife commented on #581
@P41R47

So if you test an older version it will not crash?

[2020-04-18 18:15] P41R47 commented on #581
yeah, i tested the previous version and it only crashed IF i got the pad connected and IF i doesn't move at all.
But this version crash, no matter what moment, i try to open the console.

[2020-04-18 18:31] P41R47 commented on #581
I tested this bug with V3.4 and it doesn't crash at all, even with the gamepad connected.

[2020-04-18 21:25] AnotherLife commented on #581
Does the problem start with 3.5.2? Or 3.5.1? Or 3.5?

[2020-04-18 21:39] P41R47 commented on #581
I tested al releases since 3.4, and the bug appeard first hand in 3.5.3 and on.
So the problem must be changes introduces after 3.5.2.
Hope this help to narrow down this bug.

[2020-04-18 22:21] bradharding commented on #581
This should help. Thanks. BTW Do you see the console partially open before it crashes? Or you press ~ and it crashes immediately?

[2020-04-18 22:23] P41R47 commented on #581
Its freeze completly when i push the button to open the console, and then crash.
You can't replicate it by your end, Brad?
If this is only happening to me... well, that strange.

[2020-04-18 22:25] bradharding commented on #581
No I can't replicate it. And that's with a controller connected.

[2020-04-18 22:31] P41R47 commented on #581
Well, don't worry, maybe is a problem on my end. If there isn't any report of problem like this, you could easily discard it as a real problem. Seems strange that it just start to happend after build 3.5.2.
Maybe i change something in the configs that is making it crash?

[2020-04-18 22:35] bradharding commented on #581
Even though it appears to be an isolated incident, it still is a crash caused by DR. Don't worry, I'll figure it out eventually... 😄

Can you try doing a clean install of 3.5.5 (in a new folder) and see if the same happens? Also, are you able to open the console from the title screen?

[2020-04-18 22:43] P41R47 commented on #581
I made a clean install and it still happends, i didn't even try a pwad, just Doom 2. And yes, i can open the console in the title menu. What is strange is that if i open the console oon the title screen then it doesn't crash during gameplay. But if i not open it, it crash.

[2020-04-18 23:48] bradharding commented on #581
Can you please test this: [doomretro-3.5.5alpha-win32.zip](https://github.com/bradharding/doomretro/files/4498056/doomretro-3.5.5alpha-win32.zip)

[2020-04-19 01:57] P41R47 commented on #581
I tested it, Brad. Clean installation. No change. It still crash when i open in game, but works if i open in the title.

[2020-04-19 02:02] bradharding commented on #581
Oh well. If you don't mind, I may give you a few more builds to try until I work out the cause.

[2020-04-19 03:50] P41R47 commented on #581
No hurry, Brad. Work as you needed. I can live with build 3.5.4 by now. Just wanted to help, but if this only a problem i got, its like there is no problem at all.

[2020-04-20 16:39] P41R47 commented on #565
Hey, Brad, how you doing?
I found this same issue happening in No end in sight. I'm using the lates release, 3.5.5 and taking precaution to not make it crash. And just using the proper files that comes in NEIS.zip: neis.wad and neis.deh.
Its the same related issue, but if you prefer i will open an new issue thread.

[2020-04-22 06:19] bradharding commented on #565
Hi @P41R47, sorry for the late reply. When you're saving a game using NEIS.wad, what map are you in, and what exactly are you changing the save description to?

[2020-04-22 15:02] P41R47 commented on #565
When one first save in Doom Retro, it automatically put the name of the map. In this case, NEIS maps names. Then i change it to whatever come in handy, and when i save again, at the start of the next map, it again changes to the name of the map, and i again have to change it, and so on... This occurs since the first map of the first episode and in every one of it . I change the save description, u

[2020-04-24 08:25] bradharding commented on #580
Closing. Main issue fixed.

[2020-04-24 08:25] #580 closed

[2020-04-25 11:48] simc2 opened #582 "radsuit, spheres and boom scrollers"
Something might go wrong with the Doom radsuit and the spheres (invis/invuln/soul/mega) on Boom scrollers.

Those items keep on moving long after they leave the scroller sector. And while moving and passing ledges they float as if the gravity wouldn't affect them. Lifts can raise and lower them though. Here's a test wad of the case. (Doom2, map01)
[testwad_radsuit.zip](https://github.com/bradhardi

[2020-04-25 11:54] simc2 opened #583 "teleportation of dead items?"
(A behavior change request?) Is there any way to get dead corpses to trigger teleport linespecials?

That's for both the real-time dead monsters and the decorative Doom items 10 and 12 (bloody mess), 15 (dead player) and 18-22 (trooper, sargeant, imp, demon, caco). The monsters crushed by crushers or doors shouldn't teleport anyway.
[testwad_deadteleport.zip](https://github.com/bradharding/doomret

[2020-04-25 11:59] simc2 opened #584 "sector light and moving ceilings"
Doom Retro slightly adjusts the light level of closing and opening door sectors and other sectors when their ceiling is moving. It's a nice enhancement.

However, if the sector's lightlevel is already altered by a linespecial (set sector lightlevel to 35/255/min/max neigboring sector), triggering any linespecial that would move it's ceiling (even if the movement is zero) will resume the sector's o

[2020-04-25 20:19] bradharding commented on #583
Hi @simc2. I actually allowed this yesterday in commit 1b4522c4f46e61e80996e6b9f48f9fdf0adfe6fd. But now that you mention it, I'll need to handle W1-teleport specials. Thanks.

[2020-04-25 20:25] bradharding commented on #583
Fixed in commit 0316dcdd4de3dd2999be0b16d2b0ff367d563f0a.

[2020-04-25 20:25] #583 closed

[2020-04-26 01:16] bradharding commented on #582
All fixed! :grin:

[2020-04-26 04:37] bradharding commented on #584
Thanks again @simc2! This one is fixed in commit d06fed104292e1d0d51d1827350c69a2a192a9e0. And thank you so much for going to the trouble of creating test wads to illustrate these issues. Much appreciated!

[2020-04-26 04:37] #584 closed

[2020-04-26 05:14] bradharding commented on #565
Here's what I've tried:

1. Load NEIS.wad.
2. Start a new game
3. In E1M1, go to the savegame menu, select an empty save slot, change the save description (in this case, "TERMINAL") to "BRAD".
4. Finish the map.
5. At the start of E1M2, the existing savegame is autosaved as "BRAD".

This seems to work as expected for me. Are you saying that for you at step 5, the save description is changed to the

[2020-04-26 15:49] P41R47 commented on #565
In step 5 i made it manually because i not use autosave, and when i try to save it change to the name of the map, but it don't save yet, it stay there, then i have to rewrite the name i put on it, and it save with the name as i branded the save slot. But at the start of the next map, or if i want to save somwehere further into the same map, this happends again, while in other wads i just put the n

[2020-04-29 19:35] Gaerzi opened #586 "Wrong release date for nerve.wad"
https://github.com/bradharding/doomretro/blob/91676ab75b4e89f2fc27f59a966f4e4456dc2065/src/c_cmds.c#L3744

The date given corresponds to the release date of Ultimate Doom on the XBLA, however No Rest for the Living was first introduced as a bonus to the release of Doom II, which happened three-and-a-half years later. See [wiki](https://doomwiki.org/wiki/Xbox_360).

[2020-04-30 06:14] bradharding commented on #586
Oh! Thanks for this. I'll commit a change shortly.

[2020-04-30 06:18] #586 closed

[2020-05-01 08:02] bradharding commented on #565
Okay, so I've disabled the `autosave` CVAR and repeated steps 1 to 4. At step 5 I manually save. I'm not able to replicate this. The save description does not update to the map name for me, it stays as "BRAD".

A couple of questions:
1) Could you please give me a specific example of what you're entering as the save description?
2) How are loading the wad? Maybe that would be a factor. Are you usin

[2020-05-02 05:12] bradharding commented on #581
Hi @P41R47. With the help of DustArma on Discord, I believe I've been able to fix this issue, as they reported the same. Can you please test this build?

[test.zip](https://github.com/bradharding/doomretro/files/4567123/test.zip)

[2020-05-03 01:41] P41R47 commented on #581
Oh sorry, Brad! Since thursday's night i couldn't get to access my outlook account, so i just see your messages. Sorry!

[2020-05-03 01:47] bradharding commented on #581
Oh that's okay! I ended up releasing v3.5.6 before finding this fix anyway. You might also want to check issue #565 as well. :grin:

[2020-05-03 01:51] P41R47 commented on #565
Oh, really? Then my PC is going NUTS!

In the save description for Hell Revealed, i put that, ''Hell Revealed'' without the
quotation marks.
Same with NEIS, i put ''No End In Sight''.
As for the command line, i use the following for both wads:

@echo off
start doomretro.exe -iwad doom2.wad -file wads\hr.wad wads\hrmus.wad -deh dehacked\hellrevealed.deh
exit

@echo off
start doomretro.exe -iwad doo

[2020-05-04 07:51] bradharding commented on #581
Bump! Hey, @P41R47, can you please test the following build so I can [hopefully] close this issue off?

[test.zip](https://github.com/bradharding/doomretro/files/4567123/test.zip)

[2020-05-04 20:11] P41R47 commented on #581
Totally, Brad! Gonna test this ASAP.
Sorry for the late response.

[2020-05-04 20:51] P41R47 commented on #581
Is there a 32bits version of this test pack?

[2020-05-05 05:49] bradharding commented on #581
Here you go (sorry for the late reply - real life got in the way)!

[test.zip](https://github.com/bradharding/doomretro/files/4579057/test.zip)

[2020-05-05 15:05] P41R47 commented on #581
Yes, Brad it appeard to be fixe. No more crashes so far. I tested with the wads it always crashed and it doesn't crash anymore.
But i dound that the mouse doesn't work when starting DoomRetro and one must resort to use the keyboard for the menu to appeard.
Is this intentional?
If not, i will open a new issue right away.

[2020-05-05 15:12] P41R47 opened #587 "Freedoom STBAR overwrites wads with custom STBAR"
I found this on the recent build 3.5.6.
If you load a mapset with a custom status bar in UDoom/Doom2/TNT/Plutonia but with Freedoom as IWAD, the Freedom status bar, overwrites the existing on the wad, no matter the load order.