[2020-05-05 16:48] P41R47 commented on #542
This is one example of the strange behaviour:
![Subway, The](https://user-images.githubusercontent.com/54422591/81092486-074fbb00-8ed7-11ea-82e4-926fe9513f53.png)
They are not sitting and relaxing on the bench, they stalks you around wherver you go!

[2020-05-06 06:00] bradharding commented on #581
Awesome! Thanks again for being so patient in getting this issue fixed. The mouse not working was fixed [here](https://github.com/bradharding/doomretro/commit/2952598f0a228e6578fdda61eeab6a6b1cbf8090).

I think I'll have a new release up this weekend. Quite a lot has been fixed in just a week.

[2020-05-06 06:00] #581 closed

[2020-05-06 06:47] bradharding commented on #587
Thanks @P41R47! Fixed in ab00d87cd211de25dd7569ff38cf76dfd9f6f1b2.

[2020-05-06 06:47] #587 closed

[2020-05-06 15:51] P41R47 opened #588 "H2H-Xmas + H2H-Fix by NightFright (Possible MAPINFO crash)"
Hi, Brad!
Sorry, you must see me like a troublebringer by now haha.
Well, this is what i just found:
H2h-xmas instantly crash when you exit the first map. I think it has something to do with the mapinfo lump, as i canceled it and the fix work without problem.

here is the crash report:

 Nombre del evento de problema:	APPCRASH
  Nombre de la aplicación:	doomretro.exe
  Versión de la aplicación:	3.

[2020-05-07 05:48] bradharding commented on #588
Thanks Pablo! (And no, you're by no means a troublemaker! 😃 ) Fixed in commit 08f398d05833870ab1763d3a3c4e844a8ef8f761.

[2020-05-07 05:48] #588 closed

[2020-05-08 01:55] P41R47 opened #589 "I think something bad is happening!"
Hi, Brad!
Take a look. Its DR 3.5.7:
![Entryway](https://user-images.githubusercontent.com/54422591/81361678-6ec36180-90b5-11ea-801e-90f9655becb9.png)

I'm not playing with any other wad loaded.

Also this:
![Intermission (2)](https://user-images.githubusercontent.com/54422591/81361799-b9dd7480-90b5-11ea-801f-0fe35656a3ec.png)

![Intermission (3)](https://user-images.githubusercontent.com/54422591

[2020-05-08 02:06] bradharding commented on #589
Shit! Please redownload. I've fixed the problem.

[2020-05-08 02:42] P41R47 commented on #589
All good now! Thanks, Brad!

[2020-05-08 03:14] #589 closed

[2020-05-09 23:35] bradharding commented on #565
I think I've finally confirmed what's happening. When saving over an existing game (doesn't matter if it's done automatically at the start of a map, or manually through the savegame menu), DOOM Retro checks the existing savegame description. It compares it with the names of all the maps currently available. If you change a savegame description to "Hell Revealed", well, that matches with MAP30's na

[2020-05-09 23:59] P41R47 commented on #565
But the same happends in NEIS, even if i put NEIS or No End In Sight.
I can try what you stated with Vile Flesh, a mapset that haves map30 as Hell Revealed, too.

[2020-05-10 00:04] bradharding commented on #565
NEIS has a map called "No End In Sight". I can replicate your issue by using that, but not "NEIS".

[2020-05-10 00:07] P41R47 commented on #565
Yes, true. Strange, i remmeber putting NEIS and also change, maybe i made a mistake. Sorry about that.
But also, great work, Brad!
You really solved this crime that was here for soo long.

[2020-05-10 00:14] P41R47 commented on #565
Sorry if this brings you a lot of headache, Brad.
Surely i'm the only fool that stumble with this.

[2020-05-10 00:14] #565 closed

[2020-05-10 00:20] bradharding commented on #565
LOL! Not a problem at all, Pablo! I do appreciate the issues that you raise, I really do! And I am working on a change right now, that only checks the savegame description with the name of the map the savegame was saved in, which makes more sense, so this particular issue hasn't been a waste at all. 👍

[2020-05-11 10:33] vanfanel opened #590 "Strange keyboard down arrow behaviour in recent versions"
Hi there, @bradharding

I have noticed that in latest versions, pressing DOWN arrow on the keyboard causes a "move forward at running speed" instead of walking backwards like its supposed to do.
I am seeing this at least from 3.5.7 release (which also had sky bugged, but that seems to be resolved in latest git sources).

So that makes latest versions unplayable on keyboard :(

[2020-05-11 17:41] bradharding commented on #590
To fix the sky problem, please redownload v3.5.7. I reuploaded it with a fix soon after release.

As for the down arrow problem, can anyone confirm this happens for them? I’m away from my PC for the next 12 hours or so and can’t confirm. I use WASD and I know that works.

Also can you check the relevant bindings in your doomretro.cfg file?

[2020-05-11 18:14] vanfanel commented on #590
@bradharding I downloaded 3.5.7 sources this morning, like 3 hours ago, and the sky problem was still there.

Also, I dont see more than 1 assign for DOWN in the doomretro.cfg file...

[2020-05-12 06:07] bradharding commented on #590
Ah! Sorry, you're compiling under Linux. I meant I reuploaded the Windows binaries with the sky fix.

Now that I'm home, I've tested and the down arrow moves back for me fine. Could you please provide a full list of the binds from doomretro.cfg?

[2020-05-12 08:33] vanfanel commented on #590
@bradharding This is my doomretro.cfg. I can not see any strange binds:

[code]

[2020-05-12 08:58] bradharding commented on #590
Do you have a gamepad connected by any chance?

[2020-05-12 09:04] vanfanel commented on #590
@bradharding Yes, sometimes there is a PS4 pad connected to the Pi, via USB. Why?

[2020-05-12 09:20] bradharding commented on #590
Because I suspect it may be interfering with movement somehow. Does the issue still occur when the gamepad is disconnected?

[2020-05-12 09:33] vanfanel commented on #590
@bradharding I have just tried with nothing more than the USB keyboard connected, and I am still seeing the same issue: DOWN arrow causes running forward.

[2020-05-12 17:38] bradharding commented on #590
Does pressing the s key to go back work correctly?

[2020-05-12 17:44] vanfanel commented on #590
@bradharding No, it does the same as DOWN

[2020-05-13 05:50] bradharding commented on #590
It's going to be difficult to determine the cause without further information, but I'll continue to investigate. Another question: If you unbind the down arrow, is there still movement if you press it?

[2020-05-13 11:46] vanfanel commented on #590
@bradharding I have just unbound DOWN, and then it does nothing.
Same with S: unbinding it causes it to do nothing.
Also, A seems to strafe RIGHT while running, instead of just strafing left. Like the rest of the problematic keys, if I unbind it, it does nothing.

[2020-05-13 13:41] superboo07 opened #591 "Mouse interacting with prompts"
Can you please make it so the mouse does not count towards the (Press any key to continue) and the (Press Y or N to continue) prompts

[2020-05-13 17:32] bradharding commented on #591
Can I ask how this is affecting you? I allowed use of the mouse in these instances so the menus can be completely navigated using it.

[2020-05-13 17:39] bradharding commented on #590
I have an idea on what’s causing it. Real life is getting in the way for the next few hours, but I’ll have a patch for you to try.

[2020-05-13 17:48] vanfanel commented on #590
Great! I will try it as soon as its available.

[2020-05-13 20:37] bradharding commented on #590
By the way, what happens if you change the gp_invertyaxis CVAR to on?

[2020-05-13 20:54] vanfanel commented on #590
Nothing seems to change. Keyboard miss-behaves the same.

[2020-05-14 05:48] bradharding commented on #590
@vanfanel Could you please change the relevant lines in `i_gamepad.h` please?

[code]

[2020-05-14 14:31] vanfanel commented on #590
@bradharding Sadly, this makes no difference either. However, I have found something puzzling but good for DoomRetro (I really love this sourceport so much that I am glad of this finding):
The problem ONLY happens on the Raspberry Pi 3b+ aarch64 system, while everything is fine using the same SDL2-kmsdrm on X86_64. Exact same SDL2 sources in both, exact same DoomRetro sources, exact same WADs and

[2020-05-14 21:02] bradharding commented on #590
Ah, ok. That's good then! Thanks for reporting this, anyhow...

[2020-05-15 01:32] AnotherLife commented on #590
Is the problem related to endianness?

[2020-05-15 01:38] bradharding commented on #590
I suspect it is. But where, I'm not sure.

[2020-05-15 19:44] vanfanel commented on #590
@bradharding Hmmm... I though about it, but aarch64, which is the architecture my Pi3 runs on, is also little-endian, to my knowdledge.
I have read that Pis can be told to boot in bid-endian mode, but I am not doing that.

I am rebuilding my custom GNU/Linux system based on an aarch64 Debian Stable, which has 8.x GCC, and I *think* it may not happen there. I will report what I find out, in case so

[2020-05-16 06:33] bradharding commented on #582
Unfortunately commit 37b24dda62e59b43a7c5310aceeceeade98c69fd messes up bobbing power-ups in all other instances. I'll reopen this and look for a better solution...

[2020-05-16 08:29] #582 closed

[2020-05-16 09:22] grawlinson opened #592 "Fails to compile due to breaking changes in gcc 10"
Before you read this, you may want to grab a coffee ... I apologise in advance.

Due to gcc 10+ [now][0] defaulting to `-fno-common`, doomretro fails to link properly.

Here's an example of the build output, I've removed a _lot_ of it:

[code]

Solution would be to define all global variables the way that gcc expects (`extern type var` as opposed to `type var`).

[0]:https://gcc.gnu.org/gcc-10/por

[2020-05-16 09:35] bradharding commented on #592
lol, I'll stick with beer... :grin:

Thanks for the report. Does commit b61420d8e16d71f9f72cb2c1ad1a69204aea4ee6 fix this?

[2020-05-16 14:37] vanfanel commented on #590
@bradharding I have rebuilt my system based on stable, and I have rebuild everything from libDRM/MESA to SDL2 and of course DoomRetro with stable GCC v 8.3, but this issue remains.

I am going to try and find out whats happening on the Pi regarding this.
To start, I want to know what SCANCODE is SDL2 passing to DoomRetro when I press down.
I have been trying to intercept the scancode, and I have s

[2020-05-16 14:48] P41R47 opened #593 "Die in game, open menu, and sound bug"
Hi, Brad! How you doing?
I'm experimenting a bug but i can't seem to reproduce it all the time.
This is happening to me on version 3.5.7.
Y die in game for whatever reason, and when i open the menu to manually load, the music and sfx gets lowered, as always you open the menu, but in this case, if you have died on game, every sound will stay lowered even if you load or not.
And its rather hard to f

[2020-05-16 20:34] bradharding commented on #590
I get the same results. `data1` is set to `175`. I'm thinking the issue is somewhere in `G_Responder` in `g_game.c`. There are a few lines that alter the `forward` variable. At one point I thought it was the gamepad code still generating gamepad events. I'll keep looking.

[2020-05-16 20:52] bradharding commented on #590
Could you please try this?

Change the following in `G_Responder`:

[code]

to this:

[code]

[2020-05-17 02:54] bradharding commented on #590
It could also be use of the `BETWEEN()` function. Could you please try this?

Change the following in `G_Responder`:

[code]

to this:

[code]

[2020-05-17 07:29] grawlinson commented on #592
Yep, that works. Just tested it, thanks! :)

[2020-05-17 07:29] #592 closed

[2020-05-17 11:49] vanfanel commented on #590
@bradharding I have tried both changes, rebuilt and tested, and the same problem happens.
I am VERY puzzled because not only DOWN does forward, but also it goes forward at full running speed...

[2020-05-18 05:46] bradharding commented on #590
It's puzzling me too. Could you trace into `G_Responder` and get the value `cmd->forwardmove` is set to? Also, what is the value of `run`?

[2020-05-18 06:13] bradharding commented on #590
Also, if you enter `bindlist` in the console, do all relevant bound controls appear like they should?

[2020-05-18 06:56] bradharding commented on #593
Thanks for the report. The next time you notice this happening, could you please check if `midiproc.exe` is running? When opening the menu, only the music should be lowered, and not the SFX.

[2020-05-18 14:43] P41R47 commented on #593
Thanks for answering.
I checked it, Brad. The midiproc work as intended, lowering the volume when the menu is brought up.
But what its occuring to me its different.
Sometimes the midiproc and doomretro lowers their volumes to a certain level when i open the menu, then whe i close it, midiproc rise as usual, but doomretro stays low and i had to restart them and then manually adjust the volume of do

[2020-05-19 06:04] bradharding commented on #593
Sorry - got distracted! :grin: This has been reported before, (and has happened to me before). All I can think it would be is some other software using SDL changes the volume while DR is running, and that affects its volume in the volume mixer. I can only assume it would happen to other source ports as well.

[2020-05-21 15:36] P41R47 commented on #593
Well, its nothing big as issue, and is easily fixeable if one knows how to fix it. So don't worry about this one, Brad ;)
But just for the record, it also happened to me whitout nothing else open in the back. Just the desktop, DoomRetro folder, Doomretro.exe, and Chrome checking things while playing.

[2020-05-21 17:03] vanfanel commented on #590
@bradharding Sorry it took me a couple of days to answer. I had no time (urgent SDL2 KMSDRM issues had to be fixed first).

Well, I set a breakpoint in G_Responder, and cmd did not have a member called forwardmove.
So I did a debug loop on the function when pressing DOWN. Here is what I saw:

[code]

As you see, `G_Responder` runs twice on each keypress. I guess thats expected?

Also, I did not se

[2020-05-21 20:13] simc2 opened #594 "linetype 190"
Hi, Boom linetype 190 SR Change floor texture and type (trigger model) doesn't seem to work. Nothing happens and the switch texture doesn't even animate. The 189 S1, 154 WR and 153 W1 lines of the same action do work.

Test wad for Doom2 map01:
[test_190.zip](https://github.com/bradharding/doomretro/files/4664508/test_190.zip)

[2020-05-21 20:45] simc2 opened #595 "interpolation, instant movers"
In DR the screen interpolation is off when vid_capfps is set to 35. Any value above that turns the interpolation on.

If the interpolation is off all the events on the screen look "less smooth". So the default choice is to keep it on.

But when the interpolation is on, the "animations" made from repeatedly triggered and instantly moving sectors start to flicker. Their mid-state movement is clearly

[2020-05-21 21:21] bradharding commented on #594
Holy shit! The code to handle special 190 is completely missing!! Will be fixed shortly. Thanks @simc2!

[2020-05-21 21:51] #594 closed

[2020-05-21 23:54] bradharding commented on #595
Thanks again @simc2! This was an easier fix than what I thought it would be.

[2020-05-21 23:54] #595 closed

[2020-05-22 01:05] bradharding commented on #590
Sorry @vanfanel! I meant `G_BuildTiccmd`, not `G_Responder`. My bad! 😬

As for asking about `bindlist`, I thought I'd just check if the relevant keys were being bound correctly at startup.

[2020-05-22 16:58] vanfanel commented on #590
@bradharding Mistery solved. It is NOT my merit, but Donnie Russel from https://sites.google.com/site/donnierussellii/rogue

Apparently, on ARM char's are unsigned by default, whereas on x86 they are signed. So thats causing the havoc.
A temporal and fast fix is adding -fsigned-char to GCC options in the Makefile. I did, and DoomRetro runs fine now (no more DOWN arrow strange behaviour).

Ideally,

[2020-05-22 20:11] bradharding commented on #590
LOL! Great work @vanfanel! Thank you so much! In trying to track down this issue, I actually did look at commit 905bfad43f60eaa16bd599fd30557109399f235d, which removes the explicit `signed` from the definitions of `forwardmove` and `sidemove`. I then googled "signed char vs unsigned char" and sure enough:

It is probably just the `forwardmove` and `sidemove` definitions that need to be explicitly

[2020-05-23 07:47] bradharding commented on #329
Well, I ended up making `nearest_linear` default a while ago. So, closing!

[2020-05-23 07:47] #329 closed

[2020-05-23 07:48] bradharding commented on #590
@vanfanel, so I can close this off for good, can you please confirm if the latest build works for you _without_ having to use the `-fsigned-char` GCC option?

[2020-05-23 13:48] vanfanel commented on #590
Nope, latest GIT version still needs `-fsigned-char` or keyboard problems happen.

[2020-05-23 21:04] bradharding commented on #590
Okay. Can you try again please with the latest commit? Also, if I was to put `-fsigned-char` in [Makefile](https://github.com/bradharding/doomretro/blob/master/src/Makefile), where would I put it? Would it cause any problems for earlier versions of GCC? Do you think I should only put it in [Makefile.rpi](https://github.com/bradharding/doomretro/blob/master/src/Makefile.rpi)? (Do you use this?) Am

[2020-05-24 10:42] vanfanel commented on #590
@vanfanel Of course you are not asking too many questions! You are the author of the best (for me) Doom GNU/Linux port in existance. You can imagine how happy your work makes me, letting me play Doom on the Raspberry Pi at rock solid 60FPS with no lag at all. Its a dream come true, jusk ask as many questions as you need or want :)

With latest commit, things work well without `-fsigned-char`. Grea

[2020-05-25 05:53] bradharding commented on #590
I'll do that then! :grin:

Alright, I think I'll remove this file then. (Any macOS users reading this? Makefile.osx working for you?)

I'll have a look, but I'd possibly be happy just with the GCC flag in the Makefile and the important fixes to forwardmove/sidemove.

[2020-05-25 16:09] vanfanel commented on #590
@bradharding Both ideas are good. I see you have added more explicit signed chars too :)
I think the issue can closed now.

[2020-05-25 20:24] #590 closed

[2020-05-28 20:05] P41R47 opened #596 "HACX god mode bug"
Hi, Brad! How you doing?
I was playing and i notice the following:
![GenEmp Corp](https://user-images.githubusercontent.com/54422591/83188011-6df67c00-a105-11ea-8437-cc6c1326c461.png)

HACX as an -iwad an still Doomguy on god mode.

[2020-05-28 20:55] bradharding commented on #596
Hi Pablo!

I'm doing well. How are you?

I'll have this issue fixed shortly. Thanks for letting me know. While I've
got you, I thought I'd let you know I came across your post about having
trouble screenshotting the WAD launcher. I've fixed this in the next
release. Also, since you're a fan of playing in 320x200, what's your
opinion on the supersampling feature I applied a few builds back? I can s

[2020-05-28 21:33] P41R47 commented on #596
Oh, wow! Thats a super eyes that you have there, Brad!
Sorry for hurting them with my love for horrible graphics :(
To tell you the truth, its not that i'm not fan of it.
I just started toggling things on & off until i feel it near vanilla, even changing the gamma. And i get near to what i wanted with almost all the things off.
But i played with it on without problem for a few builds, i might have

[2020-05-28 21:48] bradharding commented on #596
Fixed by 24111c4b699d2afa4b5587f743e5ecbe0b4caa06.

[2020-05-28 21:48] #596 closed

[2020-05-30 06:52] bradharding commented on #129
This has been done. Closing.

[2020-05-30 06:52] #129 closed

[2020-05-30 06:53] #134 closed

[2020-05-30 06:59] #437 closed

[2020-05-31 10:04] bradharding commented on #593
Commit 270c2a5a136adeb32d4b3bdc59ce1f4c03826ba3 may help with this...

[2020-06-11 09:35] brzegorz opened #597 "Midi issues on Linux"
Hi,

using Arch/Manjaro on x86/ARM I had issues with no music being played. After delving through resolved issues, I've discovered that I need enviromental variable SDL_SOUNDFONTS set and all works great. Is it possible for the source port to work without it, or give some kind of console warning? Maybe even menu/config option to set the soundfont? The issue is lack of any information whatsoever ab

[2020-06-11 21:14] bradharding commented on #597
Thanks @brzegorz. Being that I only build for Windows, and have no Linux system, I forgot all about this. I'll look at either having a `s_soundfont` CVAR visible in non-Windows builds only, or at least a warning in the console whenever `SDL_SOUNDFONTS` isn't set.

[2020-06-11 21:39] bradharding commented on #597
Gone with the latter. See dd7a87b21c805fbd6990be91732be9cdcf103a7d. Thanks again!

[2020-06-14 15:03] brzegorz commented on #597
Hi again, thank you for swift action. It seems that I've misunderstood something about my system. I've recompiled doomretro and set $SDL_SOUNDFONTS in my bashrc. However, this doesn't solve the midi issue! I can't get doomretro to print the warning you've added, whether $SDL_SOUNDFONTS is set or not. Too get the midi, I need to run Doom like that:
$ SDL_SOUNDFONTS=$SDL_SOUNDFONTS doomretro ...
So

[2020-06-15 06:17] bradharding commented on #597
Thanks for clarifying! I'll look at removing the changes in commit dd7a87b21c805fbd6990be91732be9cdcf103a7d since they aren't necessary then.

[2020-06-18 20:09] #597 closed

[2020-06-20 16:38] P41R47 opened #598 "Possible features"
Hi, Brad! How you doing?

Surely you know about the recent atemps about explaining a non native english speaker about how to load pwads. And i found that, for the most part, we as a community take something as natural knowledge, like file handling, and other stuff that i don't recall right now.
But well, i think that one of the clever things that make a port user friendly, is the possibility to ch

[2020-06-20 20:32] AnotherLife commented on #598
"Open With" doesn't solve any problems. The proper way for users to load wads is to use one of the many launchers, like ZDL.

There you can have all your source ports and IWADs and you set the wad load order. Also, you can save presets. In ZDL you can also save zdl files that you can launch with a double-click. Like batch files.

[2020-06-20 21:00] P41R47 commented on #598
Those concepts you name, if someone who doesn't played Doom before read it, and if it not used to play much games, aside from the way we play by today, like steam launcher, gog launcher, and so, will not understand it at all. Thats the point of this kind of request, to find a way to make it easier.

I think that most newer players, that recently arrive to the Doom community, don't have the underst

[2020-06-22 17:53] simc2 opened #599 "door lights in saved games"
Hi, noticed that in 3.5.10 if you 1) open a door, 2) let it close, 3) save the game, 4) load the saved game and repeat 1-4 a couple of times the door sector's light value drops visibly.

For example the first door in E1M1 of Doom.wad or the exit door in MAP01 of Doom2.wad.

[2020-06-23 03:17] P41R47 opened #600 "2002: A Doom Odyssey ZDoom Extra maps"
Hi, Brad!
How you doing?
I was replaying 2002ado10a.wad and i remember that this version has some ZDoom exclusive maps entered via mapinfo. Backthen, i suppose, it said ZDoom exclusive because no other port supported mainfo lumps. So i give it a try with DoomRetro as it supports the old mapinfo format, the same 2002ado10a.wad use it lump.
But when i try the secret exit in E2M4 that leads to E5M1,

[2020-06-23 06:15] bradharding commented on #599
Thanks @simc2. It appears I need to save every sector's "oldlightlevel". I'll have a fix shortly.

[2020-06-23 06:22] #599 closed

[2020-06-23 06:24] bradharding commented on #600
Thanks @P41R47. Looks like I'm not accommodating for differing episodes in this instance. I'll look into it.

[2020-06-23 16:20] P41R47 commented on #600
Thanks for answering, Brad.
I would suggest for NEIS, too, but, NaturalTvventy, Xaser and Chris Lutz were clever enough to put the extra maps on the same episode as ExM0.

[2020-06-26 09:48] #236 closed

[2020-06-26 19:14] Spowmtom opened #601 "DOOMWADDIR support ?"
DOOMWADDIR support is a nice, easy to implement quality of life improvement, why isn't in in Doom Retro if it is a fork of Chocolate Doom while the latter has DOOMWADDIR support ?

[2020-06-26 20:40] bradharding commented on #601
[It is](https://github.com/bradharding/doomretro/blob/master/src/d_iwad.c#L399). How are you trying to load WADs (through the WAD launcher, command-line, 3rd-party launcher) such that it isn't working for you?

[2020-06-26 21:34] Spowmtom commented on #601
I compiled the game on my `GNU/Linux 5.6.19-300.fc32.x86_64` successfully and installed it with `make install`. Now that it is in my `PATH`, all I need to do is to enter `doomretro` in my shell, `bash 5.0.17`. I have my `DOOMWADDIR` environment set to my IWAD's directory. `DOOMWADDIR` works fine with all of my source ports (Chocolate Doom, Crispy Doom, PRBoom+, LZDoom) but Doom Retro prints the me

[2020-06-26 22:06] xDShot commented on #601
Yup, doesn't work for me as well

[2020-06-26 22:08] xDShot commented on #601
No, it actually works if you specify what iwad you need: `DOOMWADDIR=~/doom/ doomretro -iwad doom2.wad`

[2020-06-27 02:39] bradharding commented on #601
@Spowmtom or @xDShot, could you please check if this issue is resolved for you with the latest source. I'm hoping commit 2ae8f62e13131aec8eb02830d00ec1c7b3d5856c fixes this.

[2020-06-27 03:26] Spowmtom commented on #601
Works! I can just type `doomretro -iwad doom.wad` and have it working. Though, it'd be nice to just type `doomretro` in bash and automatically find doom2.wad in DOOMWADDIR like Chocolate Doom, which does not work in Doom Retro.

[2020-06-27 05:11] bradharding commented on #601
Thanks. I was hoping the changes I made since you raised this issue would allow you to just type `doomretro` in bash. I'll keep working on it.

[2020-06-27 08:35] xDShot commented on #601
Confirming working

[2020-06-27 09:37] #601 closed

[2020-06-27 15:09] Spowmtom commented on #601
Confirming working!

[2020-06-27 23:00] Spowmtom opened #603 "Menu Lag with Nouveau"
When using Nvidia's Nouveau graphic drivers, the menu freezes for a second or two when browsing or choosing options, also when closing the menu, which shouldn't be happening. The entire game is perfectly playable with great performances except for that. I have tried Doom Retro with Nvidia's proprietary drivers and there are no problems, but I would prefer to use Nouveau for ethical reasons. I did

[2020-06-27 23:22] Spowmtom commented on #603
Alright, so weird phenomenon. When I run the executable available on your website (I tried finding out the version without success) with **wine**, this lag does not happen.

[2020-06-28 00:03] bradharding commented on #603
I can only guess it's due to the blur effect, which requires quite a few calculations per tic. To confirm, you could try commenting out some lines in `m_menu.c` like so:

[code]

You could also try the following:

[code]

[2020-06-28 00:42] Spowmtom commented on #603
It does not fix my issue, sadly. It must be a Nouveau problem, since it only appears on Nouveau when I compile the game from source.

[2020-06-28 21:34] P41R47 opened #604 "Realms of Chaos map06 bug"
Hi, Brad!
How you doing?

Well i'm playing ''Realms of Chaos'' a really old megawad and i stumble with a strange bug on map06.
From the start of the map i heard all monsters going active at the same time, and then, strangely, no one attacks me, they just roam around, sometimes following me. They sometimes react to me when i shoot them and miraclously some stood the damage.

Here is the megawad:
ht

[2020-06-29 06:14] bradharding commented on #604
Well, that's an interesting bug! Just checking the WAD and the map: no DEHACKED trickery, and nothing out of the ordinary in the map itself. I'll keep looking. I guess something's not initialized correctly when the player is spawned, or there's a problem with the alert code...

[2020-06-29 06:47] bradharding commented on #604
Update: So it seems all monsters in this map are given the `MF_FRIEND` flag somehow when spawned. They wake up because they see another monster, but they're friends with them, so they don't attack, and they're friends with the player, so they don't attack him either.

[2020-06-29 07:01] #604 closed

[2020-06-29 16:11] P41R47 commented on #604
Thanks for the anwer, Brad.
So, its a problem of the wad.
Well i gonna  edit it myself.

Thanks again, Brad.
Sorry for taking your time.

[2020-06-30 21:35] Spowmtom commented on #603
Fixed! I simply disabled vsync by changing line 129 in `$HOME/.config/doomretro/doomretro.cfg` from `vid_vsync on` to `vid_vsync off`.

[2020-06-30 21:35] #603 closed

[2020-07-01 00:23] AnotherLife commented on #603
There is a console ingame to change variables!

[2020-07-28 16:19] P41R47 opened #605 "Tangerin Nightmare map07 crash"
Hi, Brad!
How you doing?

Long time not finding any bug, so good news i think :D
Until now... hahaha
Don't know why, but this mapset, Tangerine Nightmares (https://www.doomworld.com/files/file/19037-tangerine-nightmare/)
when i try to acces map07, DoomRetro crashed and i have to kill the midiproc on the task manager.

Here is the crash log:
Firma con problemas:
  Nombre del evento de problema:	APP

[2020-07-29 05:41] bradharding commented on #605
Thanks @P41R47. I'll see if I can trace the cause of the crash...

[2020-07-29 07:25] bradharding commented on #605
Thanks again @P41R47! All fixed in commit 0ceb1b8ff013f114529072b073d1e57513a0c03d.

[2020-07-29 07:25] #605 closed

[2020-07-31 12:53] rfomin opened #607 "[Feature request] UMAPINFO files for popular wads"
I've made UMAPINFO files for Ancient Aliens, Eviternity and Valiant. Can you include them in Doom Retro distribution as compatibility feature?
Valiant has too long episode names
![Valiant](https://user-images.githubusercontent.com/5077629/89036417-d6acdf80-d366-11ea-9ae8-3247cbc494c8.png)

[umapinfo.zip](https://github.com/bradharding/doomretro/files/5007077/umapinfo.zip)

[2020-08-02 05:01] bradharding commented on #607
Thanks for this. I may hold off of implementing them, though. (For now, at least, as I plan on releasing v3.6 soon.) They will prove useful for testing however. Are there any WADs available to the public that already have a UMAPINFO lump?

[2020-08-02 10:05] rfomin commented on #607
I know two:
DBP25: Dead But Dreaming [https://www.doomworld.com/vb/thread/115453](url)
Fork in the Road [https://www.doomworld.com/forum/topic/107191-fork-in-the-road-a-umapinfo-project-2019-07-03-update-alpha-3/](url)
Fork in the Road need "bossaction" key.

[2020-08-07 06:45] simc2 opened #611 "crusher sounds occasionally break"
Hi, the continuous DSSTNMOV sound effect occasionally stops for a brief moment for both fast and slow moving crushers.
This happens when the moving crusher is either in it's highest or lowest point of it's cycle.

At least in some cases this happens in a repeating pattern:
The crusher goes down, up, down, up, down, sound breaks at lowest point, up, down, up, sound breaks at highest point.

Test wa

[2020-08-07 23:31] #611 closed

[2020-08-07 23:32] bradharding commented on #611
Thanks @simc2! Fixed in commit eca12d21715af68fe9bb2025d10bfdf66f820ea0.

[2020-08-09 03:59] rfomin opened #612 "Wrong properties of some monsters"
Wolfenstein SS don't drop ammo:
![Wolfenstein](https://user-images.githubusercontent.com/5077629/89724567-fca14680-da2e-11ea-8c80-1781ed5f354f.png)
DOOM 2 map 31
Translucent Valiant Chaingunner:
![Bad Reception](https://user-images.githubusercontent.com/5077629/89724575-1fcbf600-da2f-11ea-8bef-ed698f96c654.png)
Valiant map 01

[2020-08-09 04:04] bradharding commented on #612
Thanks @rfomin! There's always something just after the release of a new build! 😉

[2020-08-09 04:19] bradharding commented on #612
The issue in Valiant is interesting. It doesn't occur in v3.5.10, and if you enter "spawn heavyweapondude" in the console, it's fine. It's only the chaingunners spawned at the start of the map (and I checked: they are the same map objects being spawned).

[2020-08-09 04:28] rfomin commented on #612
Transcluent Hell knight in Bloodstain:
![Inception](https://user-images.githubusercontent.com/5077629/89724919-61f73680-da33-11ea-8d2a-e6dcc739cb16.png)
BStain.wad map 01

[2020-08-09 04:43] rfomin commented on #612
Also from https://doomwiki.org/wiki/Valiant
"In addition, the Wolfenstein SS was turned into a chaingunner, so as to drop clips instead of chainguns. The normal chaingunner is not used in the levels."

[2020-08-09 05:03] bradharding commented on #612
I think it might have something to do with making flags2 64-bit.

[2020-08-09 06:05] #612 closed

[2020-08-09 06:21] bradharding commented on #612
Thanks @rfomin. All fixed. I've reuploaded the v3.6 binaries with the fixes.

[2020-08-14 14:17] rfomin opened #617 "Menu controls are blocked with ANTA_REQ.wad"
With [Antaresian Reliquary](https://www.doomworld.com/idgames/levels/doom2/Ports/a-c/anta_req) after starting the game, all menu keys (ESC, F4, etc.)  are blocked. Game controls and Alt-F4 works.

[2020-08-14 15:13] alexey-lysiuk opened #618 "SDL2 libraries in CMake build system"
Currently, the executable is linking with SDL2 libraries [directly](https://github.com/bradharding/doomretro/blob/8d2cf21f0bc7c9af8c8dd4d875b4689717dd3500/CMakeLists.txt#L77-L79) when CMake build system is used.
The problem is, the current setup ignores linker flags supplied by `pkg-config`.

For example, if any of the mentioned libraries is installed to a directory that isn't searched by default,

[2020-08-14 23:26] bradharding commented on #617
That is really unusual. I thought it might be due to the recent commits I made (assuming you're compiling the source), but no, this still occurs. And it's the only WAD I've come across that does this.

[2020-08-15 01:14] bradharding commented on #617
Thanks @rfomin! All fixed in commit ea3701803e9923e29a30f3681c81e368a9cb551f.

[2020-08-15 01:14] #617 closed

[2020-08-15 06:43] bradharding commented on #618
Thanks @alexey-lysiuk. I'm unfamiliar with CMake, and it was @devnexen and @duganchen who originally worked on this. After a bit of [quick research](https://cmake.org/cmake/help/v3.0/module/FindPkgConfig.html), are you suggesting I change the relevant lines to the following?

[code]

[2020-08-15 09:39] alexey-lysiuk commented on #618
Not really. I was thinking about addition of the mentioned `..._LDFLAGS` variables to `CMAKE_EXE_LINKER_FLAGS`.
There will be no need to `..._LIBRARIES` variables as everything needed will be in linker flags already.

[2020-08-23 14:07] rfomin opened #619 "Crash when using a custom weapon from MAYhem19.wad"
Crash occurs when firing Flamethrower (slot 6 replacement) from [MAYhem 2019](https://www.doomworld.com/idgames/levels/doom2/Ports/megawads/mayhem19) WAD.

[2020-08-24 01:16] #619 closed

[2020-08-27 00:39] P41R47 commented on #607
Hi, Brad!
how you doing?
I tried my way into umapinfo, i did one for ''Doom the Way Id Did - The lost Episodes'' so it recognize the two new episodes, and indeed, it works, look:
![Menu (2)](https://user-images.githubusercontent.com/54422591/91369918-5d789f00-e7e3-11ea-91fe-0da368f13ed7.png)

But no matter what i do, when i select EP.5 or EP.6, it start the first map of EP.4
Only quirk that i don'

[2020-08-27 02:18] rfomin commented on #607
"bossaction" key is not supported at the moment.

[2020-08-27 18:13] MrJarW opened #621 "[Feature Request] SoundFont support"
Perhaps be able to use different soundfonts? I think Doom Retro could use ZMusic, any "renderer" that isn't buggy (Unlike PRBoom's) :)

[2020-08-27 21:29] bradharding commented on #621
Use [*Coolsoft VirtualMIDISynth*](https://coolsoft.altervista.org/en/virtualmidisynth).

[2020-08-27 21:29] #621 closed

[2020-08-27 23:10] simc2 opened #622 "flying monsters block walking ones below"
When a caco, lost soul or pain elemental happens to float above an alerted and walking monster this stops moving forward. It's walking animation still runs but it won't move or turn around until the flying monster has moved away. If the player goes close enough to the blocked monster it can still enter it's attack state. Apparently flying monsters won't block other flying monsters.

Here's a test

[2020-08-27 23:23] bradharding commented on #622
Thank you again @simc2! And that's yet another really handy test wad. I greatly appreciate it!

[2020-08-28 04:00] #622 closed

[2020-08-28 04:00] bradharding commented on #622
Thanks @simc2! Fixed in commit 41c73527a5452982909e71462aca6a3d51b2cf35.

[2020-09-05 14:02] MrJarW opened #624 "Raising floor does damage in MAP12"
Exactly what it says
The zip file contains a video which shows the gameplay of that bug

[MAP12Bug.zip](https://github.com/bradharding/doomretro/files/5178180/MAP12Bug.zip)

[2020-09-05 14:36] #624 closed

[2020-09-07 02:50] P41R47 opened #626 "Voodoo Doll Behaviour."
Hi, Brad!
How you doing?
I'm playing Cyberdreams, and i'm at map 31, and i notice something. In this map, the goal is take an invincivility sphere and push a voodoo doll through a path until it traverses a teleport line that will telefrag a Cyberdemon.
Well, its not easy to do, but its harder when the bullets the player shoot or the punches doesn't push the voodoo doll at all.

I first encounter t

[2020-09-07 06:42] bradharding commented on #626
Thanks @P41R47. So no thrust is applied if the player themselves damages a voodoo doll. I'll look into it, starting with `P_DamageMobj()` I'm guessing.

[2020-09-07 07:51] #626 closed

[2020-09-09 15:46] MrJarW opened #627 "[Issue] Low Performance"
When playing mapsets like Valiant, or those which have many enemies on screen, when in the middle of those battles, performance can go from 200-175 FPS to 20-35
I realized the reason for those framerate-drops is because of features DR introduced such as Gore, Shadows, Gibbable Corpses, among some others,
I'm not sure if this has been improved over the years, but the performance issues can really r

[2020-09-09 18:44] jaceknowak opened #628 "Music changed via MUSINFO is not persisted in saved games"
Easy to reproduce, as in the title.
Have a MUSINFO lump and a thing 14101 in a sector.
Music is correctly changed when player enters this sector.
Save the game.
Load the game.
Default level music is played.

So changed music is not preserved in saved games.

Additional information after some more testing:
After loading a saved game MUSINFO doesn't work anymore - entering any sector with a "change

[2020-09-10 08:58] bradharding commented on #628
Thanks for the report @jaceknowak! I'll have a fix for this shortly...

[2020-09-10 09:07] AnotherLife commented on #627
What if you open the console and set r_bloodsplats_max to 5000, r_corpses_gib to off, r_shadows to off?

Look here:
https://github.com/bradharding/doomretro/wiki/CONSOLE-VARIABLES

[2020-09-10 09:09] #628 closed

[2020-09-10 18:38] MrJarW commented on #627
Oh, it has improved performance to a noticeable degree, thanks a lot! :)

[2020-09-10 18:38] #627 closed

[2020-09-13 10:15] rfomin opened #630 "Sound issues with latest build"
I'm having audio problems in [dbp16_distro_v0.99a.wad](https://www.doomworld.com/forum/topic/109554/) map03.

[2020-09-13 20:50] bradharding commented on #630
I won’t be near my PC for a while to test. Could you please elaborate on what sort of audio issues you’re experiencing?

[2020-09-13 21:42] P41R47 opened #631 "Random Crash"
Hi, Brad!
How you doing?
Don't know why, but recently i'm experiencing a crash that happens sometimes and sometimes not.
When it didn't crash, there are some glitched graphics at the title screen. And then when i close up, an error message appears. Unfortunately i didn't have the error log to this one, but i will try to replicate it.

The other crash i experience its right at the title screen on w

[2020-09-14 00:16] rfomin commented on #630
Interruption of sound effects, low volume. It's inconsistent, other WADs works fine. I'm not sure, maybe it system-specific, but 3.6.1 works.

[2020-09-14 01:40] rfomin commented on #630
I recorded a small video with issue:
[sound.zip](https://github.com/bradharding/doomretro/files/5215647/sound.zip)

[2020-09-14 05:53] bradharding commented on #631
Thanks for the report. Checking both wads, both have a TITLEPIC lump of 320x240 in size. TITLEPIC lumps should be 320x200, so those last 40 rows are drawn off screen, causing the crash. I recently put in a check for the wider TITLEPIC lumps in the Unity IWADs, so I'll need to do something for the height as well.

[2020-09-14 05:58] bradharding commented on #630
Ouch! That doesn't sound good. I have recently switched from DirectSound to WASAPI (see commit b5ac3584a1b449cf11ab569205d5f7296df4b427) so it appears that would be the cause. I'll need to investigate further. Thanks @rfomin.

[2020-09-14 06:06] #631 closed

[2020-09-15 06:40] bradharding commented on #630
Hi @rfomin. Could you please test again with the latest source? I believe commit fbfb0ff334bf6f8dcac21be37ec3c0f42c943849 may fix this.

[2020-09-15 06:54] rfomin commented on #630
No, I have the same issues. Maybe a little better. Do you have problems too, or it's only on my system?

[2020-09-15 06:57] bradharding commented on #630
I often get a crash at the start of that map (which doesn't happen in the debugger), but with that change I don't. Thanks. I'll continue to test.

[2020-09-15 08:42] bradharding commented on #630
Hi again @rfomin. Could you please test again? 🤞🏻

[2020-09-15 08:52] rfomin commented on #630
No still the same problems. I tried to test the latest crispy doom build and it works, very strange.

[2020-09-17 06:16] bradharding commented on #630
I've been trying a few things before giving up and reverting back to DirectSound. @rfomin, could you please confirm if commit 03f2c5c8070d9f9cf640b992be637f615618fba2 fixes this or not?

[2020-09-17 06:51] rfomin commented on #630
No, the same problem. Though it might not be worth going back to DirectSound. I've tested several levels, including brutal slaughter wads, and they all work fine. To be honest, the dbp16 wad has a rather strange sound design, maybe no one else will notice it. Also, the problem is probably system dependent.

[2020-09-18 01:14] bradharding commented on #630
Update: So it would appear that it only crashes in the 64-bit build and not the 32-bit.

[2020-09-18 01:28] bradharding commented on #630
Update 2: (Grabbing at straws, here) It also may be related to the sound the player makes when injured. If I enable god mode, I can't get it to crash on that map. @rfomin can you please try this?

[2020-09-18 01:37] rfomin commented on #630
Yes, you right, I couldn't get a sound glitch in god mode.

[2020-09-18 10:31] bradharding commented on #630
Hi @rfomin. Me again! Are you getting sound glitches now, after commit dd6eec211ca34125a6e591bb7f09ec7039cc46c9?

[2020-09-18 10:45] rfomin commented on #630
Unfortunately no. The same glitches. Everything is fine in god mode.

[2020-09-19 03:21] bradharding commented on #630
Does commit 4b71e2d8b8f92ee249f87d416f82fb3e4fd937e8 help?

[2020-09-19 04:43] rfomin commented on #630
No, all the same.

[2020-09-23 02:44] bradharding commented on #630
Hi @rfomin. Could you please try the following?

Replace this (line 426 in `i_sound.c`):

[code]

with this:

[code]

On the hunch it might be an endianness issue.

[2020-09-23 03:00] rfomin commented on #630
With this change, I got "! Sound effects couldn't be initialized."  in console and no sfx.

[2020-09-23 04:58] bradharding commented on #630
Oh well, scrap that idea then. 😬

[2020-09-24 08:01] rfomin opened #633 "Crash after game start with dbp27_RC3.wad"
The latest build, v3.6.1 works fine. Download WAD: https://doomer.boards.net/thread/1846/dbp27-10-day-vacation

[2020-09-24 23:26] bradharding commented on #633
Thanks @rfomin. It appears this is caused by commit 36c413b3eff97f2e36e52192d37b5d4d1d05476a. I'll need to investigate a better solution for the fix this commit handles, or find where I've went wrong.

[2020-09-24 23:39] bradharding commented on #633
Fixed in commit cdddbc4183b79f89bd47b1b8f259e61bbc60c8c1.

[2020-09-24 23:39] #633 closed

[2020-09-26 01:18] bradharding commented on #630
Hi @rfomin. TBH I've kinda given up on fixing this for now, but out of curiosity, and I'm not sure if you've already tried, but did fixing issue #633 happen to fix this as well for you?

[2020-09-26 02:26] rfomin commented on #630
No, I still have the same issue. By the way, with dbp27 Doom Retro has several other bugs, at least on map01. The battle in the boxing ring doesn't work and a few small things.

[2020-09-26 03:23] crispydoomsetup opened #634 "Doom Retro doesn't open?"
I'm using Windows 10, 64-bit, etc. and when launching Doom Retro, it seems to try to open for a second, shows a white screen, then closes. I had a very similar issue with Crispy Doom's setup executable, https://github.com/fabiangreffrath/crispy-doom/issues/670 here.

[2020-09-26 05:24] bradharding commented on #634
When opening DOOM Retro, it shows the WAD launcher (a standard Windows dialog box) first. Are you at least getting that?

[2020-09-26 05:33] crispydoomsetup commented on #634
Yeah, I do see that and it does work. I can select the IWAD I wanna use, but after choosing it and Doom Retro launches, it just shows a white screen and then closes. I will note that I'm using windowed mode, but only because in fullscreen _nothing_ appeared. It would grab my mouse, then close.

[2020-09-26 05:35] bradharding commented on #634
Thanks. Perhaps it is similar to the Crispy Doom issue then. I'll look into it.

[2020-09-26 05:48] bradharding commented on #634
Could you please unzip the following and place the `doomretro.cfg` file with the other files and test?

[doomretrocfg.zip](https://github.com/bradharding/doomretro/files/5286240/doomretrocfg.zip)

[2020-09-26 06:02] crispydoomsetup commented on #634
Unfortunately did not work. I'm sure it's some kind of config issue on my end that is causing both this issue and the crispy doom setup issue honestly, but I can't really figure out what. The only thing I can imagine that has changed since Doom Retro last worked is that I got a new monitor which is 144hz and G-Sync, but I don't think that would cause any problems.

[2020-09-26 06:14] bradharding commented on #634
Oh well. I was thinking it might be a vsync thing. Could you then please provide the crash information from the Windows Event Viewer please?

[2020-09-26 06:46] crispydoomsetup commented on #634
Where can I find that?

[2020-09-26 06:51] crispydoomsetup commented on #634
There were two events related to doom retro, the first of which was designated as information and the other as an error. I'll post both.

[Error]

Log Name:      Application
Source:        Application Error
Date:          9/26/2020 2:47:43 AM
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:      Classic
User:          N/A
Computer:
Description:
Faulting application name: doo

[2020-09-26 06:53] crispydoomsetup commented on #634
Just to add! I just looked through the event viewer, and looking at the crispy setup files, the faulty module (nvoglv) is the culprit for its crash as well.

[2020-09-26 06:56] bradharding commented on #634
Ah ok. It's an issue with your NVidia video driver then. Do you have the latest version installed? Through the Geforce Experience app, the latest for me is 456.38.

[2020-09-26 06:58] crispydoomsetup commented on #634
Yeah, I installed it earlier tonight.

[2020-09-26 07:02] bradharding commented on #634
Then I don't know, sorry. It must be something else on your system. Since the crash info shows it crashes in a call to `nvoglv64.dll`, it's not something I'm able to trace in DR's code.

[2020-09-26 07:03] crispydoomsetup commented on #634
That's what I was afraid of. I hope I figure out whatever's wrong with it in the future

[2020-09-26 07:03] #634 closed

[2020-09-26 07:56] bradharding commented on #630
Commit d03e3bee0ca1987ab896250ced8bc0b683c80a3a fixes 2 of the 3 barrels blocking your path at the start from not being there. This might likely fix other issues with other wads, but I will continue to look...

[2020-09-26 08:08] rfomin commented on #630
I made twos saves with bugs.
Monsters in the boxing ring must appear one at a time: [doomretro0.zip](https://github.com/bradharding/doomretro/files/5286373/doomretro0.zip)
Crash on map06 exit: [doomretro1.zip](https://github.com/bradharding/doomretro/files/5286374/doomretro1.zip)

[2020-09-26 19:05] crispydoomsetup commented on #634
Good news! It was fixed after rebooting after installing latest drivers. I'm just a dummy lol

[2020-09-27 00:38] bradharding commented on #630
Thanks @rfomin. Looking at the MAP06 issue first: it's because the intermission lumps are huge for some reason. Every map crashes on exit.

[2020-09-28 18:01] rfomin commented on #630
I've fiddled with the audio driver and Windows sound settings and when I turn off WASAPI exclusive mode the glitches go away. So the problem is system dependent, sorry for the inconvenience.

[2020-09-28 18:01] #630 closed

[2020-09-30 06:07] bradharding opened #637 "True widescreen support issues"
I immensely appreciate @rfomin for introducing true widescreen support into DOOM Retro. However, there are several changes that will need to be made before I would consider it where I need it to be. This issue will be updated regularly with new ideas and problems as development continues.

The first important point to raise is that the 4:3 non-widescreen mode needs to be restored. Unlike Crispy Do

[2020-09-30 06:22] rfomin commented on #637
The 4:3 non-widescreen mode is working right now. It's switched by vid_widescreen CVAR, which is called I_RestartGraphics(), so is it a good idea to switch modes with +/- keys?

[2020-09-30 06:32] bradharding commented on #637
Yes. I would rather the user be able to switch to/from widescreen easily with the +/- keys as I've had in DR since the beginning, (rather than know about a cvar), even if there will be a slight interruption with the call to I_RestartGraphics().

[2020-09-30 07:25] rfomin commented on #637
Do know you about this https://www.doomworld.com/forum/topic/62403-doom-2-minor-sprite-fixing-project-v19-release-updated-12718/?do=findComment&comment=2029357 ? I tested and it works. Unfortunately, not all weapons are uncropped, but it's fun to see these graphics.

[2020-10-01 05:43] bradharding commented on #637
Ah yes, I know this. In fact many of the sprite offset fixes DR use come from this. I'm not willing to include additional graphics without a license though.

BTW Regarding the call to I_RestartGraphics() you mention. I'm going to work on this so the app window isn't recreated each time it is called when it's not necessary.

[2020-10-01 11:56] vanfanel opened #638 "[Feature request] Scanlines effect in-game"
Hi there, @bradharding

I was thinking... since you have applied some kind of scanline effect to the menu distortion, would it be possible to have scanlines in-game?
Even some screen curvature effect. Everything would be optional, of course! But I believe it would be consistent with your vision of DoomRetro, wouldn't it?

[2020-10-02 11:50] valsu opened #639 "No music on fc32"
On Fedora Linux 32 the music doesn't play anymore. I don't know at which revision it stopped working. Terminal throws errors:
[code]

[2020-10-02 12:19] valsu opened #640 "Screensize status bar issue"
Running Doomretro at resolution 1920x1080 on Fedora 32. Since a few revisions, status bar has stopped working correctly. See screenshot:
![Slime Trails](https://user-images.githubusercontent.com/12234737/94922244-28cec600-04ba-11eb-8e51-96cb725f5d32.png)
When increasing screen size the trannsparent status bar remains in the place shown in the screenshot. Furthermore, screensize 8 is not saved. Gam

[2020-10-02 20:45] valsu opened #641 "Game freezes upon pressing F5"
What the title says. On Linux the game freezes when pressing F5 to change detail mode. No problem with changing mode via menu.

[2020-10-02 22:39] bradharding commented on #641
Hi @valsu. Thanks for the report. I'm in the process of implementing proper widescreen support in DR, so at the moment a lot of things are broken in the source code. I'm working my way through them.

[2020-10-03 01:16] bradharding commented on #641
Fixed in 8b31394889a77586c31c5a19d8ee68dd004ccc21.

[2020-10-03 01:16] #641 closed

[2020-10-03 07:09] valsu commented on #639
It appears only MUS-files are affected. When adding a file with pre-recorded music, like doom1mus.wad, music plays just fine.

[2020-10-09 07:18] bradharding commented on #640
This should be fixed now.

[2020-10-09 07:18] #640 closed

[2020-10-09 07:19] bradharding commented on #638
Because of the way SDL works, to implement this would require a lot of works (ie. shaders), but good idea!

[2020-10-09 16:17] valsu commented on #640
Screen size is saved correctly now. But transparent status icons are still in the wrong place:
![Proving Grounds (2)](https://user-images.githubusercontent.com/12234737/95607133-98652800-0a5b-11eb-9d17-9f5a2fd255b7.png)

[2020-10-10 05:50] bradharding commented on #484
Fixed.

[2020-10-10 12:38] #484 closed

[2020-10-12 15:18] valsu commented on #640
Confirm fixed now :-)

[2020-10-13 05:23] simc2 opened #644 "walking monsters and deep pits"
Hi, it seems that in certain cases walking monsters can walk over floor pits and narrow canyons deeper than 24 map units. This may happen when there's a narrow step-like sector higher from the base floor on the edge of the canyon. And the floor behind the pit or canyon is at the same level or higher than the step.

Here's a test wad for Doom2 map01:
[https://www.dropbox.com/s/k8v45u7xfdox6lb/canyo

[2020-10-13 06:01] bradharding commented on #644
Thanks @simc2 for the report, and for such a useful and well documented test wad! I can see the problem in v3.6.1 as you describe, but I can also confirm that in the latest source this no longer occurs. I believe this is due to commit 778a89384016596d4809431fb6b21aa0cff42c28.

[2020-10-13 06:01] #644 closed

[2020-10-17 07:19] bradharding commented on #637
An update on the remaining issues to address:

* The bunny scroll at the end of DOOM episode 3 currently needs some work.
* The position of the automap title is not correct with some combinations of r_screensize/vid_widescreen.
* Considering bringing back slight translucency of player messages and automap title.

[2020-10-21 05:36] simc2 opened #645 "music and savegames"
Could there be options to keep the current music playing without restart after loading a saved game from the same level?

If the current level is restarted with idclevNN, or by hitting use after death without the savegame, the current music keeps playing continuously.

But loading a savegame from the current level makes the level music to restart from the beginning. Also if the game was saved afte

[2020-10-21 06:22] bradharding commented on #645
Thanks for the suggestion @simc2! Easy change, and done in 5cc569aa10bd68aa02d58c14656a1032733d2c18.

[2020-10-21 06:22] #645 closed

[2020-10-21 15:21] Muus1 opened #646 "Undefined references to Mix_OpenAudioDevice in i_sound.o and i_music.o when trying to make"
pi@rgbpi:~/doomretro $ make
[  1%] Linking C executable doomretro
CMakeFiles/doomretro.dir/src/i_music.c.o: In function `I_InitMusic':
/home/pi/doomretro/src/i_music.c:97: undefined reference to `Mix_OpenAudioDevice'
CMakeFiles/doomretro.dir/src/i_sound.c.o: In function `I_InitSound':
/home/pi/doomretro/src/i_sound.c:428: undefined reference to `Mix_OpenAudioDevice'
collect2: error: ld returned 1

[2020-10-21 22:21] bradharding commented on #646
I'm not sure, since I exclusively develop of Windows and rely on others to test Linux and macOS support. After a quick google, maybe you're mixing 32- and 64-bit? Other than that, can anybody else reading this help?

[2020-10-21 22:30] Muus1 commented on #646
My device is a Raspberry Pi 3B by the way.

[2020-10-22 03:14] Muus1 commented on #646
Oh and i saw a now dead link on Doomworld i guess for an old version compiled for Linux. Guess there are no downloads available still?

[2020-10-22 11:56] vanfanel commented on #638
@bradharding May I suggest a libretro port? Shaders come for free in that case :D

[2020-10-22 13:01] AnotherLife commented on #638
Can't you inject a scanline shader with ReShade?

[2020-10-22 15:48] vanfanel commented on #638
I guess that's a Window$ thing. Not interested because I won't touch a Window$ computer with a 10mts pole, but thanks :D

[2020-10-22 22:49] AnotherLife commented on #638
I should have known someone with a Stalin profile would be a Linux user!

:D

[2020-10-23 03:41] garoto commented on #638
I like the dollar sign in the place of the `s`, lmao. I can see it being trendy in a couple of years lol.

[2020-10-23 09:08] vanfanel commented on #638
@AnotherLife The Stalin picture is parodic! But yeah, it suits me ideologically.

@garoto That absurd $ for S has got me since 2002 or so :D

[2020-10-31 03:01] ryan-sg opened #648 "segfault when opening automap after widescreen changes"
Hey,  noticed this segfault while the widescreen stuff was going in (cool!).  Funny enough, once I ran doomretro in `gdb` the first time, the automap opened fine!  Second run I managed to crash it, though =)  HTH
[code]

[2020-10-31 05:13] bradharding commented on #648
Thanks for this. So it seems `SDL_RenderCopy(renderer, texture_upscaled, NULL, NULL)` on line `983` of `i_video.c` is causing your video driver to crash. It could be a problem with `texture_upscaled` not being set correctly somewhere, which I'll look into, or it's either an issue with your driver or an issue with SDL.

[2020-10-31 18:32] ryan-sg commented on #648
Just gave it a whirl on my laptop running OpenBSD w/ IntelHD video and indeed, no crash there.

[2020-11-01 20:54] ryan-sg commented on #648
So, OpenBSD presently has Mesa 20.0.8, I loaded it on my desktop here with the same amdgpu and also can reproduce the crash.  Debian/stable (buster) has Mesa 18.3.6.   Debian/testing (bullseye) has Mesa 20.1.9, and turns out I can't reproduce the crash once I upgraded.   I'll just close this and back away slowly :laughing:

[2020-11-01 20:54] #648 closed

[2020-11-06 22:41] Birdman7 opened #649 "No makefiles"
There's no way to install DOOM Retro on Linux so I'm trying to build it from source but there's nothing to build it with.

Distro: Manjaro Linux 20

[2020-11-06 22:43] bradharding commented on #649
The Makefile is in the src folder here:
https://github.com/bradharding/doomretro/blob/master/src/Makefile

[2020-11-06 23:33] Birdman7 commented on #649
@bradharding Thanks man. I should've checked.

[2020-11-06 23:39] #649 closed

[2020-11-06 23:41] bradharding commented on #649
I'm not entirely sure exactly, as I only build on Windows, but try something like the following in the src folder?

[code]

Perhaps other Linux users can help?

[2020-11-07 00:37] Birdman7 commented on #649
I tried them both in root and src, didn't work out

[2020-11-07 00:40] bradharding commented on #649
Try the instructions here: https://forums.bunsenlabs.org/viewtopic.php?id=1498

[2020-11-07 00:51] Birdman7 commented on #649
I tried those, got this.

`cc -O2 -fsigned-char -g `sdl2-config --cflags` -DX11 -c p_genlin.c -o p_genlin.o`
`In file included from p_genlin.c:42:`
`s_sound.h:42:10: fatal error: SDL_mixer.h: No such file or directory`
`   42 | #include "SDL_mixer.h"`
`      |          ^~~~~~~~~~~~~`
`compilation terminated.`
`make: *** [Makefile:58: p_genlin.o] Error 1`

[2020-11-07 00:53] Birdman7 commented on #649
Wait. I just found out that there was an AUR repo for DOOM Retro. I apologize for my immense stupidity.

[2020-11-14 22:14] runlow commented on #454
Maybe it would be quicker to implement `playerstats` always opening the console if it isn't already open?

Even then - the output is a bit long and requires scrolling. How about a `ps` CCMD that has the exact same stats but in a more compact form, like `MON 11/82  MAP 90%  SEC 1/5` etc for the current map, and `psa` in same format but for overall?

[2020-11-26 05:58] tslilc opened #650 "Use SDL_GetKeyFromScancode instead of translation table so that non-qwerty layouts work"
Hi there,

Thanks for your great work on this, i've been really enjoying the classics for the first time in DOOMRetro!

I use a non-qwerty (though US) layout and DOOMRetro's SDL input polling seems to be ignoring this presently (on Linux) -- in-game keys are all qwerty. My understanding of the matter is that this comes down to `i_video.c:468` (and :533) in which we have

    event.data1 = translat

[2020-11-26 06:30] bradharding commented on #650
Hi @tslilc ! Thanks for your interest in DOOM Retro! It does seems you're on the right track. After a quick test, using `SDL_GetKeyFromScancode` in the 2 lines you mention seems to work fine for me, if - as you say - updating `doomkeys.h` to use `SDLK_*` keycodes is done as well. Please, if you would like to make these changes in a pull request, it'd be greatly appreciated. (These changes may also

[2020-11-26 17:40] tslilc commented on #650
Thanks for the quick response @bradharding ! Hmm, so i think i've come up stuck in trying to make this work.

In changing `doomkeys.h` to use the `SDLK_*` variants of the descriptors, in `m_config:512` (and possibly elsewhere) we're now accessing `keyactionlist` with indices like 1073741898 for `SDLK_HOME`. This array is only 255 (?) bytes in length, and increasing it to deal with this index would

[2020-11-27 00:46] bradharding commented on #650
I'm not entirely sure how to proceed with this tbh. I believe the suggestion in your edit might be the best way to go.

[2020-11-27 00:52] tslilc commented on #650
Thanks for your thoughts!

The more i look at this, the less i feel i understand what's going on: i don't have a sense for what the difference between `event.data1` and `event.data2` is supposed to be. Moreover, the keycode itself is already available in `Event->key.keysym.sym` -- which is put into `event.data2` just below the suspect line. But for some reason instead the system is designed around

[2020-11-27 04:20] bradharding commented on #650
Fixed in pull request #651.

[2020-11-27 04:20] #650 closed

[2020-11-27 04:30] bradharding commented on #650
Thanks again @tslilc. I've added you to the list of contributors [here](https://github.com/bradharding/doomretro/wiki/CREDITS).

[2020-11-27 16:16] tslilc commented on #650
Thanks for the very pleasant contribution experience, i look forward to helping out in the future!

[2020-11-30 23:11] DartPower commented on #513
This is actually? Porting is will be cool idea, really.

Check this also please :)
https://www.libretro.com/index.php/mission/
https://docs.libretro.com/development/cores/developing-cores/
https://www.libretro.com/index.php/powered-by-libretro/
https://docs.libretro.com/development/cores/opengl-cores/

[2020-12-02 21:33] Birdman7 opened #652 "[Feature Request] Sourceport Options Menu"
The one thing that gets me about DOOM Retro is the lack of an options menu. This is pretty egregious to me, because I don't want to rummage through the .cfg file. Some sort of internal options menu would be appreciated. I get this is meant to be a minimalist port, but to me this is a necessity.

[2020-12-03 04:13] AnotherLife commented on #652
You can change everything from the console, too.

[2020-12-03 21:55] AnotherLife commented on #652
I had asked at some point but Brad wanted to keep the menu close to vanilla. But maybe things have changed.

[2020-12-04 04:55] bradharding commented on #652
There is a chance I may implement a full options menu at some point in the future, perhaps even the next major release (after the one I'm working on now). I'm kinda fussy about how it will look though, as I don't want it to be the long mess of options you see in ZDoom ports, and PrBoom+.

[2020-12-04 12:05] AnotherLife commented on #652
You could have a separate setup.exe like Choco/Crispy.

[2020-12-04 15:24] Birdman7 commented on #652
Understandable. ZDoom's menus are pretty cluttered.

Honestly, I'd be cool with that.

[2020-12-05 00:21] bradharding commented on #652
Never been keen on this idea. I think I will go for a full options menu. And at the same time, implement mouse pointer support in the menus.

[2020-12-05 01:22] AnotherLife commented on #652
Surprising ... I mean, I would imagine menu mouse support isn't needed.

[2020-12-06 15:21] Birdman7 opened #653 "[Bug] Music compatibility issue with NERVE.WAD"
When I play DOOM II's regular campaign with NRFTL mounted, it plays the NRFTL music over the normal DOOM II music.

[2020-12-07 04:17] bradharding commented on #653
Could you please explain how you are loading DOOM2.WAD and NERVE.WAD (through launcher, or what you are specifying on the command-line)? If I allow NERVE.WAD to autoload, or choose it through the launcher, the Hell On Earth music plays correctly.

[2020-12-17 03:29] tslilc commented on #639
This isn't very helpful, but the precise call that generates this is in `i_music.c:152`: `Mix_PlayMusic(handle, (looping ? -1 : 1))`

[2020-12-18 22:36] P41R47 opened #654 "Return To Phobos E1M2 Bug"
Hi, Brad!
How you doing?
Since last built you made is pretty stable, i had not been around here for a long time reporting things :)

But now i'm replaying a pretty old E1 replacement for UDoom, Return to Phobos.
Well, there is a bug on e1m2 and it is well documented on the [Doomwiki](https://doomwiki.org/wiki/E1M2_(Return_to_Phobos))
So i opened the builder and tried the fix that is suggested on t

[2020-12-18 23:02] bradharding commented on #654
Hi!
Hmm.. well, I downloaded Return to Phobos, changed linedef 1248 to action 140 in E1M2, and sector 232 does raise like it's supposed to. Maybe you accidentally removed the tag from linedef 1248? It should be 39.

[2020-12-18 23:41] P41R47 commented on #654
Nope, everything is there, i just checked. Also, it wouldn't work on Chocolate.
Really strange.
I alsoredownloaded the wad, did the same, and didn't work.

I guess my PC is going nuts :/

[2020-12-19 00:29] #654 closed

[2020-12-20 18:55] krazov commented on #545
Hi @bradharding, it’s me again.

In the meantime, I’ve been playing “Doom Zero” and “Rekkr,” and both require really fast running to address some challenges, which is not possible with a gamepad (at least I failed here). In the end, I switched to the keyboard those couple of times but I’ve been thinking if anything could be done about that. I love how speed adjusts with analogic accuracy to pad’s

[2020-12-21 05:03] bradharding commented on #545
Hi Jon. Yes, I'll need to look into this soon. Sorry for overlooking it. On quick glance at the code, I see where I could be calculating it wrong. I'll look at it better in the coming days, but real life is getting in the way.

[2020-12-21 09:29] krazov commented on #545
No problem, in the meantime, I can still switch to keyboard. If you want me to test the fix, just let me know.

[2020-12-29 14:53] krazov commented on #545
Actually, you're right. Even on longer distances, I don't get that much speed in a straight line.

[2020-12-30 20:55] #546 closed

[2021-01-03 06:16] bradharding commented on #545
Hi @krazov! I believe I have fixed this issue in commit db2016f0cad68d381fc8a170b6a688bbea31737a.
Can you please test using the following beta? https://www.dropbox.com/s/k79xr1vk80echh4/doomretro-3.7beta3-win64.zip?dl=1

Side note: I may need to reduce the defaults for the `gp_sensitivity_horizontal/vertical` CVARs to make it feel right straight out of the box...

[2021-01-06 18:07] krazov commented on #545
Hi @bradharding, wow, just wow. Running, of course, works but it just brought up pleasure from playing greatly. Now it feels like a missing thing I just didn’t realise (apart from not being able to reach some platforms). Dodging projectiles is much more similar to playing with a mouse.

When it comes to sensitivity, I have non-standard settings, I believe, so I can’t help much with it. Difficult t

[2021-01-07 04:56] bradharding commented on #545
That's great! So we can close this then, and I'll look into the other issues you PM'd me about over the next couple of days.

[2021-01-07 04:56] #545 closed

[2021-01-07 10:36] krazov opened #655 "[Rekkr] Vibration with melee weapon"
In “Rekkr,” the chainsaw replacement doesn’t have idle mode, so it feels a bit off when the gamepad works crazily.

[2021-01-08 16:00] krazov commented on #494
Correct me if I’m wrong, but this is being handled in this ticket, https://github.com/bradharding/doomretro/issues/637, right?

[2021-01-11 18:55] rfomin opened #656 "Incorrect display of STBAR in Rush 2 WAD"
Rush 2 [[doomworld](https://www.doomworld.com/forum/topic/100425-rush-2-2020-12-31-update-map06-added/)] has wide STBAR
Latest build of DR
![Re-Enter](https://user-images.githubusercontent.com/5077629/104224999-5a233e80-5478-11eb-8341-377710b8d510.png)
GZDoom 4.5.0
![Screenshot_Doom_20210112_015053](https://user-images.githubusercontent.com/5077629/104225209-aec6b980-5478-11eb-901e-fecb9869f7c9.pn

[2021-01-12 04:35] bradharding commented on #656
Thanks @rfomin. I'm in the process of working out how to display lumps (status bar and full page lumps) in 4:3 mode, and in widescreen mode (but in both 16:9 and ultra-wide screens), and haven't quite got there yet. Any suggestions?

[2021-01-12 04:59] rfomin commented on #656
I think it should be exactly the way GZDoom did it because it became the de facto standard anyway. I found this [thread](https://www.doomworld.com/forum/topic/116628-unity-dooms-widescreen-assets-how-should-we-handle-them/), but nobody was interested in it.

[2021-01-12 06:02] DwarfFighterCleric commented on #470
Was this ever achieved? The possibility of playing stand-alone OGG files from a folder, like all the Quake source ports have?
This would be incredibly useful.
But you know... C++... LOLZ

[2021-01-24 13:54] krazov opened #657 "An idea for the new default gamepad mapping"
First of all, I would like to say it’s more of an invitation to a discussion. Perhaps, Brad, you could link here more people that you know use pad. Anyway, let us begin.

I’ve been playing with a pad on and off for years (though summarised, it wouldn’t be more than six months), and I realised I always reconfigure prev and next buttons. Luckily, Doom has so little buttons needed that almost everyth

[2021-01-24 16:53] AnotherLife commented on #657
That's about what I use when playing Doom with a gamepad.

The shoulder buttons are strafe if the left stick turns (like in Doom PSX). And they are weapon switches when the left stick is also strafe, like in modern ports.

And in GZDoom I have put the 4 most important weapons on the dpad directions.

[2021-01-25 05:05] bradharding commented on #657
Thanks Jon! Hmm, this has given me something to think about. The defaults I've always wanted to keep as generic and natural as possible, and I think I originally copied them from the BFG Edition version defaults. Now I see the Unity version defaults are different again. Let me play around with these controls for a bit and I'll get back to about it.

One thing I will work on straight away is that a

[2021-01-27 00:36] josephreynolds1 opened #658 "Segmentation fault with libfluidsynth.so.2.3.6"
I am getting a Segmentation fault when starting an episode or map with any wad (doom.wad,doom2.wad, SIGIL.wad, etc.)

Midi audio is working fine though in the menu's.

`kernel: [  750.988818] doomretro[18563]: segfault at 561a7bc377d0 ip 00007fb996d8be1a sp 00007ffd154cf430 error 4 in libfluidsynth.so.2.3.6[7fb996d82000+41000]`

`kernel: [  750.988835] Code: 49 89 fc 48 89 f7 55 53 48 83 ec 08 41

[2021-01-30 05:46] bradharding commented on #656
Fixed in commit 27bea87c737aaa5140aa66c873edd774e57fc8f5. Thanks again, @rfomin!

[2021-01-30 05:46] #656 closed

[2021-01-31 11:33] jeffdoggett commented on #607
Hi @rfomin ,

I've just tried these on my port.  There's an error in the Ancient Aliens.
You've used "secretnext" instead of "nextsecret".

[2021-01-31 11:47] rfomin commented on #607
Thanks, @jeffdoggett. I reupload umapinfo.zip with a fix. By the way, I made these a long time ago, recently I saw that the umapinfo specification has changed.

[2021-01-31 12:01] jeffdoggett commented on #607
Yeah,I'm doing a clean write just using the spec.
I've now found another issue in Eviternity.

InterText = "clear"

Should not have quotes

[2021-01-31 12:35] rfomin commented on #607
Not sure if Doom Retro will be able to parse it correctly.

[2021-02-06 21:20] vanfanel opened #659 "Segmentation fault with 4.0.1 version"
Hi @bradharding !

I have just tried building latest stable version (4.0.1) and it segfaults on me:

[code]
This is on aarch64, but I guess aarch64 is a very common arch by now!
Any idea on what's going on? Thanks!

[2021-02-06 21:25] vanfanel commented on #659
Seems to be related to doing:

`SCREENSCALE  1
`
in doomdef.h

That's needed for NOT wasting CPU on higher resolution. I have always done my builds with SCREENSCALE 1... So the problem is that it seems to have stopped working. Can it be fixed, please? :)

[2021-02-08 04:29] bradharding commented on #659
In the process of implementing full widescreen support, unfortunately a couple of things were broken: support for non-widescreen displays and also allowing SCREENSCALE as 1. I'll work on fixing both of these things, hopefully ready for the next point release.

[2021-02-08 08:50] vanfanel commented on #659
Thanks, Brad! I will keep an eye for the next point release, will stay on 3.6 until then :)

[2021-02-20 20:12] kewalsky commented on #453
heads up, bit quiet but the extras.wad that comes with the unity port has an official DSSECRET

[2021-02-21 20:59] kewalsky opened #661 "Commandline SIGIL/NERVE Autoload"
- have files doom.wad, sigil.wad, doom2.wad and nerve.wad all in the same directory
- running "apppath\doomretro.exe" -iwad "wadpath\doom.wad" or "apppath\doomretro.exe" -iwad "wadpath\doom2.wad"
- it doesn't automatically pull in sigil.wad or nerve.wad

I'm assuming I'm missing something or that is by design. Aware I can load the pwads via the file switch but sigil wipes out the menu. If this is

[2021-02-22 03:35] kewalsky commented on #661
I see they pull in with "apppath\doomretro.exe" "wadpath\doom.wad", closing!

[2021-02-22 03:35] #661 closed

[2021-02-22 04:23] bradharding commented on #661
Hi. Sorry for the late reply. Even though you've closed this, I'll still consider allowing sigil.wad/nerve.wad to autoload when using the -iwad command-line parameter. :)

[2021-03-01 16:29] onContentStop opened #662 "Binding a key to save doesn't save to the correct filename"
![Screenshot_2021-03-01_10-27-31](https://user-images.githubusercontent.com/9062746/109527205-03e67b00-7a79-11eb-89e3-683eae27dabc.png)

[2021-03-02 04:54] bradharding commented on #662
Thanks for the report. I'll look into it when I can.

[2021-03-03 02:24] runlow opened #663 "way to opt out of statistics in the config file"
I save all my configs in a repo.

Each time I run doomretro it modifies the config file with statistics and I get a diff.

I suppose I could set up a git filter although that's not the cleanest way to go about it.

I understand that this request may be a bit unusual as most people aren't this precise about config. Nevertheless this is my use case.

Is there maybe some way to opt out of statistics

[2021-03-03 06:51] bradharding commented on #663
At the moment, no, there's no way to opt out of the player stats. I think maybe the simplest and cleanest solution at my end would be to implement a `-nocfg` command-line parameter (which I'd leave undocumented) that would disable writing to `doomretro.cfg` entirely. Would that suit?

[2021-03-04 01:06] runlow commented on #663
You're using the config file for something that is not config. If you don't see a problem with that I guess I don't either.

[2021-03-04 01:06] #663 closed

[2021-03-04 04:51] bradharding commented on #663
:shrug:

[2021-03-09 07:10] simc2 opened #664 "-nosfx and icon of sin"
Windows 10 64-bit, Doom Retro 4.0.5 64-bit

Hi, the DR v4 versions will silently exit if they are run with -nosfx or -nosound and the icon of sin/Romero head is hurt in any way.

For example: Run Doom2 map30 with -nosfx or -nosound, use noclip, go to the spawn shooter locker and shoot once.

[2021-03-09 07:14] bradharding commented on #664
Thanks @simc2. Interesting. I'll check it out.

[2021-03-10 04:45] #664 closed

[2021-03-19 16:46] RFigas opened #667 "Doom Retro doesnt open"
For some reason doom retro just refuses to open, if i look at task manager i see it in the background processes for a second or two before disappearing. Since a few months ago it worked i went through the releases to see at which point this behaviour appeared, aparently since 4.0. On the windows event viewer it tells me it has something to do with ntdll.dll.

[2021-03-19 19:31] bradharding commented on #667
Hi,
Yes, this has been an issue that affects some users that I've yet been able to resolve. In the meantime, try the [32-bit build](https://github.com/bradharding/doomretro/releases/download/v4.0.6/doomretro-4.0.6-win32.zip). It should work fine.

[2021-03-19 20:18] RFigas commented on #667
It did! Many thanks!

[2021-03-19 20:18] #667 closed

[2021-03-22 06:30] #494 closed

[2021-03-22 06:30] #653 closed

[2021-03-22 06:30] #637 closed

[2021-04-16 07:39] bradharding commented on #36
With proper widescreen support now implemented, this is no longer a thing.

[2021-04-16 07:39] #36 closed

[2021-04-24 03:29] SilentMRG opened #669 "Heretic and HeXen support"
Hi...

This is not a mistake, but it is a doubt. Sorry to post here. It's just that I'm new here and I don't know any other place to post.

Does DOOM Retro support these IWADs?

To this day, I haven't found a decent source port to run Heretic and HeXen. And I see that DOOM Retro has the quality for this task! Because it is a minimalist and unique source port in terms of fidelity to the original re

[2021-04-24 05:10] bradharding commented on #669
Hi, and thanks for starring this project! No, DOOM Retro does not support Heretic or HeXen at this stage. It may at some stage in the future, but it would be a massive undertaking and I'd like to get a few other features in first.

[2021-04-24 05:36] SilentMRG commented on #669
I understood. At the moment, I have no financial means to support the project, unfortunately.

The only thing I can do is wish you and the project all the best! I am also going to publicize the project to the people I know. Finally, let everything go well in the not too distant future!

Again, thank you very much!

[2021-04-24 05:36] #669 closed

[2021-04-25 21:34] SilentMRG opened #670 "Suggestion - DOOM 4 (Vanilla)"
Hi... =)

It will be interesting to see DOOM Retro running this demake: https://www.doomworld.com/forum/topic/108725-doom-4-vanilla-v32/

I have nothing against Chocolate Doom or Crispy Doom, but it seems that most people do not remember or care about DOOM Retro, which in my view is a mistake, given the practicality and whimsy that it has. In particular, I see that DOOM Retro works better and is m

[2021-04-26 00:51] AnotherLife commented on #670
It should work. Doesn't it?

[2021-04-26 02:16] SilentMRG commented on #670
I am not sure. I plan to test tomorrow. However, the PWAD needs the DOOM II IWAD - Hell on Earth, and from what I saw the PWAD works with other PWADs (weapons, maps, sounds and etc ...). It probably won't work. =(

[2021-04-26 06:08] bradharding commented on #670
Last time I checked, D4V worked fine in DR. And you're right, D4V.wad is a PWAD. You are meant to play it with DOOM.WAD or DOOM2.WAD, and other PWADs, not by itself.

[2021-04-27 06:50] #670 closed

[2021-04-27 14:23] SilentMRG commented on #670
Hey...

Hehe ... I was already coming here to close.

Anyway, just for the record: Doom 4 Vanilla worked after I created some .bat files, and I needed to create a .bat file for each map. XD

On the other hand, the additional weapons did not work, the sprites appeared, but, they did not fire. According to the developer, these weapons do not work in all source ports.

I also tried the 64-bit version

[2021-04-28 05:39] bradharding commented on #670
I think I may know what the problem is with the 32-bit build, and it should be fixed in the next version. Unfortunately with the 64-bit build, I'm having a lot of trouble tracking down the issue with that one. It works fine on my system (Windows 10 Home), so that doesn't help.

[2021-04-29 00:59] SilentMRG commented on #670
I don't know anything about programming. But sometimes I think that the Appcrash error has to do with the Visual Studio 2019 version. It's just a suggestion: Maybe... if you re-code in C++ 2017, solve the problem. Hehehe... I must have said a lot of bullshit! XD However, in my ignorance, this is what I think.

I use a Laptop with this configuration:

Windows 7 Ultimate 64 Bit
I5 2.67 GHz
4 GB DDR3

[2021-04-29 05:55] bradharding commented on #670
Actually, that's an interesting idea. Can you please tell me if the following works for you? It was compiled using the VS 2017 toolset:

[https://www.dropbox.com/s/c8ld85oyniitxxr/doomretro-4.0.9beta1-win64.zip?dl=1](https://www.dropbox.com/s/c8ld85oyniitxxr/doomretro-4.0.9beta1-win64.zip?dl=1)

[2021-04-29 14:00] SilentMRG commented on #670
Thank you so much for giving me a chance to test! =D

Unfortunately, I don't have time to test it today, so I'm going to test it tomorrow with extreme calm to see if everything works.

Tomorrow, in the afternoon, I say if it worked.

See you tomorrow! \o

[2021-04-29 18:14] vanfanel opened #671 "How to load sigil.wad?"
Hi!

I have been trying to play SIGIL with DoomRetro (note I am using last 3.6 release, since 4.x is still not compatible with SCREENSCALE 1).

So far I have tried downloading official WAD from the Romero homepage and doing:
`doomretro -iwad doomu.wad -pwad sigil.wad`

I can get to the tittle screen, but then I get thown back to the commandline with this message:
"W_GetNumForName: M_EPI5 not found

[2021-04-29 18:47] vanfanel commented on #671
It was just a matter of using the COMPAT version. Nice!
Sorry for the noise!

[2021-04-29 18:47] #671 closed

[2021-05-07 05:37] #536 closed

[2021-05-07 05:40] bradharding commented on #355
This has now been accomplished.

[2021-05-07 05:40] #355 closed

[2021-05-07 06:50] bradharding commented on #670
Hi @SilentMRG, I hope you're well! Could I please trouble you again to test the following 64-bit build?

[https://www.dropbox.com/s/plntbq7fdwtc5fu/doomretro-test-x64.zip?dl=1](https://www.dropbox.com/s/plntbq7fdwtc5fu/doomretro-test-x64.zip?dl=1)

[2021-05-08 19:36] SilentMRG commented on #670
Hello... =)

Brad,

I'm be fine! And I also hope that you are well. =D

I just tested it ... And unfortunately, it didn't work. =(

Again, the same mistake... =/

Problem signature:

  Problem Event Name: APPCRASH
  Application Name: doomretro.exe
  Application Version: 4.0.9.0
  Application Timestamp: 6094e1f9
  Fault Module Name: StackHash_4795
  Fault Module Version: 6.1.7601.24441
  Fault Modu

[2021-05-08 22:35] bradharding commented on #670
Oh well. Thanks anyway. I'll keep looking.

DR can use either DirectX or OpenGL. The `vid_scaleapi` CVAR can be `direct3d`, `opengl` and `software`.

[2021-05-09 01:32] SilentMRG commented on #670
You're welcome! =)

If you need help... Just let me know. :-)

[2021-05-11 07:10] bradharding commented on #670
This is a big ask, and may be tedious for you, but I could really use your further help. Below are 6 zip files each containing a different doomretro.exe. Could you please unzip each of them, one at a time, test1.zip to test6.zip, into the folder that contains all the other files, run doomretro.exe and let me know if you get a specific error messagebox? It's possible that there will be no error wha

[2021-05-12 19:29] SilentMRG commented on #670
Test 1 gave the famous appcrash error. From test 2 onwards... All browsers, as well as Malwarebytes and Windows Defender, accused Agent Tesla-type Trojans and one Wacatac, which I researched is Ransomware. It is likely to be a false positive, but, my computer is shared with other people, so I will not be able to risk it.

I'm sorry... Brad... but this time, I won't be able to help.

[2021-05-12 21:16] bradharding commented on #670
Thanks for trying. I can assure you I wasn't sending you ransomeware. Each test set a breakpoint at different parts at the code. The fact that test1 gave you the appcrash error, which had the earliest breakpoint indicates the problem proceeds that.

[2021-05-12 21:40] SilentMRG commented on #670
Brad, I trust your words. I believe it is just a false positive. However, as I said, I share my device with other people ... They have data here, if something happens in their hands, or in my hands, that is, if there is a loss of data, even if it is without the intention for that, it will be my fault anyway.

So, I prefer not to risk it.

Perhaps there is an error in the code that is causing the a

[2021-05-21 08:30] bradharding commented on #568
It's taken a while, but the start of dithered lighting is [here](https://github.com/bradharding/doomretro/commit/5ca8a420f2ed1231c9163a7932ec22c91874689f)!

[2021-05-21 22:05] #568 closed

[2021-05-30 06:37] #591 closed

[2021-06-07 16:33] vanfanel commented on #659
@bradharding Hello again, Brad!
I discovered 4.1 was released three days ago. But it's still segfaulting with SCREENSCALE 1.
Isn't 4.1 the new point release? Sorry if I misunderstood.

[2021-06-08 05:38] bradharding commented on #659
Hi @vanfanel. Sorry, I did start looking into SCREENSCALE as 1, realized it was a bit more difficult to get it working again, and then I got distracted by other features. I'll look into it again over the coming days.

[2021-06-19 02:19] #659 closed

[2021-06-20 07:33] #556 closed

[2021-06-20 17:54] vanfanel commented on #659
@bradharding Tested on aarch64 and works great! Thanks for this, I LOVE how DoomRetro looks on 320x200 internal resolution, scaled to my monitor resolution :)

[2021-06-21 05:58] bradharding commented on #659
Glad you like it! What I want to really do is render low detail mode in proper low detail, rather than my post-processing hack that it's doing at the moment, but this'll take some time.

[2021-06-21 09:55] vanfanel commented on #659
@bradharding BTW, is RetroHeretic coming back sometime soon?
I would like to use this engine for anything Doom-like!

[2021-06-23 06:57] bradharding commented on #659
Maybe one day. I still have a lot I want to achieve with this port before delving into the Heretic/Hexen/Strife side of things though.

[2021-07-03 23:14] vanfanel opened #673 "Level name in map mode is garbled in "SCREENSCALE 1" builds"
Hi @bradharding

Sorry I didn't detect this sooner when you were fixing the SCREENSCALE 1 stuff, but I have just seen that entering the MAP shows a missplaced and garbled level name.

It's happening in every SDL2 platform I could try, so it's an engine bug for sure.

[2021-07-04 01:18] bradharding commented on #673
Thanks @vanfanel. I'll work on fixing this.

[2021-07-15 20:07] #673 closed

[2021-07-16 11:35] vanfanel commented on #673
@bradharding Thanks Brad! I will test it as soon as I get home!

[2021-08-05 14:50] LukaTV939 opened #674 "I can't hear SFX Volume at all"
I had this bug months ago and I couldn't figure out how to fix it, I was playing normally and sometimes changed volume when I listen to Spotify. It may be because of this message that appears whenever I open up the game:
![Screenshot_93](https://user-images.githubusercontent.com/55237683/128369850-10ef5e31-e4d0-4995-bee9-cf76ae6c03dd.png)
Anyways I tried redownloading the game, changing some setti

[2021-08-05 20:22] bradharding commented on #674
I think this is because _Visual C++ Redistributable for Visual Studio 2015_ is missing/corrupted. Please download and install it from Microsoft [here](https://www.microsoft.com/en-in/download/details.aspx?id=48145).

[2021-08-06 19:57] LukaTV939 commented on #674
I already had that installed so I tried to repair it and reinstall it, still getting that error and no SFX at all

[2021-08-06 21:44] bradharding commented on #674
Hmm.. it could be an issue with SDL2.dll in your doomretro folder then. I'm guessing you've got the latest version of DOOM Retro? Does the same thing happen with the 32-bit version? Also, could you please try this [earlier version](https://github.com/bradharding/doomretro/releases/download/v3.6.1/doomretro-3.6.1-win64.zip)?

[2021-08-08 13:39] LukaTV939 commented on #674
Ok so I found the solution, I had to download this .dll file https://www.dll-files.com/api-ms-win-core-sysinfo-l1-2-1.dll.html and paste it to both C:\Windows\System32 and C:\Windows\SysWOW64. I tried that when the error popped out for the first time and it wasn't working now I tried it again and it works. Sorry for wasting your time

[2021-08-08 13:39] #674 closed

[2021-08-27 06:23] Some1NamedNate opened #676 "REKKR IWAD: Graphical Mishaps"
When loading the REKKR IWAD in version 4.2, it yielded graphical inconsistencies. Examples:
![DOOM Retro 2021-08-26 11_21_02 PM](https://user-images.githubusercontent.com/33171016/131081647-e65ab16f-2a69-4e25-867f-315d3b53afa0.png)
![DOOM Retro 2021-08-26 11_20_58 PM](https://user-images.githubusercontent.com/33171016/131081676-816de2de-111f-47b7-b8f8-c069d38977ae.png)
![DOOM Retro 2021-08-26 11_2

[2021-08-27 06:38] #676 closed, assigned to nobody

[2021-09-12 06:04] bradharding commented on #655
This has been fixed.

[2021-09-12 06:04] #655 closed

[2021-09-12 06:05] bradharding commented on #547
This is now been fixed.

[2021-09-12 06:05] #547 closed

[2021-09-12 06:07] bradharding commented on #159
This has been fixed.

[2021-09-12 06:07] #159 closed

[2021-09-15 04:55] KannedKielbasa opened #678 "Cacodemon missing sounds"
Out all the monster I've noticed so far the Cacodemon is missing its bite / "melee attack" sound effect.
Is there any posibilities to implement it?

[2021-09-15 05:46] bradharding commented on #678
To clarify, there is no sound in vanilla DOOM either, but this is a good idea! Thanks! If it doesn't sound too out of place, I'll put it in. :)

[2021-09-15 16:29] KannedKielbasa commented on #678
Oh I've never noticed this particular detail until now, thanks!

[2021-09-19 11:46] RavenMacDaddy opened #679 "(Enemy) sprites clipping in water"
Running the latest version as I'm writing this; 4.2.3.

I tried turning off all kinds of options for offset or water or clipping, but the sprites keep clipping through the walls, see the attached screenshot for reference.

![Gantlet, The](https://user-images.githubusercontent.com/67732686/133926343-94088eac-41dc-4b81-9df1-3e6d50dd7975.png)

[2021-09-20 05:22] Spider-of-Steel commented on #669
Thank you so much for maintaining this project! You are the man!

I want to take this topic and suggest adding support for Build engine games, Blood type, Duke Nukem, Powerslave (Exhumed) and others. And of course, Heretic, HeXen and etc...

I don't think it's fair to see these classics out of the play ground! Anyway, it's just a suggestion.

[2021-09-20 05:35] bradharding commented on #669
No, sorry, not going to happen. Heretic and HeXen (and even Strife) are doable as they use the same engine, but to support Build engine games is and always will be well out of the scope of this project. Stick with DOOM! :godmode:👍🏻

[2021-09-20 06:46] FredBezies opened #680 "[git][revision 1c66ba3] build process stops in src/m_misc.c:216:78: error: expected ‘)’ before ‘PACKAGE’"
Hello.

I tried to build from git DoomRetro, and build process stops around 47%.

Here is the full log I get:

[code]

I'm using Archlinux with gcc 11.1.0.

[2021-09-20 06:51] bradharding commented on #680
Ah, thank you. This is caused by changes in commit 79f075b4306e2f8b6568b8df3b6a96dae5fa941f. I'll have a fix shortly...

[2021-09-20 06:53] #680 closed

[2021-09-20 08:19] FredBezies commented on #680
Thanks for the fix. It works perfectly.

[2021-09-20 19:02] Spider-of-Steel commented on #669
HELL YEAH!!!!!!

[https://media4.giphy.com/media/1xNApQKoX1uW2vhVE9/200.gif](url)

Let's ROCK!!!

[2021-09-20 20:08] Spider-of-Steel commented on #669
Just one observation...
If possible, create another project named Heretic and HeXen Retro.

Using all the knowledge you have and using the code base of the DOOM Retro project, I believe in my ignorance that the new project will grow quickly and without major problems.

I particularly like the DOOM Retro project and see it as the BEST SOURCE PORT as it is easy to use, overall elegant and powerful i

[2021-09-23 18:50] RavenMacDaddy opened #681 "Enemies always get stuck on this particular elevator"
I was playing some GZDOOM, and as I was playing, I remembered that in this particular elevator on E1M5, the enemies will continually get stuck in the DOOM Retro source port.

Not just one and the same enemy, every single one will get stuck at the same exact spot - and this is with or without map fixes and the like turned on, it doesn't matter.

![Screenshot_Doom_20210923_204659](https://user-image

[2021-09-23 21:04] bradharding commented on #681
Thanks for this. Without checking yet, I'm guessing the ceiling is just a tad too low, which should be easy to add in a fix for. (Since DR doesn't need to have demo compatibility, it can have fixes like this. :grin:)

[2021-09-24 21:50] tslilc commented on #639
I came back to this some time later, because it still doesn't work for me on Arch (but does on Debian 11, a clue?). Anyway, after stepping through the code on both OSs it would seem that the precise difference is indeed in `I_RegisterSong`. In `i_music.c:284` we have

[code]

For whatever reason this SDL call, `Mix_LoadMUS_RW` returns differently for the same data on Arch and Debian. This causes a

[2021-09-24 23:52] valsu commented on #639
FWIW, music works fine on Ubuntu too.

[2021-09-26 00:27] tslilc commented on #639
Here is a work-around! Ensure that you have a soundfont installed, and then set the environment variable `SDL_SOUNDFONTS`. This works for me on Arch, with the example invocation

[code]

[2021-10-17 07:50] atsb opened #686 "MacOS - vid_scaleapi hard crash on startup when set to Metal"
When setting in the config `vid_scaleapi "metal"` starting Doom Retro (on a Mac), it will immediately crash and segfault.

This is due to Metal not having a Metal Rendering Window created.  Metal cannot be used for vidscaling while still using an OpenGL rendered window.  At least from what I understand of it.

It would either be OpenGL/OpenGLES or a fully Metal'ised' Window, Renderer and appropria

[2021-10-24 08:32] FredBezies opened #688 "[git]Commit 6c1e4f5 cannot be built with gcc 11.1.0 in st_stuff.c:257:29:"
Hello.

I tried to build doomretro on my Archlinux, and it breaks at 96%.

Here is the log:

[code]

[2021-10-25 04:17] #688 closed, assigned to nobody

[2021-10-30 08:53] #686 closed

[2021-11-03 07:17] atsb opened #689 "doomretro .cfg file location (Linux)"
Would it be possible to have the config file saved in `~/.doomretro/<config file>` instead of having it in the same directory as the binary?  The users home directory is typically where it would be expected to be saved to.

Thanks as always!

[2021-11-04 22:12] bradharding commented on #689
Hi Gibbon. As I'm unfamiliar with Linux, I'm not sure how to code this. Is the existing code for Linux in [`M_GetAppDataFolder`](https://github.com/bradharding/doomretro/blob/master/src/m_misc.c#L206) no longer current? I'll investigate the use of `SDL_GetPrefPath`, as that might be what I'll need.

[2021-11-08 15:39] atsb commented on #689
So what I do in reboom is this (in d_main.c):

[code]

Using this (I believe most older / conservative ports use the same function) it will save/load the config file from the home directory under `~/.reboom/`

On all Linux and Mac boxes I have tried, none have this `share/doomretro` and thus always fallback to putting it in the same directory.  Maybe instead, it could fallback to using `~/.<someth

[2021-11-10 04:26] bradharding commented on #689
Thanks @atsb for the clarification. I'll look into applying your code.

[2021-12-08 07:46] bradharding commented on #506
This has been fixed.

[2021-12-08 07:46] #506 closed

[2021-12-08 07:48] bradharding commented on #454
This has been implemented.

[2021-12-08 07:49] bradharding commented on #436
This has been resolved.

[2021-12-08 07:49] #436 closed

[2022-01-02 05:29] bradharding commented on #542
Dehacked support has improved considerably, and support for batman.wad seems to be fixed. Closing.

[2022-01-02 05:29] #542 closed

[2022-01-26 18:13] dftf-stu commented on #657
As someone who was first-introduced to _DOOM_ back with _DOOM_ and _Final DOOM_ on the _PlayStation_, yeah... not a fan of the current controller-layout, and gutted there is no way to change it (at-least, the "Using a Controller" help section only gives one layout and says nothing more, and I looked in the **doomretro.cfg** file, and doesn't seem you can alter the bindings in their either).

Aside

[2022-01-26 18:49] dftf-stu commented on #454
I wasn't sure how you turn this on, so for the benefit of anyone else: close the _DOOM Retro_ app, then open the **doomretro.cfg** file in Notepad and change the "off" after "am_playerstats" to "on".  Or while in-game, press the key above TAB to bring up the Console, type **am_playerstats true** then hit ENTER.

- **NOTE**: to bring-up the Console the manual says to press the "tilde key", **~** ,

[2022-01-26 18:55] dftf-stu commented on #453
Is it possible to allow an external WAV or FLAC file to be played as the secret-sound?

It would be great if so as I could then use the _Tomb Raider I, II or III_ sound, or the one from _Last Revelation_ or _Chronicles_ -- always wanted a port that would let me do that!

[2022-01-26 20:02] dftf-stu commented on #652
I would definitely like to see an in-app menu, yeah... the "Crispness" menu in _Crispy DOOM_ is nice, as is the "setup" EXE they offer to amend your keyboard controls and joypad buttons.

If the latter could at-least be implemented somehow in the Console (for example, maybe a user could type **joypad_config**, hit ENTER, and it would then go through each control -- such as "Press controller button

[2022-01-26 20:07] dftf-stu commented on #638
Would a scanline effect really be so difficult to implement?

You are only setting every-other line to either be fully-black, or maybe say 25% or 50% translucent.

Translucency would be more-difficult, but for fully-black surely you could just render an image the same dimensions as the viewable game area, set say every odd line to black, then every even line to a specific colour to use as the tran

[2022-01-26 20:20] dftf-stu commented on #598
I agree that once you stray outside of anything more complicated with _DOOM_ it is quite a steep learning-curve for anyone who hasn't been actively in the community over-the-years to know what to do.

You want to play Plutonia?  Simple, just pop PLUTONIA.WAD into the same folder as your source-port files, make sure no-other WADs are there, double-click the main EXE and it'll usually load.  If not,

[2022-01-26 20:34] dftf-stu commented on #29
I'm not sure the reverb would be easy to add, as in the PSX version the WADs will surely contain extra tags in areas to define what reverb for the sound-chip to apply?  As PC WADs will never be built with such tags, as it's never been a thing in ports outside of the PSX, Saturn (I think?) and N64, all you could do is make guesses based on whether the player was indoors, and if so how big the room

[2022-01-27 02:55] garoto commented on #638
Just use Reshade...

[2022-01-27 14:54] kewalsky commented on #453
@dftf-stu with [SLADE](http://slade.mancubus.net/) you should be able to make a new WAD file and import the WAV naming it just "DSSECRET". Loading that file will then replace the sound.

[2022-01-29 08:55] benalb opened #692 "DOOM Retro couldn't find any IWADs."
doomretro does not work with the new 4.4.3:

benalb@r61 ~]$
doomretro -iwad games/doom/Wads/doom.wad
DOOM Retro couldn't find any IWADs.

I've tested in two different computers, both with void linux.
4.4.2 works ok.

[2022-01-29 15:58] jfgomez21 commented on #692
I noticed the same thing.  It looks like a recent change to src/doomretro.c removed the assignment of the variable myargc.  Adding that line back in fixes the command line argument parsing

`myargc = argc;`

Commit - [bbf4cb1ea21f7219919006164e954b43225ac65b](https://github.com/bradharding/doomretro/commit/bbf4cb1ea21f7219919006164e954b43225ac65b)

[2022-01-29 18:22] bradharding commented on #692
Argh! Thank you so much to the both of you! I've restored that line. I've also retroactively fixed it in the 4.4.3 Windows binaries.

[2022-01-29 18:22] #692 closed

[2022-01-30 08:13] benalb commented on #692
Sorry for reply to a closed issue, but, would you update the sources .zip and .tar.gz files?
void linux  builds doomretro with the tar.gz, not from github repo. Thank you.

[2022-02-11 15:43] captwalsh opened #693 "Ancient Aliens WAD"
Hi there,

Just noticed the Doom Retro crashes when you exit the first map on Ancient Aliens (which is a recommended WAD)
https://github.com/bradharding/doomretro/wiki/RECOMMENDED-WADS
I found that any version of Doom Retro > 4.3 causes this crash?

Kind regards
Jonathan

[2022-02-11 19:22] bradharding commented on #693
Thanks for the report! For me, I wasn't getting a crash at all until I ran it through the debugger, which then caused a crash when the map was loading, not exiting. This led me to this fix: bb4bc6d8d007c9c5dd2d5142cd433ca803a2d25b.

Could you please test it works in the following build?

[https://www.dropbox.com/s/lotycexhqgnomg7/doomretro-4.4.5beta1-win64.zip?dl=1](https://www.dropbox.com/s/lotyc

[2022-02-11 19:53] captwalsh commented on #693
Hi there,
Thanks for responding so quickly.  I tried that beta build and unfortunately, it still crashes at the end of the map.
Kind regards
Jonathan

[2022-02-11 20:19] #693 closed

[2022-02-11 20:20] bradharding commented on #693
Thanks again Jonathan. All fixed now. :grin:

[2022-02-14 01:03] ryan-sg opened #695 "R_RenderSegLoop () at r_segs.c:381"
Hey, on 270758158fd250c9f18cc554787374f17192100c right now I hit this sigsegv loading any map:
[code]

[2022-02-14 04:51] bradharding commented on #695
Thanks for letting me know @ryan-sg. Can you please confirm 503ab10378a1320159a24146f0a89c1ff055e6ba fixes this for you? No crashes at my end.

[2022-02-14 06:25] ryan-sg commented on #695
that seems to have stopped the segfault!  Thanks @bradharding !  :+1:

[2022-02-14 06:25] #695 closed

[2022-02-14 18:38] andrikpowell opened #696 "[Feature Request] Ability to Force Vanilla Comp for Mapsets that rely Vanilla Limits/Bugs as Features"
I've looked through all the command-line parameters and console commands and I wasn't able to find some of the settings that would make the vanilla megawad I'm currently working on to work correctly in Doom Retro.

I have maps that specifically rely on these Vanilla quirks/limits:
- Crushed monsters getting resurrected by Archviles becoming ghosts (can only be killed by splash damage)
- Pain Eleme

[2022-02-15 05:01] bradharding commented on #696
I'll look at implementing most/all of the following (copied from ZDoom's wiki):

Crushed monsters can be resurrected (Yes/No)
[compat_corpsegibs](https://zdoom.org/wiki/CVARs:Configuration#compat_corpsegibs) ([CVAR](https://zdoom.org/wiki/CVAR) and [MAPINFO](https://zdoom.org/wiki/MAPINFO))
If enabled, corpses under a [vertical door](https://zdoom.org/wiki/Vertical_door) or [crusher](https://zdoom

[2022-02-16 08:19] andrikpowell commented on #696
Thanks, that should make it so that more vanilla map packs that rely on these can be played with Doom Retro...

As for the map30 "Monsters can telefrag other monsters" option...

It's actually really weird how it's implemented in ZDoom.
Basically it's not exactly a comp setting, but is instead added via ZMAPINFO like how **map07special** is added.

For ZDoom, you have to add **allowmonstertelefrag

[2022-02-17 07:31] bradharding commented on #696
I've implemented ZDoom's `allowmonstertelefrags` here: cf7566965f74a6583c1750ce280d3d6123d9303d

[2022-02-17 09:12] andrikpowell commented on #696
Sounds good! Just curious is there any way I can test it out in a dev version, or is it not completely implemented yet?

[2022-02-17 21:49] andrikpowell commented on #696
Hmm... I gave it a go and it seems crash immediately, as opposed to the last version...

I noticed that if I deleted the UMAPINFO lump, it would boot up but it still ignored the _allowmonstertelefrags_ tag...

Does Doom Retro only specifically load _allowmonstertelefrags_ from MAPINFO as opposed to ZMAPINFO... The documentation of the differences between those 2 lumps is quite lacking to be honest

[2022-02-17 22:00] bradharding commented on #696
Thanks for this. I must've messed something up. Real life is seriously getting in the way, but I'll look into this.

[2022-02-17 22:03] andrikpowell commented on #696
No worries! I'm just glad that a dev is willing to try to implement features and listen to feedback! :)

[2022-02-18 01:01] bradharding commented on #696
I haven't had the chance to actually test your wad, but the [crash is fixed](https://github.com/bradharding/doomretro/commit/f3cb90477faa66b9accdcaabbb9e6c8dea86c18c). Please redownload.

[2022-02-18 01:17] andrikpowell commented on #696
Ok cool. I tested it and it now loads the wad! So with some testing, it seems that Doom Retro only reads MAPINFO and not ZMAPINFO... which is fine, since you can just rename the lump and Doom Retro will read it...

There is a slight problem though:
If your wad has a UMAPINFO, the _allowmonstertelefrags_ tag will never be read from the MAPINFO lump, since UMAPINFO seems to supersede replaces it.

S

[2022-02-18 04:21] bradharding commented on #696
For now, you could use RMAPINFO that DOOM Retro will recognize over MAPINFO and UMAPINFO. At this stage, DR will look for RMAPINFO, UMAPINFO and MAPINFO (in that order), and it processes only one. I should change this so it processes all three (and perhaps ZMAPINFO as well). In your experience, what should be the order of precedence?

[2022-02-18 04:37] andrikpowell commented on #696
Ah, I didn't realise that RMAPINFO was a lump. lol I should've cuz you do have it in the documentation / wiki.

I think that the order you have it in makes sense:
RMAPINFO
UMAPINFO
MAPINFO
ZMAPINFO

RMAPINFO would make sense to be parsed first since it includes specific features exclusive to Doom Retro.
UMAPINFO should be next, since it's supposed to be the MAPINFO lump that is compatible with all

[2022-02-18 05:40] bradharding commented on #696
Currently DR parses RMAPINFO, UMAPINFO and MAPINFO in the same way, so you can have UMAPINFO stuff in RMAPINFO.

[2022-02-18 05:46] andrikpowell commented on #696
Oh weird... Yeah that's actually really cool. I literally just copied the text from my UMAPINFO into a RMAPINFO lump and then added the _allowmonstertelefrags_ tag and it worked while also giving me the episode select.

[2022-02-18 05:50] andrikpowell commented on #696
If you can mix and match the commands from the other MAPINFO lumps... I don't see the issue with having RMAPINFO override the other MAPINFO lumps. But it may be beneficial to state that you can mix and match MAPINFO data in the RMAPINFO so that mappers know.

I guess you do run into the problem of when there is no RMAPINFO in the wad... maybe then you can pull mixed info from UMAPINFO, ZMAPINFO an

[2022-02-19 00:12] jwoodie opened #697 "Weird render clipping issue"
Whenever a sprite or particle gets partially behind the camera it starts to bend in a really weird way. This is on the latest stable version of doomretro.

[2022-02-19 00:14] bradharding commented on #697
There was a bug that crept in that caused this, and I reuploaded v4.4.5 a few hours later. Please redownload and you'll see it's fixed. :grin:

[2022-02-19 00:14] #697 closed

[2022-02-19 04:34] jwoodie opened #699 "[Feature Request] Archvile resurrections in kill count"
I think it would be cool to have archvile resurrections accounted for in the kill count on the map screen. What I mean by this is, if an archvile resurrects and enemy and you kill that enemy you can exceed the kill count for a given map. Woof handles this by adding a '+' sign to the kill total for the number of enemies resurrected, e.g. `10/78+2`.

[2022-02-19 16:17] #699 closed

[2022-02-19 16:17] jwoodie commented on #699
Well I didn't notice, but I'd say that is a cleaner way of handling archvile resurrections. Thanks for clearing this up!

[2022-02-19 19:17] #618 closed

[2022-02-20 03:45] jwoodie opened #701 "Flying enemies are clipped before being submerged in liquids"
When you kill a flying enemy over a liquid sector, the corpse sprite is clipped before it is submerged. This is normally not a problem for other enemies and items, but flying enemies (or corpses falling off of ledges) look weird.

![Screenshot from 2022-02-19 22-42-36](https://user-images.githubusercontent.com/40321768/154827630-a23f76bd-73d7-415b-8921-b4e3f6acf9bb.png)
.

[2022-02-20 03:53] bradharding commented on #701
Thanks Joshua. I'll look into this. Also, I've noticed that your screenshot is a bit off-center, and the status bar is wrapping such that it's right edge is appearing on the left (which I'll look into this as well). The image would be cropped I'm guessing? What's your screen's actual resolution?

[2022-02-20 03:54] jwoodie commented on #701
I manually cropped the screenshot. I have two monitors and GNOME takes a screenshot of both of them at once.

[2022-02-20 04:31] bradharding commented on #701
Thanks. Well, the status bar will look as it should on your screen now (see 731b0383d8b1bd517fa8caf91eb8b8f70f076b86). As for the point of this issue, I'll tackle this later (unless you want to continue to have a stab at it? :wink:).

[2022-02-20 05:51] bradharding commented on #701
So I think I've fixed this in 6766ff221ebfe39f3e7e6ab6dd9bff1d581238db. Can you please confirm it's the same for you before we close this off?

[2022-02-20 09:58] vanfanel opened #702 "Strange graphics when shoting very near enemies"
Hi there @bradharding !

I just updated to latest stable (4.4.5) and I have noticed that shooting enemies that are just in front of the view, causes some strange graphics for a frame or two: very hard to capture because it's very fast, but seems to be related to blood effects.

Can you reproduce on your side?

[2022-02-20 16:31] bradharding commented on #702
There was a bug that crept in to v4.4.5 that caused what you're describing, and I soon after re-uploaded the windows binaries. Can you please redownload, or are you bulding using the latest code?

[2022-02-20 16:31] jwoodie commented on #701
Everything looks good! Thanks!

[2022-02-20 16:31] #701 closed

[2022-02-20 16:32] jwoodie commented on #702
I think you should update the github releases. The source code for the latest github release still contains the bug.

[2022-02-20 17:17] bradharding commented on #702
I would, but I'm not sure how.

[2022-02-20 17:27] jwoodie commented on #702
The only thing I can think of would be to create a new release based on the previous one, and cherry-pick the commits that fixed those bugs.

[2022-02-20 19:04] vanfanel commented on #702
I build on GNU/Linux using the releases. But if its a known problem then its ok! I will use the next release when available

[2022-02-21 04:55] bradharding commented on #702
I plan on releasing v4.4.6 by the end of the week.

[2022-02-21 21:19] Sol1vaN opened #703 "mouse2 button can't be binded to +back action"
Hi, i've tested the last build 4.4.5 and this action (backward) can't be binded to mouse2 button.
always shows a message like: "The +back action can't be bound to mouse2"

So, I've tested many other bindings and I've found the following:
*mouse1 to mouse8 can't be binded with:
+back
+strafeleft
+straferight

*mouse1 to mouse8 can be binded with:
+forward

So, appears that it be limited to only 3 a

[2022-02-22 03:08] bradharding commented on #703
No, the mouse can't be bound to those actions, but I can certainly allow it. I'll have this ready for the next release. Thanks!

[2022-02-22 03:19] bradharding commented on #703
And done! 😄

[2022-02-22 03:19] #703 closed

[2022-02-22 15:20] Sol1vaN commented on #703
wow! very very thanks! 🖐😬

[2022-02-24 12:37] vanfanel commented on #702
@bradharding With newly release 4.4.6, this issue doesn't exist anymore! Thanks!!

I am closing this (I have to go back to kicking some martian-demonic ass on my free day!)

[2022-02-24 12:37] #702 closed

[2022-03-20 03:15] vini1264 opened #710 "SIGIL bug: switch doesn't work"
There's a bug in the current version of Doom Retro when playing SIGIL, when I shoot this switch in E5M1 it doesn't work for some weird reason:

https://user-images.githubusercontent.com/52476409/159146493-a3d109f1-f492-46eb-b120-0761578f999c.mp4

[2022-03-20 04:03] bradharding commented on #710
Just checked this myself and it works fine. Can you please check you have [v1.21 of SIGIL](https://romero.com/sigil)? I recall there being problems with these types of switches with earlier versions.

[2022-03-20 05:16] vini1264 commented on #710
Oh thanks this one worked, I was using an earlier version of Sigil, 1.1 to be more specific.

[2022-03-20 05:39] #710 closed

[2022-03-22 06:30] andrikpowell commented on #696
So I looked at some of your more recent releases and was excited to see the added MAPINFO commands **compat_corpsegibs** and **compat_limitpain**. And so I gave them a shot in my wad.

It's still really cool you added these options.

**compat_limitpain** worked as expected. Cool 👍

However **compat_coprsegibs** doesn't quite work as it's supposed to.
At first glance, when it's added to the MAPINFO

[2022-03-22 06:41] andrikpowell commented on #696
Also I wanted to mention that the file I sent is an WIP update to the wad I just released today:
[https://www.doomworld.com/forum/topic/128171-100-line-massacre-new-vanilla-megawad-complevel-2-dehacked/](https://www.doomworld.com/forum/topic/128171-100-line-massacre-new-vanilla-megawad-complevel-2-dehacked/)

And if you can get some of those things sorted out, I'd have no problem in posting an upd

[2022-03-22 06:49] bradharding commented on #696
Sorry @andrikpowell, I did mean to let you know I implemented (or at least attempted to) those options. Wow, there are several issues to address. Leave it with me. I'll see what I can do.😀

[2022-04-03 12:44] andrikpowell commented on #696
Hey Brad (again),

Hopefully I don't seem too annoying. I thought I'd test out the latest build you had (mostly because I was curious about your changes with bobbing powerups when they are on a floor that meets the ceiling).

Basically I found a few new issues that cropped up from some of the latest build's changes:

1. In MAP33 (100lnm.wad), There is a megasphere that is on top of a door sector.

[2022-04-04 07:21] bradharding commented on #696
Hi again! Thanks for the reports. I haven't got 'round to fixing compat_coprsegibs just yet, but I promise I'll try to before next release. I have checked out MAP33 in 100lnm.wad and did notice and fix the megasphere issue already. (I also encountered and fixed another bug (missing blood splats on moving sectors) due to that map.)

I'll look into the issues you've already brought up here, but I gu

[2022-04-05 01:25] andrikpowell opened #713 "[Dev Build] "vid_fullscreen" is always set to "off" when launching Doom Retro"
Just a small thing I noticed with the latest dev build.

No matter if I change the "vid_fullscreen on", everytime I launch Doom Retro, it reverts it back to "vid_fullscreen off" and boots up in windowed mode. Also if I alt-enter in-game to go fullscreen in-game, or if I change the console variable in-game, it reverts to windowed mode everytime at launch. Both for 64-bit and 32-bit.

[2022-04-05 01:37] andrikpowell opened #714 "[MAPINFO] Doom Retro doesn't read part of (Z)MAPINFO and UMAPINFO regarding different Endgame states"
I noticed that Doom Retro doesn't seem to be able to read parts of MAPINFO lumps that change the end state.

For example, in my 100lnm.wad MAP33, MAP34, and MAP35, I have in the UMAPINFO **endpic = "CREDIT"**, which is supposed to act like how the first Doom 1 episode ends after the text intermission to change to just a graphic picture.

ZMAPINFO uses a slightly different format, in which I have *

[2022-04-05 01:42] andrikpowell opened #715 "[Small Bug] "compat_coprsegibs" doesn't quite work correctly"
It's cool that you added the **compat_coprsegibs**, so that maps that require ghost monsters can work. But it currently does not work like it's supposed to.

I noticed that it's possible for monsters when they are resurrected as ghosts to get stuck to one another when resurrected in the same place (which doesn't happen in Vanilla since they are supposed to be noclipping when resurrected after bein

[2022-04-05 01:48] andrikpowell opened #716 "[DehackEd] Tweaked DehackEd Monsters with +COUNTKILL Still Spawning with -nomonsters"
Hey Brad,

I just came across another small bug.

So in the 100 Line Massacre wad (and in many other wads), I've used Dehacked to replace the Commander Keen thing with a new enemy with the +COUNTKILL flag.

The +COUNTKILL flag is meant to make the thing not show up when the -nomonsters argument is used (and makes the monster count towards the kill count).

You can notice this on MAP10 of 100lnm.wa

[2022-04-05 01:50] andrikpowell opened #717 "[Feature Request?] Anyway to disable "r_graduallighting" on a per map basis?"
On 100lnm.wad's MAP33 (The Descent III), the config option "r_graduallighting on" breaks the way the map looks because of how it's built. (It has to do with a long elevator ride down, and the entire ceiling being a flat bleed, so eventually the further the elevator goes down, the darker some parts of the ceiling become)

What would you say could be a solution to this? Would you say adding a MAPINF

[2022-04-05 01:52] andrikpowell opened #718 "[MAPINFO] Specifying Episodes in UMAPINFO and RMAPINFO Creates Duplicate Episodes"
There's a bit of weird thing when Doom Retro reads both UMAPINFO and RMAPINFO, in that if they both specify episodes, it'll show up as duplicated episodes in the episode screen.

Personally, I solved this by removing the episode declaration in the RMAPINFO lump, but it may be a good idea to create some kind of exception to fix this.

[2022-04-05 01:56] andrikpowell opened #719 "[Dev Build] Changes to Bobbing Powerups Causes Powerups to Become Unattainable / Stuck In Floor"
I noticed you made some changes to when / how powerups decide to bob, and while it does make the powerups less glitchy, it also can cause the powerups to become unattainable.

In 100lnm.wad MAP33, There is a megasphere that is on top of a door sector. Eventually it gets to the point where that floor meets really close to the ceiling. Eventually that floor lowers down again, but it seems that megas

[2022-04-05 02:01] andrikpowell opened #720 "[Feature Request] Tweak Cyberdemon / Mastermind Full Volume Sounds to be Consistent with Vanilla"
In Vanilla Doom (and most if not all Doom ports), The Cyberdemon and Mastermind's wake and death sounds are full volume, meaning that they can be heard throughout the entire map. Doom Retro actually does this part correctly.

But, what Doom Retro does incorrectly, is that it has their walking sounds set to full volume as well, which makes some of the maps very difficult to play, because the player

[2022-04-05 02:06] andrikpowell commented on #696
Brad,

Thanks for the response. I've added quite a few separate issue threads that I hope will make your life easier in remembering the different issues. Also once you address them, we can easily check them off.

The one thing I wanted to ask is how you wanted to deal with the **r_graduallighting** issue (#717). I'm about to release the final version of my wad (100 Line Massacre) and so I'd like t

[2022-04-05 05:58] bradharding commented on #696
Thanks for taking the time to create those separate issues, I really appreciate it @andrikpowell. I think for issue #717 I'll implement `nograduallighting` in RMAPINFO. That'll override the CVAR and display a warning in the console. What do you think? I'll look at doing this over the next couple of days so it will definitely be in the next release.

[2022-04-05 09:09] #716 closed

[2022-04-05 14:55] andrikpowell opened #721 "[Feature Request] Add "compat_light" flag to RMAPINFO"
Hey Brad,

I surprisingly missed this until now. In MAP31 of 100lnm.wad , I use a "change brightness of sector to the brightest adjacent" walk-over linedef and I forgot that it actually works different in Vanilla Doom as opposed to Boom and above.

In the map all the sectors are supposed to change to the same brightness (like in Vanilla), while Boom actually breaks this and doesn't light up all th

[2022-04-06 06:20] bradharding commented on #696
Yes I do. I'll implement that as well. :smile:

[2022-04-06 06:35] #717 closed

[2022-04-06 07:41] #721 closed

[2022-04-07 00:14] andrikpowell opened #722 "[Feature Request] Anyway to play wads with multiplayer items and enemies?"
I was looking through the Doom Retro Wiki and couldn't find any information on how to play "coop in single-player".

For other Doom ports, you are often able to enable this by using either the `-solo-net` or the new `-coop_spawns` parameters.

`-solo-net` is the old way of doing it, since it basically creates a network game where you are the only player.
(it is worth noting that entering a network

[2022-04-07 00:16] andrikpowell commented on #696
I just wanted to mention that I recently tested out both `nograduallighting` and `comp_light` in the latest build and they work great!

[2022-04-07 07:38] bradharding commented on #713
This is deliberate for the debug build (when `_DEBUG` is defined) as I found when debugging a crash in fullscreen, SDL would lock the screen, and I couldn't bring up Visual Studio to fix it.

[2022-04-07 07:50] andrikpowell commented on #713
Ah, thanks for the clarification.
Yeah, when I build the release version of 64/32 bit, fullscreen works as intended.

I'll close this ticket then. :)

[2022-04-07 07:50] #713 closed

[2022-04-23 07:21] bradharding commented on #720
Commit f5f03621794f9c561b156c9ba8f8fc72675960b6 fixes this.

[2022-04-23 07:21] #720 closed

[2022-04-25 23:23] andrikpowell commented on #696
I meant to mention this earlier when you closed the ticket #720 , but I did test it out myself and it does work correctly now. Good work!

Also I meant to mention that the final version of 100 Line Massacre how now been released on [/idgames](https://www.doomworld.com/idgames/levels/doom2/megawads/100lnm).

Once the issues I've opened have been completely closed, I'll write a post in the forum tha

[2022-04-26 06:17] bradharding commented on #696
Glad #720 is fixed for you! :smile:

[2022-05-01 06:01] Doomy65 opened #724 "640x400 on CRT monitor is pillarboxed and crushed"
I've been trying to force the program to run in 640x400 (both fullscreen and borderless) but it seems to interpret the resolution as widescreen (which I suppose is fair since pixel wise it is 16:10). As a result it displays a pillarboxed image (with the actual game window being more square than 4:3). I've gotten Crispy Doom and similar to stretch and fill the monitor through disabling aspect ratio

[2022-05-04 01:48] iainrm commented on #535
Bumping this because I'd really really like support for FluidSynth in Doom Retro. Every other source port that matters (even Chocolate Doom) supports it, and I'd rather not have to use a third party program just to get non-GM MIDI in Doom Retro.

VirtualMIDISynth is an imperfect solution. I've had it bug out on several different MIDIs for me; the chance of VirtualMIDISynth playing a MIDI incorrect

[2022-05-07 09:43] #719 closed

[2022-05-08 05:32] andrikpowell opened #725 "[Small Bug] Alt-tabbing from Doom Retro sometimes results inputs not being recognised"
While using the current dev build (release x64), alt-tabbing away from Doom Retro sometimes results in the program deciding to no longer allow any input commands from the keyboard and mouse.

This has been a little annoying since if I want to look at the Doom Retro wiki to look at commands or something, the Doom Retro program won't be frozen, but when I alt-tab back sometimes it will refuse to re-

[2022-05-08 05:42] bradharding commented on #725
Thanks for this. So it's still an issue then, even with SDL v2.0.22. Can you please confirm if `vid_borderlesswindow` is `on` or `off` for you?

[2022-05-08 09:09] andrikpowell commented on #725
`vid_borderlesswindow` is currently set to `on` for me.

[2022-05-09 06:18] bradharding commented on #725
So is this issue still occurring for you after https://github.com/bradharding/doomretro/commit/2de7f4b2fc7a0b5c8796430e96db59532d49722d? What if you do something else to make DR lose focus without using the TAB key, such as pressing CTRL+ESC?

[2022-05-10 01:38] andrikpowell commented on #725
So I just tested this out with the new build and the issue still persists. All I did was start playing a level, paused the game (pressed ESC), held alt and then pressed tab, and then when I alt-tabbed back neither the mouse nor keyboard did anything in Doom Retro.

I will mention that `vid_borderlesswindow` is `on` and that I alt-tabbed in fullscreen mode. I also have `s_musicinbackground` set to

[2022-05-17 06:03] bradharding commented on #725
Hi again @andrikpowell. Can you test this again please? I'm hoping fcab89ff0f99be5d687a456ba62c49bee5b41bef fixed it.

[2022-05-17 10:08] andrikpowell commented on #725
From my minor testing, it looks like this fixed it!

[2022-05-17 10:08] #725 closed

[2022-05-17 22:21] bradharding commented on #725
Awesome! Thanks for your help! 😀

[2022-05-25 00:21] iainrm opened #729 "[Feature Request] Setting Custom Brightmaps For Custom Textures (maybe sprites and flats too?)"
The brightmaps in Doom Retro are a big favorite of mine. I'd love to be able to set brightmaps for custom textures, so that I can have switches, lights, etc. show up as fully bright regardless of sector light level.

I'm not certain what the best way to implement this would be. Perhaps a text lump, named maybe BRITEMAP or DRBRIGHT or something? The syntax could look like this, perhaps:

`NEWSW01 1

[2022-05-25 06:03] bradharding commented on #729
I have been considering this. If I do, it will be done through a `MAPINFO` lump. At the moment you can specify `nobrightmap = "walltexture"` to disable a brightmap for a texture, so the opposite makes sense.

Although more restrictive than your suggestion, it will likely be of the following format (so as to not involve an entire rewrite of the existing brightmap code):
`brightmap = "walltexture" N

[2022-06-06 03:50] d10sfan opened #730 "Saving Issue on Linux Since 4.5"
I'm running into issues with saving since 4.5. 4.4.10 works fine, but when I try and save on anything newer, the UI will work fine (and if I use the console to do save test) then it'll say that it is successful, but the save is not there in the directory. Then if I try to go to Load Game, the game freezes.

If I use 4.4.10, the saves work as expected. Let me know if you need any additional informa

[2022-06-06 05:53] bradharding commented on #730
Hi! Thanks for the report. I'm reasonably sure e1d2467ea586b3af12fb856bbc41b91588ecd38c should fix this issue. Are you able to compile the latest source and test?

[2022-06-06 13:44] d10sfan commented on #730
@bradharding Thanks for the quick response!

I can confirm that that commit fixes the issue. I was able to save and then load the same save without any issues.

[2022-06-06 13:44] #730 closed

[2022-06-07 05:57] bradharding commented on #730
Ah! I'm glad it's fixed. Thanks again for your help!

[2022-06-14 02:33] andrikpowell opened #732 "[Bug Report] Latest Build of Doom Retro is very incompatible with DehackEd heavy WADs"
Ok, sorry for the vague title. This is going to require quite a bit of an explanation.

So I'm currently working on a new project called "200 Line Massacre". As opposed to the previous project (100 Line Massacre), the new project includes some very heavy DehackEd tweaks. As a result, I have simplified lots of frames from certain Doom actors so that I can use them for new monsters, etc.

Doom Retro

[2022-06-14 02:45] andrikpowell opened #733 "[Feature Request] Is it Possible to add Doom Retro effects to custom DehackEd actors"
So I guess my main question here is that is there a way to add the floating powerup behaviour to custom dehacked powerups?

I'm working on a WAD that replaces the Berserk with a Bloodsphere, and it'd be nice to make it float like the other spheres.

[2022-06-14 02:51] andrikpowell opened #734 "[Feature Request] Add an infinite height / infinite missile explosion compat option for RMAPINFO"
In a WAD I'm working on, I have a few maps that require infinite height of actors to work correctly. (Also when explosions (like barrels) explode, they must also be infinite height).

If you must know, an example of a map that I have:
- has a voodoo doll telefrag a cyberdemon, but the voodoo doll teleports super deep into the ground out of sight, so that it looks like the cyberdemon just died out

[2022-06-14 03:56] iainrm commented on #733
Yes! You'll want to use the "Retro Bits" as defined here: https://github.com/bradharding/doomretro/wiki/INFORMATION-FOR-MAPPERS#DEHACKED-LUMPS

To make your bloodsphere float and be translucent for example, you'll want to do something like this:

`Thing 58 (Bloodsphere)
Retro Bits = TRANSLUCENT+FLOATBOB

[STRINGS]
GOTBERSERK = Bloodsphere! Rip and tear!`

[2022-06-14 05:58] bradharding commented on #732
Hi @andrikpowell. Thanks for the report. This will take me some time to work through.

[2022-06-14 06:00] bradharding commented on #733
Yes, as @iainrm shows, that should do the trick. I really need to update that page...!

[2022-06-16 05:08] andrikpowell commented on #733
Ah Thanks both @iainrm and @bradharding ! Honestly I forgot about the Retro Bits in Dehacked!

[2022-06-16 05:08] #733 closed

[2022-06-17 08:04] bradharding commented on #734
Hi @andrikpowell. Can you please test this works for you?

[2022-06-17 22:28] andrikpowell commented on #734
New MAPINFO compat_nopassover seems to work for me! Thanks!

[2022-06-17 22:28] #734 closed

[2022-06-18 00:33] andrikpowell opened #735 "[Bug Report?] Doom Retro and Barrels/Objects not getting stuck in decorations"
So I have a pretty specific use case of forcing barrels and monsters to be stuck in decorations for some kind of "coding" for a MAP07 of the megawad I'm working on.

I have a set up that is very specific in the map, that if the player shoots 4 "double barrel" explosive objects, they will teleport into being stuck in a decoration around a arachnotron... and when all 4 objects are teleported and exp

[2022-06-18 00:58] bradharding commented on #735
Hey man. Thanks for the video. Just watched it through, and it's very helpful in explaining what the issues are. My first thought is there's some "unstuck" code that I borrowed long ago from ZDoom that may be causing the barrel problem. Is there any chance you could link to (or email me, if you prefer) a copy of the wad? I think that'd be the best way for me to deal with this. (Also for the random

[2022-06-18 10:57] andrikpowell commented on #735
I've sent a message via Doomworld message with the link to the WIP megawad you can use for testing.

[2022-06-26 00:16] andrikpowell opened #736 "[UMAPINFO Bug] Exitpic and Enterpic don't seem to work correctly"
So it seems that the way Doom Retro seems to parse **exitpic** and **enterpic** from UMAPINFO differently than DSDA Doom / PrBoom Plus (UMAPINFO) / GZDoom.

So I was planning to have a screenshot of each map used as a replacement of the INTERPIC. They would have the naming scheme of the map titles CWILVxx as INTERPxx.

So for example, MAP01 would use CWILV00 and INTERP00, MAP02 would use CWILV01 a

[2022-06-26 04:10] bradharding commented on #736
So, it seems support for `exitpic` was missing entirely! Commit 951370eba36b0907487d928cd69931dca1289cbc should fix this. I haven't thoroughly tested this though.

[2022-06-26 05:11] andrikpowell commented on #736
Hmmm... I downloaded and compiled the latest version, and it still seems to be doing the same thing. basically when it says "entering MAPxx" it shows the previous map graphic instead of the next map graphic.

Not exactly sure how the umapinfo code works, but it should pull the entering **enterpic** from the next map, and not the current map... if that makes sense? At least that's what DSDA Doom /

[2022-06-26 05:41] bradharding commented on #736
Ah, ok. Thanks. More work to do then! 😁

[2022-06-26 15:12] joanbm commented on #639
In case this helps anyone... @tslilc's answer works for me on Arch, but only along with the fluidsynth optional dependency.

[2022-06-27 06:22] bradharding commented on #736
Could you please test it now @andrikpowell?

[2022-06-27 07:20] andrikpowell commented on #736
So I'm glad to say that it seems like that latest build fixed it

Though I did notice a small other UMAPINFO problem in the process:

Basically I found that when the stats screen of map30 shows up and then it goes to move into the text screen and then endcast, it actually says entering MAP31 for a few seconds.

Not exactly sure where it would be getting that from tho 🤔

My RMAPINFO says:
[code]

A

[2022-06-27 07:34] andrikpowell commented on #735
I wanna circle around to what I think the exact issue that breaks the map07 with Doom Retro.

I think it's the way Doom Retro deals with barrels. Basically if barrels are stuck in a decoration they should be stuck even when exploding in that decoration. I think you have the barrels move around more when shot in Doom Retro.

Perhaps it may be better to come up with some MAPINFO command to turn on a

[2022-06-27 07:52] bradharding commented on #735
Hmm... I think you may be right. Barrels are being treated the same as corpses while they explode (and in DR corpses can shift around a lot). I think I have a fix. I don't think I'll need to toggle this behavior, but I'll continue to look into it...

[2022-07-01 23:03] bradharding commented on #729
Hi @iainrm. So, I've created a new `BRGHTMPS` lump [here](https://github.com/bradharding/doomretro/blob/master/res/BRGHTMPS) that allows customization in PWADs. But I'm thinking your idea of having color ranges such as `192-207,240-247,250` is much cleaner than 256-character strings of 0s and 1s, so I think I'll progress to that...

[2022-07-01 23:50] iainrm commented on #729
I saw the back-and-forth in the logs. I agree, manipulating a big array of 1s and 0s is rather obtuse and painful for people to actually edit by hand. It'd be much easier with a third-party tool but allowing a BRGHTMPS lump to be human-readable and editable is for the best imo.

[2022-07-02 00:16] JNechaevsky commented on #729
Hand editing is extremely simple when using [this image](https://doomwiki.org/w/images/8/8b/Doompal.png). 😉
There are some technics in GFX editors like selecting same colors in palette and image, to make sure proper color will be lit. But it depends on artist skills, I believe.

[2022-07-02 00:36] bradharding commented on #729
It's that exact image I referenced to convert each brightmap. So this is how `BRGHTMPS` is going to look now:

[code]

It can't get any simpler than that. I'm now working on code to parse it correctly. And I'll make sure to include comments in the lump with a clear explanation of the format.

[2022-07-02 01:19] bradharding commented on #729
All done! 😀

[2022-07-02 01:19] #729 closed

[2022-07-10 00:27] andrikpowell commented on #736
I'm going to close this since the issue in the title was actually solved.

I'm going to integrate the last post in this ticket into ticket #714

[2022-07-10 00:27] #736 closed

[2022-07-10 00:34] andrikpowell opened #737 "[Question] Doom Retro and how it decides where to go after MAP32"
I'm not sure how Doom Retro decides what level to go to after.

if I have a RMAPINFO or UMAPINFO that specifies like "next = MAP33" or "next = MAP34", Doom Retro doesn't seem to listen/understand.
- MAP33 seems to go to MAP01
- MAP34 seems to go to MAP31
- MAP35 seems to try to go to MAP36 and crashes the game (because there is no MAP36).

[2022-07-10 00:35] andrikpowell commented on #714
Please note that I have pulled an issue out of this ticket and created a new one here: #737

[2022-07-24 01:32] qindapao opened #740 "secretmessages value can not work"
when i set on,it does not work,and Will be automatically deleted .I'm just trying to show  the information on the top of the screen  when the secret was discovered

[2022-07-24 03:44] bradharding commented on #740
Have you compiled the latest source, or are you using v4.5.1? Even though `secretmessages` appears in the wiki, it won't be effective until v4.6 is released (or if you compile the latest source).

[2022-07-27 23:16] qindapao commented on #740
I am using version 4.5.1. Thanks for explaining

[2022-07-27 23:16] #740 closed

[2022-08-11 02:53] iainrm commented on #722
I brought this up on Brad's discord a while back. There's no support for a solo-net though he did say he's interested in implementing it when he has the time.

[2022-08-14 08:20] qindapao opened #741 "Rocket ammunition boxes are sometimes impossible to pick up in water"
Once I played Doom 2: Anomaly Report wads,There is an open area with water at level 31, One time while playing, I found that the rocket ammo box in the water could not be picked up . But then I played here again, and I couldn't repeat the problem. I don't know what the trigger mechanism is, just throw this problem out first and see if I can encounter it again in the future.

[2022-08-14 08:23] qindapao commented on #741
![Screenshot_20220814_150152_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/109883544/184528676-d68fe9b9-b43e-4235-83b0-182638500f0f.jpg)
![Screenshot_20220814_150132_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/109883544/184528681-6d5145ab-8e97-433e-ab1e-4a828832c0f8.jpg)
![Screenshot_20220814_150129_com opentouchgaming deltatouch](https://u

[2022-08-17 22:25] SilentMRG opened #743 "[Doubt] Master Levels for Doom II"
I tried to run the WAD, but the application crashed with an APPCRASH error. Master Levels for Doom II not working or did I do something wrong? By the way, is there a list of iWADs and pWADs that DOOM Retro supports? SiGIL's iWAD didn't work either.

Thanks!

Just a note: Now the DOOM Retro 64bit executable works on my system. =D Remember, Brad? Here: https://github.com/bradharding/doomretro/issues

[2022-08-17 23:31] iainrm opened #744 "[Feature Request] Widescreen HUD Scalar"
I really like the minimalist aspects of both widescreen huds (both the standard one and the Doom 2016-style alternative), but I'm not too keen on how small they look on the screen. I like having big numbers and icons to make gauging my health, armor, and ammo at a glance. Would it be possible to implement a cvar that scales the size of the widescreen HUD elements? I'd love this especially for WADs

[2022-08-18 05:49] bradharding commented on #743
Hi! DR supports all vanilla, limit removing, BOOM, MBF and MBF21 compatible maps (so most PWADs that aren't specifically designed for ZDoom). Sigil and the Master Levels both work fine for me, so I suspect you may be doing something wrong. How are you loading the wads? From the command-line? Using the WAD launcher?

Glad that the 64-bit issue is fixed.

[2022-08-18 13:27] #743 closed

[2022-08-18 13:27] SilentMRG commented on #743
Hello Brad!

In fact, I was loading the wrong WAD. I loaded another WAD from DOOM II and now everything works fine. I also added in the shortcut the parameter: -iwad I saw somewhere that this is necessary to load some WADs.

Yes, the 64-bit version works like a charm! And your FontedePorta is the best of all! There are even missing words to describe how good it is!

[2022-08-19 07:39] bradharding commented on #744
Because of how everything in DR is scaled either 1x or 2x, scaling the elements of the widescreen HUD makes it look way too big in it's current configuration (that is, player face on top of health). I may look at having the health alongside the player face as DR was originally). For the alternate HUD though, I'll look into increasing the size of all elements by 25% to 50% (although it may not make

[2022-08-19 13:27] qindapao commented on #741
The problem is encountered again.

https://user-images.githubusercontent.com/109883544/185628771-e413d63f-a570-436f-96c6-ee1681c7251c.mp4

This time it's Doom 2: Anomaly Report wads map 20

[2022-08-19 21:25] bradharding commented on #741
Thank you for this. I am investigating, but haven't been able to replicate yet on PC. It's possible it may be a bug exclusive to Delta Touch, but I don't know how. (BTW Are you the same person who sent me a DM on Twitter?)

[2022-08-19 23:08] qindapao commented on #741
This problem is not 100% on the phone, There is a certain chance.  I don't think I sent you a message on twitter. it could be someone else.
I used to like to use PRBOOM +, But now I prefer to use the Doom Retro, More like the feel of the original Doom, Thank you for your great work.

[2022-08-19 23:12] qindapao commented on #741
If this is a delta touch-specific bug, Do I need to give feedback to delta touch's code transplant staff ?
I don't really understand how they port your code to the Android platform.

[2022-08-20 07:14] bradharding commented on #741
Looking into this further, I suspect a change I happened to make over 2 weeks ago [here](https://github.com/bradharding/doomretro/commit/a69000db4090edab46e1205d942d972c473ea00c) fixes the issue. Version 4.6 of DR will be released very soon with that fix, and I guess Delta Touch will include it at its developer's discretion soon after that.

[2022-08-20 07:29] qindapao commented on #741
Thank you. I'll test it on the same wads when the new version is updated.

[2022-08-22 18:59] krazov opened #745 "John Romero's Sigil doesn't open in Doom Retro 4.6"
### Description

John Romero's Sigil doesn't open in Doom Retro 4.6. It exits to Windows with a message: "M_EPI5 not found!"

![image](https://user-images.githubusercontent.com/9447478/185997763-f746b7c0-4ddd-4d05-a374-b2512ed40f28.png)

### Steps to reproduce

1. Run Doom Retro with "The Ultimate Doom" and SIGIL_v1_21.wad
2. Go to a new game
3. The game crashes

[2022-08-23 05:46] bradharding commented on #745
How exactly are you doing step 1? If I open doom.wad and SIGIL_v1_21.wad both in DR's launcher, M_EPI5 is present and I can start it fine. If I do -iwad doom.wad -file SIGIL_v1_21.wad, it still works.

[2022-08-23 08:27] krazov commented on #745
I am using ZDoom Launcher, which, I suppose is doing `-file` thing. I used to do that like that before, and it worked, and it's the same ZDL (I don't think there are new versions). I'll try the command line directly today, and let you know.

(And yeah, I tried COMPAT version too, but it didn't work either. However, I don't remember now why.)

[2022-08-24 09:07] bradharding commented on #745
Could you please provide the contents of the command-line ZDL is generating (ZDL -> Actions -> Show Command Line)?

[2022-08-24 09:08] krazov commented on #745
Will do.

[2022-08-24 16:59] krazov commented on #745
I found out what happened. I had Sigil in a subfolder named `Skończone` (_finished_ in Polish). I renamed it to `Skonczone`, and it loaded with no issues.

[2022-08-25 06:59] bradharding commented on #745
Ah, ok. It looks like I have some work to do with paths with non-Latin characters then.

[2022-08-25 09:48] krazov commented on #745
I updated the ticket to better reflect the issue.

[2022-09-05 02:13] DoomTheRobot opened #746 "[Bug Report?] UMAPINFO "Bossaction" value isn't supported/does not work"
Basically: title.

I'm working on a mapset that requires use of UMAPINFO to allow the Arachnotron tag 667 trigger to work on a map that isn't MAP07. I understand that Doom Retro has "partial support" for UMAPINFO, but I was not aware (and surprised) that bossactions was one of those things that was not included.

Here is a [test WAD](https://cdn.discordapp.com/attachments/124691065528778755/101616

[2022-09-05 06:38] bradharding commented on #746
Yes, MAPINFO support is incomplete at this stage. Currently I am working on fixing the wrapping/scrolling issues with the console, as well as some minor issues with quickloading, but after that, and assuming I'm not distracted by some other thing 😜, I'll work on improving `[U]MAPINFO` support, starting with `bossaction`, for the next release.

[2022-09-12 01:55] andrikpowell opened #747 "[Bug / Feature Request] Desynced Flat Animations"
Hey Brad,

There's a certain effect that I'd like do have working in all ports, but I'm having trouble getting all ports to be consistent with it.

I was wondering if you knew exactly how FLAT animations are timed, and if there'd be any way to sync them consistently between ports.

The map i'm testing is here (MAP25): [200 Line Massacre WIP](https://drive.google.com/file/d/1dhWvZP4Us4y3f0XZP6R_pwx

[2022-09-12 06:11] bradharding commented on #747
Thanks for the report. I'll look into this when I can. Could it be an interpolation issue? What happens if you set `vid_capfps` to `35`?

[2022-09-14 22:38] jeffdoggett commented on #747
My port also suffers from this problem Brad.

I've attempted a fix, which seems to work, but I have no real idea whether it's actually a valid solution.

https://github.com/jeffdoggett/Doom/commit/e2e0e69d367f748b235fa3c4b81e5fb4b042ce52

[2022-09-15 06:10] bradharding commented on #747
Thanks Jeff. Doesn't work for me unfortunately. I'll keep looking.

[2022-09-15 06:51] JNechaevsky commented on #747
Small note: ports which does not suffer desync have `ANIMATED` lump included to port's pwad (like dsda-doom.wad and prboom.wad), Woof and ID does not have it, and suffers desync as well.

Take a try Jeff's solution with this pwad, which includes `ANIMATED` lump from DSDA ([anim-lump.zip](https://github.com/bradharding/doomretro/files/9572602/anim-lump.zip)), desync will be fixed.

But what to w/o

[2022-09-15 21:09] bradharding commented on #747
Actually, I'm not sure what I was doing last night wrong last night, but @jeffdoggett, you're solution does work in DR! Thank you! And thank you too @JNechaevsky for also looking into this!

[2022-09-15 21:54] andrikpowell commented on #747
So there's a slight problem with the solution you came up with @bradharding. While it does solve the checkerboard flat in map25 of my 200lnm wad. The changing colour teleport is off. The reason is because I've been using the logic that vanilla uses when it comes to flat animations.

To get the colour teleport animation flat to sync with the colour checkerboard animation flat, I had to desync the t

[2022-09-15 22:06] andrikpowell commented on #747
I would suggest looking at Crispy Doom (_maybe_), since it seems like their animations are synced.

Here's an example of what I mean (just recorded from latest DR build):
[https://www.youtube.com/watch?v=y8RFXeOK56M](https://www.youtube.com/watch?v=y8RFXeOK56M)

[2022-09-16 02:18] bradharding commented on #747
Oh well. I'll keep looking then. I've had a look at Crispy's p_spec.c, and have tried a variety of things, but without success. BTW your teleport desyncs in PrBoom+ as well.

[2022-09-16 08:19] andrikpowell commented on #747
@bradharding just to clarify real quick.

With the current version of my wad, i've somehow got it to sync up with Chocolate Doom / Crispy Doom and also DSDA Doom / PrBoom+ (UMAPINFO 2.6.2).

It shouldn't make a difference, but this is an updated version of the wad, with that map mostly completed:
[200 Line Massacre WIP](https://drive.google.com/file/d/1dhWvZP4Us4y3f0XZP6R_pwxCS9z7io7i/view?usp=sha

[2022-09-17 23:22] Sol1vaN opened #748 "[BUG] wheelup, wheeldown don't work as expected"
Hi there,

I've found a problem with wheelup, wheeldown binds.
When you bind some action to this controls (wheelup, wheeldown) nothing happen.

I've probed with +weapon1 and +fire, and this don't work.

ex:
`bind wheelup +weapon1`

[2022-09-18 10:57] andrikpowell commented on #747
Hey @bradharding,

I found a way to get both flats to be synced from the beginning frame:
[200 Line Massacre WIP](https://drive.google.com/file/d/1dhWvZP4Us4y3f0XZP6R_pwxCS9z7io7i/view?usp=sharing)

I think the way that you solved it, with the commit f030d23 is honestly the best way to go, in my opinion.

Since it's pretty much the way ZDoom ports deal with it as well.

So now I guess I'll try ask

[2022-09-18 11:05] rfomin commented on #747
What, no, I like your WADs and all the bug reports 😄 PrBoom+ is in "maintenance" mode and Eternity is not very active, but I will try to fix it in Woof for sure.

[2022-09-18 23:19] andrikpowell commented on #747
Sorry about my comment. I guess I've just kinda had bad experiences while talking to source port devs. Brad's prob one of my fav devs to work with, since he's pretty open and lets me know if there's a reason he doesn't wanna implement something.

rformin, you're prob a pretty cool dude, I just haven't talked to you enough to find out.

Not to get into controversy, but my experiences with other dev

[2022-09-18 23:46] andrikpowell opened #749 "[Bug] Donut Linedef Action 9 doesn't work correctly in Doom Retro"
Hey Brad,

Sorry but I found another bug or something.
Quite honestly it could the Vanilla action for donut that is kinda bugged, but it's bugged nature works in Woof, DSDA Doom, Eternity... But not in Doom Retro or ZDoom ports.

Since there's so many legacy ZDoom ports (like ZDoom, Zandronum, and ZDaemon), for those ports I decided to make a special version of the map that doesn't use the donut a

[2022-09-19 01:41] rfomin commented on #747
Their previous stable release was in 2021, I guess they don't have much time/energy to release more often these days.

As for other controversies, people tend to forget that these are hobby projects, and it's strange to demand developers to work on a feature they don't like. I may be biased, but I find that most source port developers are nice people 😄

[2022-09-19 06:14] bradharding commented on #747
Ah! That's great. We can close this then. (And to clarify, it was @jeffdoggett who came up with this solution. 😉)

I will only say that yeah, I've had some eye-rolling experiences with one or two, but overall I agree with @rfomin: we _are_ nice people! (I, for one, think I'm f**kin' delightful! 😛)

[2022-09-19 06:14] #747 closed

[2022-09-20 08:33] RolandMarchand opened #750 "[Discussion] Remove the White Screenshot Flash"
Hello Brad,
<br>
I was working on hiding game messages during screenshots, but another issue is annoying me even more.
When taking screenshots in quick succession (as one would in a heated game), [a white flash residue would ruin it.](https://user-images.githubusercontent.com/90345171/191190459-c659cd1e-228a-4504-a8aa-8a8cf603c8e4.png)

I tried to clear `fadescreen` and to redraw the screen at eac

[2022-09-21 06:13] bradharding commented on #750
Hi Roland,

Thanks for looking into this. As minor a feature as it is, I'd personally prefer to keep the flash (as it accompanies the shutter sfx). I'll have a look further into it myself over the coming days to see what can be done.

[2022-09-22 00:24] bradharding commented on #749
Does 7a49b84fc72399c29cbcb816a783b253e5cfc324 fix this for you?

[2022-09-22 00:34] andrikpowell commented on #749
I tried the new build with `compat_floormove` under MAP35, and the same issue persists.

It instantly raises the middle blood sector, but doesn't lower the outside sector nor the teleport with the switch on it.

[2022-09-22 00:38] andrikpowell commented on #749
Edit: I learned something! The donut action works differently in Boom than in Vanilla Doom. Right now ZDoom ports and Doom Retro are using the Boom way of dealing with donuts which makes work differently than Vanilla.

[2022-09-24 07:42] RolandMarchand commented on #750
Here is an idea. When the player takes a screenshot, `V_ScreenShot()` is called and the game loop will be stuck in a loop, which will end when the screenshot file is found. That way, we can guarantee that SDL will have all the time needed to capture the screen's image.
<br>
The issue with this solution is that we would mess with an important part of the engine for a trivial reason, and it will fre

[2022-10-02 04:22] HerrDethnout opened #751 "Voxel, Alpha bobbing and Custom HUD support"
Why not? heh

As for the Voxel Support, we talked about it in the Doomworld thread: [https://www.doomworld.com/forum/post/2539088](url) just adding it for keeping the record on github

Also Alpha bobbing and custom HUD would be great addition, I love how the alpha bobbing looks (up down movement than down up) and it's used in a lot of Gameplay Mods on Zdoom (D4T, Trailblazer and Brutal Doom/Projec

[2022-10-12 13:17] RavenMacDaddy opened #752 "Performance issue: Intermittent stuttering spikes"
_Is there any way to produce a log that would help you get to the bottom of the cause?_

**Things to note**:

* I'm running the game with an unlocked frame rate (to get the lowest possible input lag, as well as the best presentation – that's the short reasoning to why).

Although, thanks to the specs below, this doesn't mean that any resources are tanked (e.g., the GPU is running at like 35% utili

[2022-10-12 13:29] RavenMacDaddy opened #753 "Feature request: Pause on lost focus"
E.g., when the user presses ALT-TAB or the WIN key on a Windows machine, out of the app.

[2022-10-12 13:41] RavenMacDaddy opened #754 "Bug – Visual: Monsters clipping through (crushing) ceilings"
![Crusher, The](https://user-images.githubusercontent.com/67732686/195358416-5de58aeb-97c5-4f95-a932-343afec19c95.png)

[2022-10-12 13:50] RavenMacDaddy opened #755 "Feature request: Ability to choose vanilla behavior when switching to weapon slot 3 (the shotgun slot)"
That's, switching to the highest tier of shotgun; the super shotgun in the case of DOOM II, when the player presses 3 on their keyboard (or whatever key is mapped).

I totally get the intentions with switching to the shotgun that was selected last when the player switches back to the slot, however for players with a very ingrained muscle memory it becomes short of a nightmare sometimes.

(Not real

[2022-10-12 15:51] RavenMacDaddy opened #756 "Question: Vertical aiming is very limited – is this intentional?"
For example, whether using mouselook to deliberately aim at something vertically – or relying on autoaim alone – the vertical aiming can only go so far, meaning the player has to physically reposition themselves in order to hit their intended target.

This is especially noticeable when trying to hit something that's (very) close to the player.

---

This is very easy to test: E1M1 on UV after you'

[2022-10-13 04:50] bradharding commented on #756
I'll have a closer look at the relevant code but as far as I can tell, the vertical aiming (that is, with autoaim on) is the same as vanilla.

As for when mouselook is on, the extent at which you can look up/down is restricted, as it is in other software ports, to reduce y-shearing.

[2022-10-13 04:51] bradharding commented on #755
Thanks. I'll consider this.

[2022-10-13 04:52] bradharding commented on #753
This should be happening. I'll look into it. Thanks.

[2022-10-13 04:57] bradharding commented on #752
Could you please confirm a few things?
Does it happen in both OpenGL and Direct3D (see the `vid_scaleapi` CVAR)?
If you switch to vanilla mode do you still experience the stutter?
Any stutter if you go full widescreen without the HUD?

[2022-10-13 06:07] RavenMacDaddy commented on #752
Luckily, this was easy to figure out – simply changing to Direct3D as the scaling API stopped any noticeable stuttering, so something weird is going on with OpenGL.

[2022-10-15 05:27] #753 closed

[2022-10-16 23:45] vogonsorg opened #757 "Included SDL 2.24.0 breaks XP compatibility"
2.24.1 fixes it
https://github.com/libsdl-org/SDL/releases

Verified 10-16-2022

[2022-10-17 05:00] bradharding commented on #757
The next version of DR will be released with SDL v2.24.1: see 143ff284afb1169ec09fa858e2a6bbee7cb79efe.

[2022-10-17 05:00] #757 closed

[2022-10-21 19:47] andrikpowell commented on #749
Hey Brad, it seems that Graf may have fixed this in GZDoom by adding it to the `compat_floormove` compatibility option (however I haven't tested the new GZDoom build to confirm it works):
https://github.com/ZDoom/gzdoom/commit/54e02012046983608df863ddb2e63222bb536ed6

[2022-10-21 20:38] bradharding commented on #749
Thanks. I'll apply the change to DR as well, and could you please kindly test?

[2022-10-21 21:07] andrikpowell commented on #749
So currently in Doom Retro it doesn't work.

I did also test in GZDoom and it kinda works. Let me explain. It only works in GZDoom, if the compatibility settings are set to **Doom (Strict)** enabling `compat_floormove`. But in GZDoom, at the moment the donut does not work correctly if it reads the `compat_floormove` in the ZMAPINFO. So essentially it doesn't seem to fix the donut in the MAPINFO ye

[2022-10-21 22:17] andrikpowell opened #758 "[Bug] Weird Purple Glitch Effect When Picking Up Items"
I have no idea what's going on here.
See the following video for better explanation:
[https://www.youtube.com/watch?v=mTR3MTQmNBk](https://www.youtube.com/watch?v=mTR3MTQmNBk)

Also the video shows me playing through the first 7-ish maps in Doom Retro.
I have some thoughts / bugs I noticed while playing:

1. there's a weird purple glitch effect when picking up items
2. the berserk overlay is REALL

[2022-10-22 00:30] bradharding commented on #758
Thanks @andrikpowell, this is a recent regression caused by trying to get Harmony's palette working (it happens regardless of WAD). I'll fix it soon. I believe the berserk effect is related, and I'll address the other issues later.

[2022-11-03 07:23] #100 closed

[2022-11-03 07:24] #144 closed

[2022-11-03 07:24] #165 closed

[2022-11-03 07:25] #179 closed

[2022-11-06 00:39] Calinou commented on #756
Most software-rendered source ports limit vertical aiming to 35 degrees upwards and 55 degrees downwards. Hardware-accelerated ports don't have to do this as they use polygons for rendering.

[2022-11-15 00:22] The-Dommo opened #760 "Make multiple keys dispay in one slot"
like gzdoom when you do idkfa and it shows the skull kew and keycard in one slot with the color corresponding to the slot
i made a github account just to bring this up im so done